/* Dashboard - task list */
#dashboardTasksCard {
	min-height: 532px;

	md-list-item {
		padding-left: 5px;

		&:hover {
			background-color: #F7F7F7;
			cursor: pointer;
		}

		md-icon {
			margin-right: 10px;
		}
	}
}


.dashboard-grid {	
	width: 90%;
	margin: 3rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
		
	.tile {
		flex-grow: 1;
		background: #eee;
		display: inline-block;
		width: 150px;
		height: 150px;		
    padding: 1rem;
    overflow: hidden;
		margin: .25rem;
	}
}