<md-toolbar>
    <span class="md-toolbar-tools" flex layout="row">
        <!-- <md-button class="md-icon-button" ng-click="gotoLandingPage()" aria-label="Home">
            <md-icon>home</md-icon>
        </md-button> -->

        <md-button class="md-icon-button" ng-click="toggleAppDrawer()" aria-label="{{ 'APP' | translate }}">
            <md-icon>apps</md-icon>
            <md-tooltip md-direction="bottom" md-delay="500">{{'APP' | translate}}</md-tooltip>
        </md-button>

        <span class="truncate">{{title}}</span>

        <span flex></span>

        <od-searchbar hide show-gt-sm></od-searchbar>

        <span flex></span>

        <span>
            <span hide show-gt-md>{{user.firstName}} {{user.lastName}}</span>

            <md-button class="md-icon-button" ng-click="toggleSystemSettings()" aria-label="{{'ADMIN.SYS_SETTINGS.SETTINGS' | translate}}" ng-if="user.capabilities.isAdmin">
                <md-icon>settings</md-icon>
                <md-tooltip md-direction="bottom" md-delay="500">{{'ADMIN.SYS_SETTINGS.SETTINGS' | translate}}</md-tooltip>
            </md-button>

            <md-button class="md-icon-button" ng-click="toggleNotifications()" aria-label="{{ 'NOTIFICATION.NOTIFICATIONS' | translate }}">
                <md-icon>notifications</md-icon>
                <span ng-if="unseenNotifications > 0" class="od-notifications--counter">{{unseenNotifications}}</span>
                <md-tooltip md-direction="bottom" md-delay="500">{{'NOTIFICATION.NOTIFICATIONS' | translate}}</md-tooltip>
            </md-button>

            <md-button class="md-icon-button" ng-click="toggleUserPanel()" aria-label="{{ 'USER' | translate }}">
                <md-icon>person</md-icon>
                <md-tooltip md-direction="bottom" md-delay="500">{{'USER' | translate}}</md-tooltip>
            </md-button>
        </span>
    </span>
</md-toolbar>