<md-dialog aria-label="upload-files" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'COMMON.NEWVERSION' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="DAC.cancelDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding" style="padding-top: 30px;">
        <input type="file" ngf-select ng-model="newVersion">
    </md-dialog-content>

    <md-dialog-actions>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="DAC.uploading"></md-progress-circular>
        </div>
        <button class="md-button md-primary" ng-click="DAC.uploadNewVersion(newVersion)" ng-disabled="newVersion == undefined || DAC.uploading">
            <md-icon>file_upload</md-icon> {{'COMMON.UPLOAD' | translate}}
        </button>
    </md-dialog-actions>
    </form>
</md-dialog>
