
<md-dialog aria-label="Rediger" ng-cloak>
    <form name="editTitleForm" ng-submit="modalVm.editFirstPost(postItem,postItem.title,postItem.content)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.EDIT' | translate}} {{'DISCUSSIONS.TITLE' | translate | lowercase}}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="modalVm.cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout='column'>
            <md-input-container>
                <label>{{'DISCUSSIONS.TITLE' | translate}}</label>
                <input type="text" name="postTitle" required ng-model="postItem.title" required md-autofocus>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-disabled="editTitleForm.$invalid" type="submit" class="md-primary">{{'COMMON.EDIT' | translate}}</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
