
<md-dialog aria-label="Rediger" ng-cloak>
    <form name="newReplyForm" ng-submit="vm.editReply(postItem,changedContent)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.EDIT' | translate }} 
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout='column'>
            <ck-editor ng-if="vm.loaded" value="postItem.content" callback="ckEditorCallback"></ck-editor>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-disabled="newReplyForm.$invalid" type="submit" class="md-primary">{{'COMMON.EDIT' | translate}}</md-button>
        </md-dialog-actions>

        
    </form>
</md-dialog>