<div>
    <md-card flex="grow">
        <md-card-title>
            <h2 class="od-title-icon">
                <md-icon>settings</md-icon>Konfiguration</h2>
        </md-card-title>
        <md-card-content>
            <ul dnd-list="vm.config.dash">
                <li ng-repeat="item in vm.config.dash" dnd-draggable="item" dnd-moved="vm.config.dash.splice($index, 1)" dnd-effect-allowed="move"
                    dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                    <dnd-nodrag>
                        <div dnd-handle class="handle">:::</div>
                        <div class="name">
                            <input type="text" ng-model="item.label" form-control input-sm">
                        </div>
                    </dnd-nodrag>
                </li>
            </ul>
            <md-list>
                <md-list-item ng-repeat="(key, value) in vm.config.public">
                    <p>{{'CONFIGURATION.public.' + key | translate}}</p>
                    <md-input-container>
                        <input ng-if="isString(value)" class="md-secondary" ng-model="vm.config.public[key]" title="value">
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-repeat="(key, value) in vm.config" ng-if="!isObject(value)">
                    <p>{{'CONFIGURATION.' + key | translate}}</p>
                    <md-input-container>
                        <md-switch ng-if="isBoolean(value)" class="md-secondary" ng-model="vm.config[key]"></md-switch>
                    </md-input-container>
                </md-list-item>

                <!-- <md-list-item ng-repeat="(key, value) in vm.config.dashboardLinks">
                    <p>{{'CONFIGURATION.LINK_TO' | translate}} {{'CONFIGURATION.dashboardLinks.' + key | translate}}</p>
                    <md-input-container>
                        <input ng-if="isString(value)" class="md-secondary" ng-model="vm.config.dashboardLinks[key]" title="value">
                    </md-input-container>
                </md-list-item> -->
            </md-list>

            <md-list>
                <md-list-item ng-repeat="(key, value) in vm.config.dash">
                    <md-input-container>
                        <input class="md-secondary" ng-model="value.icon" title="value">
                    </md-input-container>
                    <md-input-container>
                        <input class="md-secondary" ng-model="value.label" title="value">
                    </md-input-container>
                    <md-input-container>
                        <input class="md-secondary" ng-model="value.url" title="value">
                    </md-input-container>
                    <md-input-container>
                        <md-switch class="md-secondary" ng-model="value.newWindow"></md-switch>
                    </md-input-container>
                </md-list-item>
            </md-list>

            <md-button class="md-primary md-raised" ng-click="vm.updateSettings()">
                <i class="material-icons">save</i>
                Gem</md-button>
        </md-card-content>
    </md-card>
</div>