
.types-demo {
  .margin-fix {
    margin: 16px 0 0 0;
  }

  ul[dnd-list],
  ul[dnd-list]>li {
    position: relative;
  }

  ul[dnd-list] {
    min-height: 42px;
    padding-left: 0;
    
    .dndDraggingSource {
      display: none;
    }

    .dndPlaceholder {
      background-color: #ddd;
      display: block;
      min-height: 42px;
      padding: 10px 15px;
    }

    li {
      display: block;
      margin-bottom: -1px;
      // Disable text selection if item is not draggable
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:nth-child(even) {
        background-color: #eee;
      }

      dnd-nodrag {
        display: block;
        // padding: 10px 15px;
      }
    }
  }

  .handle {
    cursor: move;
    position: absolute;
    top: 22px;
  }

  md-input-container {
    margin: 16px 0 0 0 !important;

    md-switch {
      margin: 0;
    }
   }
}