/*
 * Search styles
 */

od-searchbar {

  .od-search {

    form {
      min-width: 350px;
      width: 35%;
    }

    md-icon {
      color: $gray-60;
      left: $u * 2;
      position: relative;
      z-index: 1;
    }

    input { 
      padding-left: $u * 2;
    }
  }
}
