/*
 * Search styles
 */

od-searchbar {
  md-input-focused {
    border: 0 !important;
  }

  .od-search {
    left: calc(50vw - 175px);
    padding-top: 10px;
    position: absolute;
    top: 0;
    z-index: 2;

    form {
      background: $white;
      border-radius: .25em;
      height: 30px;
      margin-bottom: $u;
      margin-right: $u * .5;
      position: relative;
      width: 350px;
    }

    md-icon {
      color: $gray-60;
      left: 5px;
      position: absolute;
      top: 3px;
    }

    input {
      border-radius: .25em;
      padding: .5rem .5rem .5rem 2rem;
    }

    label {
      padding-bottom: 3px;
      padding-left: $u * 2 !important;
    }
  }
}
