.od-notifications {

}

.od-notifications--toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  height: $u*3;
  width: $u*3;
  padding: 0;
}

.od-notify-btns {
  right: 0;
  padding-top: $u;
  padding-right: $u * 0.5;
  padding-left: $u * 0.5;
  display: block;
  width: 30px;

  button {
    font-size: $u/2 !important;
    padding: 2px;
    border: none;
    background: transparent;
    color: $main-color;
    float: right;
  }
}

.od-notifications--close {
  position: absolute;
  top: 0;
  right: 0;
}

.od-notifications--counter {
  display: block;
  position: absolute;
  top: $u*0.25;
  right: $u*0.25;
  font-size: $u*0.75;
  color: #fff;
  background-color: adjust-hue($main-color, 120deg);
  padding: $u*0.25;
  border-radius: $u*0.25;
}

.od-notifylist {
  list-style: none;
  overflow: scroll;
}

.od-notifylist,
.od-notifylist--item--notice,
.od-notifylist--item--desc, {
  margin: 0;
  padding: 0;
}

.od-notifylist--item {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: space-between;
  background-color: #ddd;
  margin-top: 1px;
}

.od-notifylist--item--link,
.od-notifylist--item--nolink {
  padding: $u;
  width: 100%;
}

.od-notifylist--item--link {
  cursor: pointer;
  &:hover,
  &:active {
    background-color: #ccc;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}

.od-notifylist--item--notice {
  font-size: $u;
  font-weight: bold;
}

.od-notifylist--item--desc {
  font-size: $u*0.9;
  color: #666;
  padding-top: $u*0.25;
  padding-bottom: $u*0.25;
}

.od-notifylist--item--date {
  color: #999;
  padding-top: 0px;
}

.od-notifylist--item--close {
  flex: 0 0 auto;
  background-color: transparent;
  color: $main-color;
}

.od-notifylist--item--read {
  background: #eee;

  .od-notifylist--item--read-btn {
    display: none;
  }
}