<div layout class="admin_sub_menu">
    <md-card flex="20">
        <md-card-content layout>
            <md-list>
                <md-subheader class="md-no-sticky">{{ 'ADMIN.SYS_SETTINGS.SETTINGS' | translate}}</md-subheader>
                <md-list-item ng-repeat="sysSetPage in vm.pages" ng-if="!sysSetPage.isAdminOnly || vm.isAdmin" ui-sref="{{sysSetPage.sref}}" ui-sref-active="active">
                    <md-icon class="md-default-theme" class="material-icons">{{sysSetPage.icon}}</md-icon>
                    <p>{{ sysSetPage.labelKey | translate}}</p>
                </md-list-item>

                <a class="od-filebrowser-link" href="#!/projekter/{{vm.shortName}}">Dokumentskabeloner</a>

            </md-list>
        </md-card-content>
    </md-card>

    <div flex="grow" ui-view="systemsetting-view"></div>
</div>

