<md-content layout="column">

    <div class="sub-toolbar" layout-padding>
        <h1 class="md-headline">{{ 'ADMIN.ADMINISTRATION_PAGES' | translate }}</h1>
    </div>

    <div layout class="admin_sub_menu">
        <md-card flex="20">
            <md-card-content layout>
                <md-list>
                    <md-list-item ng-repeat="sysSetPage in vm.pages" ng-if="!sysSetPage.isAdminOnly || vm.isAdmin" ui-sref="{{sysSetPage.sref}}" ui-sref-active="active">
                        <md-icon class="md-default-theme" class="material-icons">{{sysSetPage.icon}}</md-icon>
                        <p>{{ sysSetPage.labelKey | translate}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <div flex="grow" ui-view="systemsetting-view"></div>
    </div>

</md-content>