<md-dialog>
     <md-dialog-content>
         <span class="md-headline">Flyt ansøgninger </span>
         <div class="selection-container">
             <!--TODO: Set selectors' initial values to values of application-->
             <div layout="row"
                  layout-align="space-between center">
                 <span>Flow</span>
                 <md-select ng-model="self.selectedFlow"
                            ng-change="self.workflowChange()"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-repeat="workflow in self.activeWorkflows"
                                ng-value="workflow">
                         {{workflow.title}}
                     </md-option>
                 </md-select>
             </div>

             <div ng-if="self.branches.length > 1"
                  layout="row"
                  layout-align="space-between center">
                 <span>Bankområde</span>
                 <md-select placeholder="Intet valgt"
                            ng-model="self.selectedBranch"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-repeat="branch in self.branches"
                                ng-value="branch.title">
                         {{branch.title}}
                     </md-option>
                 </md-select>
             </div>


             <div layout="row"
                  layout-align="space-between center">
                 <span>Stadie</span>
                 <md-select placeholder="Intet valgt"
                            ng-model="self.selectedState"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-repeat="year in self.years"
                                ng-value="year">
                         Stadie{{year}}
                     </md-option>
                 </md-select>
             </div>

             <div layout="row"
                  layout-align="space-between center">
                 <span>Budgetår</span>
                 <md-select placeholder="Intet valgt"
                            ng-model="self.selectedYear"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-repeat="year in self.years"
                                ng-value="year">
                         {{year.startDate.substring(0, 4)}} til {{year.endDate.substring(0, 4)}}
                     </md-option>
                 </md-select>
             </div>
         </div>
     </md-dialog-content>
    <md-dialog-actions layout="row">
    <!--TODO: Save and cancel buttons-->
    <!--TODO: First update application values on submit-->
        <md-button ng-click="self.cancel()">
            Annuller
        </md-button>
        <span flex></span>
        <md-button ng-click="self.apply()" class="md-primary">
            Flyt ansøgning
        </md-button>
    </md-dialog-actions>
</md-dialog>
