<md-dialog>
     <md-dialog-content>
         <span class="md-headline">Flyt ansøgninger</span>
         <div class="selection-container">
             <!--TODO: move ng-if logic to javascript-->
             <div ng-if="vm.selectedBranch == null && vm.selectedYear == null"
                  layout="row"
                  layout-align="space-between center">
                 <span>Flow</span>
                 <md-select placeholder="Intet valgt"
                            ng-model="vm.selectedFlow"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-value="null">Intet valgt</md-option>
                     <md-option ng-repeat="workflow in vm.activeWorkflows"
                                ng-value="workflow.title">
                         {{workflow.title}}
                     </md-option>
                 </md-select>
             </div>

             <!--TODO: Implement selector for Central and Lokal-->
             <div ng-if="vm.selectedFlow == 'Central'"
                  layout="row"
                  layout-align="space-between center">
                 <span>Proof of concept: Central</span>
                 <md-select placeholder="Intet valgt"
                            ng-model="vm.selectedBranch"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-value="null">Intet valgt</md-option>
                     <md-option ng-repeat="branch in vm.branches"
                                ng-value="branch.title">
                         {{branch.title}}
                     </md-option>
                 </md-select>
             </div>

             <div ng-if="vm.selectedFlow == null && vm.selectedYear == null"
                  layout="row"
                  layout-align="space-between center">
                 <span>Bankområde</span>
                 <md-select placeholder="Intet valgt"
                            ng-model="vm.selectedBranch"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-value="null">Intet valgt</md-option>
                     <md-option ng-repeat="branch in vm.branches"
                                ng-value="branch.title">
                         {{branch.title}}
                     </md-option>
                 </md-select>
             </div>


             <div ng-if="vm.selectedFlow == null && vm.selectedBranch == null"
                  layout="row"
                  layout-align="space-between center">
                 <span>Budgetår</span>
                 <md-select placeholder="Intet valgt"
                            ng-model="vm.selectedYear"
                            ng-model-options="{trackBy: $value.nodeID}">
                     <md-option ng-value="null">Intet valgt</md-option>
                     <md-option ng-repeat="year in vm.years"
                                ng-value="year">
                         {{year}}
                     </md-option>
                 </md-select>
             </div>
         </div>
     </md-dialog-content>
    <md-dialog-actions>
    <!--TODO: Save and cancel buttons-->
    </md-dialog-actions>
</md-dialog>