{
  "extends": [
    "standard"
  ],
  "plugins": [
    "standard"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 2,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "curly": ["error", "multi", "consistent"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "always",
      "asyncArrow": "always"
    }],
    "eqeqeq": [2, "smart"],
    "newline-per-chained-call": ["error", {
      "ignoreChainWithDepth": 2
    }]
  },
  "globals": {
    "angular": true,
    "$": true
  }
}
