<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="notifications">

    <md-toolbar>
        <span class="md-toolbar-tools" layout="row">
            <h1>{{'NOTIFICATION.NOTIFICATIONS' | translate}}</h1>
            <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.close()" aria-label="{{ 'COMMON.CLOSE' | translate }}">
            <md-icon>keyboard_arrow_right</md-icon>
        </md-button>
        </span>
    </md-toolbar>

    <md-content class="od-sidenav-scroll-wrapper" layout-padding="">
        <ul class="od-notifylist">
            <li ng-repeat="notice in vm.notifications | orderBy:'-created'" class="od-notifylist--item" ng-class="(notice.read) ? 'od-notifylist--item--read' : ''">
                <span class="od-notifylist--item--link">
                    <a href="{{ notice.link }}" ng-click="vm.close();vm.setRead(notice.nodeRef)">
                        <h3 class="od-notifylist--item--notice">{{ notice.subject }}</h3>
                        <p ng-if="notice.type == 'review-request'" class="od-notifylist--item--desc">{{notice.from}} har bedt dig om at reviewe et dokument i projektet {{notice.project}}</p>
                        <p ng-if="notice.type == 'review-approved'"  class="od-notifylist--item--desc">{{notice.from}} har godkendt dit review i projektet {{notice.project}} med en kommentar</p>
                        <p ng-if="notice.type == 'review-rejected'"  class="od-notifylist--item--desc">{{notice.from}} har afvist dit review i projektet {{notice.project}} med en kommentar</p>
                        <p ng-if="notice.type == 'new-doc'"  class="od-notifylist--item--desc">{{notice.from}} har lagt et nyt dokument i projektet {{notice.project}}</p>
                        <p ng-if="notice.type == 'project'" class="od-notifylist--item--desc">{{notice.message}}</p>
                        <p ng-if="notice.type == 'new-reply'" class="od-notifylist--item--desc">{{notice.message}}</p>
                        <p ng-if="notice.type == 'new-discussion'" class="od-notifylist--item--desc">{{notice.message}}</p>
                        <p class="od-notifylist--item--desc od-notifylist--item--date">{{notice.created | customDate}}</p> 
                    </a>
                </span>
            </li>
        </ul>
    </md-content>
</md-sidenav>