<md-menu>
    <md-button class="md-icon-button" ng-click="$mdMenu.open()">
        <md-icon md-menu-origin>more_vert</md-icon>
    </md-button>

    <md-menu-content width="4">
        <md-menu-item ng-if="content.contentType == 'cmis:document'">
            <md-button ng-click="vm.downloadDocument(content.nodeRef, content.name)">
                <md-icon md-menu-align-target>get_app</md-icon>
                {{'COMMON.DOWNLOAD' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.contentType == 'cmis:document'">
            <md-button ng-click="vm.previewDocument(content.nodeRef)">
                <md-icon md-menu-align-target>search</md-icon>
                {{'COMMON.PREVIEW' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.onlyOfficeEditable && content.canEdit && content.contentType == 'cmis:document'">
            <md-button ng-click="vm.editInOnlyOffice(content.nodeRef)">
                <md-icon md-menu-align-target>edit</md-icon>
                {{'DOCUMENT.EDIT_IN' | translate }} {{'EDITORS.ONLYOFFICE' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.loolEditable && content.canEdit && content.contentType == 'cmis:document'">
            <md-button ng-click="vm.editInLibreOffice(content.nodeRef)">
                <md-icon md-menu-align-target>edit</md-icon>
                {{'DOCUMENT.EDIT_IN' | translate }} {{'EDITORS.LIBREOFFICE' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.msOfficeEditable && content.canEdit && content.contentType == 'cmis:document'">
            <md-button ng-click="vm.editInMSOffice(content.nodeRef)">
                <md-icon md-menu-align-target>edit</md-icon>
                {{'DOCUMENT.EDIT_IN' | translate }} {{'EDITORS.MSOFFICE' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.canMoveAndDelete && !isSite">
            <md-button ng-click="vm.shareDocumentDialog(content)">
                <md-icon md-menu-align-target>share</md-icon>
                {{'COMMON.SHARE' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.canEdit && content.contentType == 'cmis:document'">
            <md-button ng-click="vm.reviewDocumentsDialog($event, content.nodeRef)">
                <md-icon md-menu-align-target>playlist_add_check</md-icon>
                {{'COMMON.SEND' | translate }} {{'COMMON.TO' | translate | lowercase }} {{'COMMON.REVIEW' | translate | lowercase }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.canEdit && content.contentType == 'cmis:document'">
            <md-button ng-click="vm.uploadNewVersionDialog($event, content.nodeRef, content.parent)">
                <md-icon md-menu-align-target>file_upload</md-icon>
                {{'COMMON.NEWVERSION' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.canEdit && content.contentType != 'cmis:link'">
            <md-button ng-click="vm.renameContentDialog(content)">
                <md-icon md-menu-align-target>title</md-icon>
                {{'COMMON.RENAME' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.canMoveAndDelete">
            <md-button ng-click="vm.moveContentDialog(content.nodeRef, content.parentNodeRef)">
                <md-icon md-menu-align-target>compare_arrows</md-icon>
                {{'COMMON.MOVE' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.canMoveAndDelete && content.contentType == 'cmis:document'">
            <md-button ng-click="vm.copyContentDialog(content.nodeRef, content.parentNodeRef)">
                <md-icon md-menu-align-target>content_copy</md-icon>
                {{'COMMON.COPY' | translate }}
            </md-button>
        </md-menu-item>

        <md-menu-item ng-if="content.canMoveAndDelete">
            <md-button ng-click="vm.deleteContentDialog(content)">
                <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                {{'COMMON.REMOVE' | translate }}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>