<app-header></app-header>

<div class="od-projects" ng-controller="SearchController as ctrl">

    <h1 class="od-title">{{'SEARCH.SEARCH' | translate}}</h1>

    <div ng-include="'app/src/sites/view/search.tmpl.html'"></div>

    <div layout='row'>
        <md-card class="od-filter-sidebar transition" ng-class="showFilters ? 'flex-15' : ''" flex='0'>
            <md-card-content>

                <section class="facetgroup" data-ng-repeat="facet in facets" ng-if="(fullSearchResults.results | filter: search).length > 0">
                    <md-autocomplete 
					md-selected-item="selectedLead"
					md-selected-item-change="search[facet.shortname] === param ? search[facet.shortname] = undefined : search[facet.shortname] = param" 
					md-search-text="searchParam" 
					md-items="param in facet.array"
					md-item-text="param" 
					md-floating-label="{{facet.title}}"
					md-clear-button=true>
					<span md-highlight-text="searchParam">{{ param }} ({{ (fullSearchResults.results | filter: search | filter:count(facet.shortname, param)).length }})</span>
				</md-autocomplete>
                </section>
            </md-card-content>
        </md-card>

        <md-card flex>
            <md-card-content>
                <md-button aria-label="filter" class="md-icon-button" ng-click="toggleFilters()">
                    <md-tooltip ng-if="vm.project.type != 'PD-Project'" md-direction="top">{{'COMMON.FILTER' | translate}}</md-tooltip>
                    <md-icon>filter_list</md-icon>
                </md-button>

                <md-list class="">
                    <table class="od-members od-members-row od-project-table">
                        <col style="width:32px">
                        <col style="width:50%">
                        <col style="width:20%">
                        <col style="width:25%">
                        <thead fix-head>
                            <tr>
                                <th class="od-secondary" colspan="2" sort-table="title" sort-default="!reverse" title="Sortér kolonne">{{'PROJECT.NAME' | translate}}</th>
                                <th class="od-secondary" sort-table="manager.fullName" title="Sortér kolonne">{{'PROJECT.PROJECT' | translate}} / {{'PROJECT.GROUPROOM' | translate | lowercase}}</th>
                                <th class="od-secondary" colspan="2" sort-table="created" title="Sortér kolonne">{{'PROJECT.HISTORY' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in fullSearchResults.results | filter: search">
                                <td class="icon">
                                    <a class="od-filebrowser-link" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                        <i class="material-icons">
                                            <img class="md-avatar" 
                                                ng-src="app/assets/images/filetypes/{{item.thumbNailURL}}"
                                                onerror="this.src='app/assets/images/filetypes/generic-file-24.png'">
                                        </i>
                                    </a>
                                </td>
                                <td>
                                    <div ng-if="item.type == 'document'">
                                        <a title="{{ 'DOCUMENT.VIEW_DOCUMENT_DETAILS' | translate }}" class="od-filebrowser-link od-primary" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                            {{ item.displayName }}
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <a title="{{ 'DOCUMENT.VIEW_DOCUMENT_DETAILS' | translate }}" class="od-filebrowser-link" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                    {{ item.site }}
                                    </a>
                                </td>
                                <td>
                                    <div>
                                        <a title="{{ 'DOCUMENT.VIEW_DOCUMENT_DETAILS' | translate }}" class="od-filebrowser-link" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                        {{ "COMMON.MODIFIED_BY" | translate }} {{ item.modifiedBy }} {{ item.modifiedOn | date}}
                                        </a>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </md-list>
                <md-divider></md-divider>
            </md-card-content>
        </md-card>
    </div>
</div>

<app-footer></app-footer>