<div class="od-projects">

    <h1 class="od-title">{{ vm.project }}</h1>

    <div layout="row" layout-align="space-between center">
        <a class="md-button" href="#/projekter"><i class="material-icons">arrow_back</i> Tilbage til projekter</a>
    </div>

    <form name="doSearch" ng-submit="vm.getSearchresults(searchText);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Søgning</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>

                <md-autocomplete
                        required
                        md-input-name="autocomplete"
                        md-selected-item="searchQuery"
                        md-search-text="searchText"
                        md-items="r in vm.getAutoSuggestions(searchText)"
                        md-item-text="r.name"
                        md-floating-label="Hvad vil du søge efter?">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{r.name}}</span>
                    </md-item-template>
                    <div ng-messages="autocompleteForm.autocomplete.$error">
                        <div ng-message="required">Dette felt skal udfyldes</div>
                    </div>
                </md-autocomplete>



            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-primary">Søg</md-button>
        </md-dialog-actions>

    </form>

    <li ng-repeat="r in searchResults.data.items" layout="row" layout-align="space-between center">
        <span> {{ r.name }} , <i>Modified by</i> {{ r.modifiedBy }}

                    <button class="md-button"  ng-click="vm.downloadDocument(r.nodeRef, r.name)">download<i class="material-icons"></i></button>
					<button class="md-button"  ng-click="vm.previewDocument(r.nodeRef)">preview<i class="material-icons"></i></button>

        </span>
    </li>



</div>
