<app-header></app-header>

<div class="od-projects">

    <h1 class="od-title">{{'SEARCH.SEARCH' | translate}}</h1>

    <div layout='row'>
        <md-card ng-show="contentLength > 0" class="od-filter-sidebar transition" ng-class="showFilters ? 'flex-15' : ''" flex='0'>
            <md-card-content>

                <section class="facetgroup" data-ng-repeat="facet in facets" ng-if="(fullSearchResults.results | filter: search).length > 0">

                <md-input-container class="md-block">
					<label>{{facet.title}}</label>
					<md-select ng-model="search[facet.shortname]">
						<md-option ng-repeat="param in facet.array" value="{{ param }}">
							{{ param }} ({{ (fullSearchResults.results | filter: search | filter:count(facet.shortname, param)).length }})
						</md-option>
					</md-select>
				</md-input-container>
                </section>
            </md-card-content>
        </md-card>

        <md-card flex>
            <md-card-content>
                <md-button ng-show="contentLength > 0" aria-label="filter" class="md-icon-button" ng-click="toggleFilters()">
                    <md-tooltip ng-if="vm.project.type != 'PD-Project'" md-direction="top">{{'COMMON.FILTER' | translate}}</md-tooltip>
                    <md-icon>filter_list</md-icon>
                </md-button>

                <md-list>
                    <table ng-show="contentLength > 0" class="od-members od-members-row">
                        <col style="width:32px">
                        <col style="width:50%">
                        <col style="width:20%">
                        <col style="width:25%">
                        <thead fix-head>
                            <tr>
                                <th class="od-secondary" colspan="2" sort-table="title" sort-default="!reverse" title="Sortér kolonne">{{'PROJECT.NAME' | translate}}</th>
                                <th class="od-secondary" sort-table="manager.fullName" title="Sortér kolonne">{{'PROJECT.PROJECT' | translate}} / {{'PROJECT.GROUPROOM' | translate | lowercase}}</th>
                                <th class="od-secondary" colspan="2" sort-table="created" title="Sortér kolonne">{{'PROJECT.HISTORY' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in fullSearchResults.results | filter: search">
                                <td class="icon">
                                    <a class="od-filebrowser-link" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                        <i class="material-icons">
                                            <img class="md-avatar" 
                                                ng-src="app/assets/images/filetypes/{{item.thumbNailURL}}"
                                                onerror="this.src='app/assets/images/filetypes/generic-file-24.png'">
                                        </i>
                                    </a>
                                </td>
                                <td>
                                    <div ng-if="item.type == 'document'">
                                        <a title="{{ 'DOCUMENT.VIEW_DOCUMENT_DETAILS' | translate }}" class="od-filebrowser-link od-primary" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                            {{ item.displayName }}
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <a title="{{ 'DOCUMENT.VIEW_DOCUMENT_DETAILS' | translate }}" class="od-filebrowser-link" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                    {{ item.site }}
                                    </a>
                                </td>
                                <td>
                                    <div>
                                        <a title="{{ 'DOCUMENT.VIEW_DOCUMENT_DETAILS' | translate }}" class="od-filebrowser-link" ng-href="#!/dokument/{{item.nodeRef.replace('workspace://SpacesStore/', '')}}">
                                        {{ "COMMON.MODIFIED_BY" | translate }} {{ item.modifiedBy }} {{ item.modifiedOn | date}}
                                        </a>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </md-list>

                <div ng-if="isLoading" layout="row" layout-sm="column" layout-align="space-around" flex>
                    <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
                </div>

                <div layout="column" ng-show="contentLength == 0 && !isLoading">
                    <md-icon class="md-icon--large">library_books</md-icon>
                    <p class="md-display-1" style="text-align:center">{{'COMMON.NO_SEARCH_RESULTS' | translate}}</p>
                </div>

                <md-divider></md-divider>
            </md-card-content>
        </md-card>
    </div>
</div>

<app-footer></app-footer>