<div class="od-search" layout="row" layout-align='center center' ng-controller="SitesController as vm">
		
		<form name="doSearch" ng-submit="vm.getSearchresults(searchText);">
			<i class="material-icons">search</i>
			<md-autocomplete 
				md-input-name="autocomplete" 
				md-selected-item="searchQuery" 
				md-search-text="searchText" 
				md-items="result in vm.getAutoSuggestions(searchText)"
			    md-item-text="result.name" 
				md-floating-label="{{'SEARCH.DOCUMENTS' | translate }}"
				md-dropdown-items="5"
				md-menu-class="search-documents">
				<md-item-template>
					<div ng-click="vm.gotoPath(result.nodeRef)">
						<md-icon>
							<img class="md-avatar" 
                                ng-src="app/assets/images/filetypes/{{result.thumbNailURL}}"
                                onerror="this.src='app/assets/images/filetypes/generic-file-24.png'">
						</md-icon>
          			<span class="item-title">
           				 <span><strong>{{result.name}}</strong></span>
						<span class="item-metadata">
            				<span style="font-variant:small-caps"> {{'PROJECT' | translate | lowercase}}</span> {{result.site.title}}</>
            			</span>
         			 </span>
					</div>
        		</md-item-template>
				<div ng-messages="autocompleteForm.autocomplete.$error">
					<div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
				</div>
			</md-autocomplete>
		</form>

		<span ng-if="searchQuery.nodeRef ? vm.gotoPath(searchQuery.nodeRef): 0"></span>
	</div>