<md-dialog aria-label="upload-files" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
                <input id="upload" file-model="files" multiple="" type="file">
        </md-dialog-content>

        <md-dialog-actions>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" ng-show="uploading"></md-progress-circular>
            </div>
            <md-button class="md-primary" type="submit" ng-click="uploadFiles(files)" ng-disabled="uploading">
                <md-icon>file_upload</md-icon>
                {{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}
            </md-button>
        </md-dialog-actions>
</md-dialog>