<md-dialog aria-label="upload-files" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'COMMON.NEWVERSION' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding" style="padding-top: 30px;">
        <input type="file" id="uploadBtn" class="upload" file-model="file"/>
    </md-dialog-content>

    <md-dialog-actions>
        <button class="md-button md-primary" ng-click="uploadNewVersion(file)">
            <md-icon>file_upload</md-icon> {{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENT' | translate | lowercase}}
        </button>
    </md-dialog-actions>
    </form>
</md-dialog>