<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="appDrawer">

    <md-toolbar>
        <span class="md-toolbar-tools" layout="row">
                    <h1>{{'APPS' | translate}}</h1>
                    <span flex></span>
        <md-button class="md-icon-button" ng-click="nc.close()" aria-label="{{ 'COMMON.CLOSE' | translate }}">
            <md-icon>keyboard_arrow_right</md-icon>
        </md-button>
        </span>
    </md-toolbar>

    <md-content class="od-sidenav-scroll-wrapper" layout-padding="">
        test
    </md-content>
</md-sidenav>