<ng-template ng-if="field.layout == 'inline'">
  <strong ng-if="field.label">{{ field.label }}</strong>
  <md-datepicker ng-disabled="!isEditing.get() || field.readOnly" ng-model="field.value" data-fieldrule="toggle inverseToggle"/>
  <div class="od-field-hint" ng-if="field.hint && isEditing.get()" ng-bind-html="field.hint"></div>
</ng-template>
<ng-template ng-if="field.layout != 'inline'">
  <div ng-if="field.label">
    <strong>{{ field.label }}</strong>
  </div>
  <div>
    <md-datepicker ng-disabled="!isEditing.get() || field.readOnly" ng-model="field.value" data-fieldrule="toggle inverseToggle"/>
    <div class="od-field-hint" ng-if="field.hint && isEditing.get()" ng-bind-html="field.hint"></div>
  </div>
</ng-template>
