.od-fund-app-block-field {
  & + & {
    margin-top: 1em;
  }

  md-tab-content {
    padding-top: 1em;
  }

  table {
    border-collapse: collapse;

    td {
      background-color: #eee;
      border: 2px solid #fff;
      padding: 0.5em;
    }
  }
}

.opendesk-dl {
  display: grid;
  grid-gap: $u;
  grid-template-columns: 180px auto;

  &__term {
    float: left;
    font-weight: bold;
    padding-top: 6px;
    word-wrap: break-word;
  }

  &__definition {
    float: left;
  }
}