.od-fund-app-block-field {
  & + & {
    margin-top: 1em;
  }

  md-tab-content {
    padding-top: 1em;
  }

  table {
    border-collapse: collapse;

    td {
      background-color: #eee;
      border: 2px solid #fff;
      padding: 0.5em;
    }
  }
}
