<div class="opendesk-dl">
  <div class="opendesk-dl__term" ng-if="field.label">{{ field.label }}:</div>
  <div class="opendesk-dl__description">
    <md-input-container>
      <span ng-if="!isEditing.get()">{{ field.value }}</span>
      <input 
        type="text" 
        maximum-words-validation="3"
        ng-if="isEditing.get()" 
        ng-model="field.value" 
        aria-label="{{ field.label }}" 
        data-fieldrule="toggle inverseToggle"/>
    </md-input-container>
    <span>{{field_value_words_count}} / 100 words</span>
  </div>
</div>
