<div class="opendesk-dl">
  <div class="opendesk-dl__term" ng-if="field.label">{{ field.label }}</div>
  <div class="opendesk-dl__description">
    <md-input-container>
      <span ng-if="!isEditing.get()" ng-bind-html="field.value || 'FUNDS.FIELDS.NO_VALUE' | translate"></span>
      <textarea ng-if="isEditing.get()"
                type="text"
                ng-required="fieldIsRequired"
                ng-model="field.value"
                id="{{ vm.nodeID() }}"
                aria-label="{{ field.label }}"
                ng-pattern="pattern"
                data-fieldrule="toggle inverseToggle"/>
    </md-input-container>
  </div>
</div>
