.discussion-back {
  display: inline-block;
  padding-right: $u * 4;
  width: $u * 8;
}

.discussion-title {
  display: inline-block;
}

.od-discussion {
    display: block;
    border-collapse: collapse;
    overflow-y: scroll;
    .title {
        text-align: left !important;
    }
    .avatar-container {
        padding-right: $u * 4;
        vertical-align: top;
        .avatar {
            border-radius: 50%;
            width: $u * 8;
        }
        h3 {
            margin-top: 0;
            text-align: center;
        }
    }
    .comment {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        vertical-align: top;
        width: 100%;
        padding: $u * 1.5 $u * 12 0 0;
    }
    .comment-actions {
        width: $u * 2;
        vertical-align: top;
    }
    .seperator {
        td {
            padding-top: $u * 1.5;
        }
    }
}