<div class="od-projects">
    <div layout-gt-sm="row">
        <md-card flex-gt-sm="100" class="iframe_container">
            <md-card-content>
				<div layout="row">
					<div flex="90"><h2 class="od-title-icon"><md-icon>library_books</md-icon>{{'COMMON.EDITINLIBRE' | translate}}</h2></div>
					<div flex="10"><md-button ng-click="vm.goBack();" class="md-raised md-primary">{{'COMMON.CLOSEEDIT' | translate}}</md-button></div>
				</div>
                <div id="libreoffice-online" ng-if="vm.isDisplayed">
                    <iframe id="loleafletframe" name="loleafletframe" allowfullscreen style="width:98%;height:85%;
                    position:absolute;">
                    </iframe>
                </div>
                <div layout="column" ng-if="!vm.isDisplayed">
                    <md-icon class="md-icon--large">library_books</md-icon>
                    <p class="md-display-1" style="text-align:center">{{'EDITORS.PREVIEW_ERROR' | translate}}</p>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
