<div class="od-projects">

    <h1 class="od-title">Projekt: {{ vm.project_title }}</h1>

    <div layout="row" layout-align="space-between center">
        <a class="md-button" style="font-size: 14px" href="#/projekter"><i class="material-icons">arrow_back</i> Tilbage
            til projekter</a>

        <div class="od-search" layout="row">
            <span flex></span>

            <form name="doSearch" ng-submit="vm.getSearchresults(searchText);">
                <!-- <md-input-container> -->
                <i class="material-icons">search</i>
                <md-autocomplete
                        required
                        md-input-name="autocomplete"
                        md-selected-item="searchQuery"
                        md-search-text="searchText"
                        md-items="r in vm.getAutoSuggestions(searchText)"
                        md-item-text="r.name"
                        md-floating-label="Søg">
                    <md-item-template>
                        <span md-highlight-text="searchText" ng-click="vm.gotoPath(r.nodeRef);">{{r.name}}</span>
                    </md-item-template>
                    <div ng-messages="autocompleteForm.autocomplete.$error">
                        <div ng-message="required">Dette felt skal udfyldes</div>
                    </div>
                </md-autocomplete>
                <!-- </md-input-container> -->
                <!-- <md-button type="submit" class="md-primary">Søg</md-button> -->
            </form>
        </div>
    </div>

    <div layout-gt-sm="row">
        <md-card flex-gt-sm="70">
            <md-card-content>
                <h2 class="od-title-icon"><i class="material-icons">library_books</i>Redigering i LibreOffice</h2>

                <iframe id="loleafletframe" name="loleafletframe" allowfullscreen
                        style="width:100%;height:100%;position:absolute;"
                        src="{{vm.iframeSrc}}">
                </iframe>

            </md-card-content>
        </md-card>

    </div>

</div>

</div>
