<div class="od-projects">

    <h1 class="od-title">Projekt: {{ vm.project_title }}</h1>

    <div layout="row" layout-align="space-between center">
        <a class="md-button" style="font-size: 14px" href="#/projekter"><i class="material-icons">arrow_back</i> Tilbage
            til projekter</a>
    </div>

    <div layout-gt-sm="row">
        <md-card flex-gt-sm="70">
            <md-card-content>
                <h2 class="od-title-icon"><i class="material-icons">library_books</i>Dokumenter</h2>

            </md-card-content>
        </md-card>

        <!--md-card flex-gt-sm="30">
            <md-card-content>
                <h3 class="od-title-icon"><i class="material-icons">group</i>Medlemmer tilknyttet projektet</h3>
                <md-list class="od-members">
                    <md-list-item ng-repeat="member in members">
                        <div flex="50" flex-gt-lg="60">
                            {{ member.authority.firstName }} {{ member.authority.lastName }}
                        </div>
                        <div flex="30">
                            {{ role_mapping[member.role] }}
                        </div>
                        <div flex="20" flex-gt-lg="10" style="text-align: right;">
                            <md-menu ng-if="vm.userRole === 'SiteManager'">
                                <md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                    <md-icon md-menu-origin>dehaze</md-icon>
                                </md-button>

                                <md-menu-content width="6">
                                    <md-menu-item>
                                        <md-button ng-click="vm.updateMemberRoleDialog($event, member.authority)">
                                            <md-icon md-menu-align-target>create</md-icon>
                                            Redigér medlem
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <md-button ng-click="vm.deleteMemberDialog(vm.project, member.authority.userName);">
                                            <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                                            Slet
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>

                <div layout="row" layout-align="start center" class="btnAlign">
                    <md-button ng-if="vm.userRole === 'SiteManager'" class="md-raised" ng-click="vm.newMember($event)"><i class="material-icons">add</i> Tilføj medlem&nbsp;&nbsp;</md-button>
                </div>
            </md-card-content>
        </md-card-->


    </div>

</div>
