<div class="filebrowser">
    <breadcrumb paths="vm.paths" id="filebrowser-breadcrumb"></breadcrumb>

    <md-progress-linear md-mode="indeterminate" ng-show="uploading"></md-progress-linear>

    <div ngf-drop ng-model="filesToFilebrowser" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
        <table class="od-members od-members-row">
            <colgroup>
                <col span="1" style="width: 40%;">
            </colgroup>
            <thead ng-show="vm.contentListLength > 0" fix-head>
                <tr>
                    <th sort order="'name'" by="order" reverse="reverse" title="Sortér kolonne">{{'COMMON.NAME' | translate }}</th>
                    <th hide show-gt-sm sort order="'lastChanged'" by="order" reverse="reverse" title="Sortér kolonne">{{'COMMON.HISTORY' | translate }}</th>
                    <th hide show-gt-sm sort order="'creator.displayName'" by="order" reverse="reverse" title="Sortér kolonne">{{'COMMON.CREATEDBY' | translate }}</th>
                    <th hide show-gt-md ng-if="vm.enableESDH" ng-if="isSite" colspan="2">
                        <input type="checkbox" name="all-to-esdh" aria-label="Vælg alle" ng-model="vm.sendToSbsys" ng-click="vm.setAllCheckboxes()">
                        <img ng-src="app/assets/img/sbsys.png" class="od-sbsys-logo">
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="contentTypeList in vm.contentList">
                <tr ng-repeat="content in contentTypeList | orderObjectBy:order:reverse" ng-include="'app/src/filebrowser/view/fileTableRow.tmpl.html'">
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around" flex>
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>

    <div ngf-drop ng-model="filesToFilebrowser" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
    <div layout="column" ng-show="vm.contentListLength == 0 && !vm.isLoading">
            <md-icon class="md-icon--large">library_books</md-icon>
            <p class="md-display-1" style="text-align:center">{{'COMMON.' + (vm.error ? 'MISSING_FOLDER' : 'EMPTY_FOLDER') | translate}}</p>
        </div>
    </div>

    <md-divider></md-divider>

    <md-card-actions layout="row" layout-align="start center">
        <div layout="column">
            <md-menu ng-if="vm.permissions.canEdit">
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button md-primary" aria-label="{{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}">
                    <md-tooltip md-direction="top">{{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}</md-tooltip>
                    <md-icon>file_upload</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="vm.uploadDocumentsDialog($event)" aria-label="{{'COMMON.UPLOAD' | translate}} {{'COMMON.LOCAL_DOCUMENT' | translate | lowercase}}">{{'COMMON.UPLOAD' | translate}} {{'COMMON.LOCAL_DOCUMENT' | translate | lowercase}}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="vm.enableESDH" ng-if="isSite">
                        <md-button ng-click="loadSbsysDialog($event)">{{'COMMON.UPLOAD' | translate}} {{'COMMON.FROM' | translate | lowercase}} {{'ESDH' | translate}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

        <od-template-list
            od-permission="vm.permissions.canEdit" 
            od-templates="vm.documentTemplates"
            od-icon="note_add"
            od-nested="true"
            od-label="{{'COMMON.CREATE' | translate}} {{'DOCUMENT' | translate | lowercase}}">
        </od-template-list>

        <od-template-list
            od-permission="vm.permissions.canEdit"
            od-templates="vm.folderTemplates"
            od-icon="create_new_folder"
            od-label="{{'COMMON.CREATE' | translate}} {{'COMMON.FOLDER' | translate | lowercase}}">
        </od-template-list>

        <md-button ng-if="isSite && vm.permissions.isManager" class="md-icon-button md-primary "
            ng-click="vm.newLinkDialog($event)">
            <md-tooltip md-direction="top">{{'COMMON.CREATE' | translate}} {{'PROJECT.PROJECTLINK' | translate | lowercase}}</md-tooltip>
            <md-icon>link</md-icon>
        </md-button>

        <span flex></span>
        <md-button ng-show="vm.sendToSbsys" ng-if="isSite" ng-click="vm.uploadSbsysDialog($event)"
            class="md-primary" aria-label="SBSYS">
            <md-tooltip md-direction="top">
                {{'COMMON.UPLOAD' | translate }} {{'COMMON.TO' | translate | lowercase }} {{'ESDH' | translate }}
            </md-tooltip>
            <span style="margin-left: 10px; margin-right: 20px;">
                {{'COMMON.UPLOAD' | translate}} {{'COMMON.TO' | translate | lowercase}} {{'ESDH' | translate }}
            </span>
        </md-button>
    </md-card-actions>
</div>