<md-card class="dropdown-card" ng-if="$ctrl.history">
    <md-card-title ng-click="showVersions = !showVersions" ng-class="$ctrl.selectedVersion || showVersions ? 'open' : 'closed'">
        <h3 class="md-title od-title-icon"><md-icon>history</md-icon> {{'COMMON.HISTORY' | translate }}</h3>
        <span flex></span>
        <md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>
    </md-card-title>

    <md-card-content ng-class="$ctrl.selectedVersion || showVersions ? 'fold-out' : 'fold-in'">
        <div layout="row">
            <div flex="50">
                <span class="od-secondary">{{'COMMON.LAST_MODIFIED' | translate}}</span>
            </div>
            <div flex="50">
                <span class="od-secondary">{{'COMMON.LAST_MODIFIED_BY' | translate}}</span>
            </div>
        </div>

        <div class="entry" ng-repeat="h in $ctrl.history" layout="row" ng-class="$ctrl.selectedVersion === h.nodeRef ? 'selected' : ''">
            <div flex="50">
                <a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version})">{{ h.created | openeDate }}</a>
            </div>

            <div flex="50">
                <a ui-sref="document({ doc: h.parent_nodeRef, versionId: h.nodeRef, version: h.version})">{{ h.modifier }}</a>
            </div>
        </div>
    </md-card-content>
</md-card>
