<div layout="row" layout-wrap>
    <div flex="20" ng-repeat="workflow in vm.workflows">
        <md-card>
            <md-card-title ng-click="vm.openWorkflow(workflow.nodeID)">
                <md-card-title-text>
                    <span class="md-headline">{{workflow.title}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div flex="20">
        <md-card>
            <md-card-title ng-click="vm.openIncomming()">
                <md-card-title-text>
                    <span class="md-headline">Nye ansøgninger</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</div>


<form ng-submit="vm.resetDemoData()">
    <md-input-container>
        <label>Title</label>
        <input ng-model="branchTitle">
    </md-input-container>
    <div>
        <md-button type="submit">Virk nu for helvede</md-button>
    </div>
</form>

<!--{{vm.selected}}
<branch-detail  node-id="vm.selected"/>-->
