<h1 class="od-title" ng-controller="AuthController as vm">Hej {{ vm.getUserInfo().user.firstName }}</h1>

<div class="dashboard-grid">
  <a href="#" class="tile"><i class="material-icons">home</i> Intra</a>
  <a href="#" class="tile"><i class="material-icons">mail_outline</i> Email</a>
  <a href="#/kalendar" class="tile"><i class="material-icons">event</i> Kalendar</a>
  <a href="#/projekter" class="tile"><i class="material-icons">content_paste</i> Projekter</a>
  <a href="#/nogletal" class="tile"><i class="material-icons">timeline</i> Nøgletal</a>
  <a href="#" class="tile"><i class="material-icons">attach_money</i> Løn</a>
  <a href="#" class="tile"><i class="material-icons">library_books</i> ESDH</a>
  <a href="#" class="tile"><i class="material-icons">business_center</i> OFIR</a>
  <a href="#" class="tile"><i class="material-icons">videogame_asset</i> Office</a>
</div>
