<!-- <div class="dashboard-grid" layout="row"> -->
<!-- <a ng-repeat="sysSetPage in vm.pages" href="{{sysSetPage.url}}" class="tile">
        <md-icon>{{sysSetPage.icon}}</md-icon>
        {{sysSetPage.labelKey | translate}}
    </a> -->
<!-- <md-card ng-repeat="sysSetPage in vm.pages" flex="100" flex-gt-md="30" flex-md="40" flex-sm="40">
    <a href="{{sysSetPage.url}}">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{sysSetPage.labelKey | translate}}</span>
          <span class="md-subhead"></span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-md">
            <md-icon style="font-size:72px;width:72px;height:72px;float:right">{{sysSetPage.icon}}</md-icon>
          </div>
        </md-card-title-media>
      </md-card-title>
    </a>
  </md-card> -->
<!-- </div> -->

<div layout="row">
  <span flex></span>
  <div class="test-grid" flex="100" flex-gt-md="40" flex-offset="15">
    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px"
      md-gutter-gt-sm="4px">
      <md-grid-tile ng-repeat="sysSetPage in vm.pages" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="tile-test"
        ng-style="{'background-color': sysSetPage.color}">
        <a href="{{sysSetPage.url}}">
          <md-icon>{{sysSetPage.icon}}</md-icon>
          <md-grid-tile-footer>
            <h3>{{sysSetPage.labelKey | translate}}</h3>
          </md-grid-tile-footer>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <span flex></span>
</div>