//
// Element level (atom) styles
//

a {
  &,
  &:link,
  &:visited {
    color: $gray-text-color;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $dark-gray-text-color;
    text-decoration: underline;
  }
}

body {
  background: $gray-85;
  color: $primary-text-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


md-icon {
  color: $primary-text-color;
}

.md-chip-input-container {
  width: 100%;
}

.no-styling {
  appearance:none;
  border:none;
  margin:0;
  padding:0;
  background:transparent;
}

md-toast {
  .md-error-toast-theme {
    .md-toast-content {
      color: $error;
      font-weight: bold;
    }
  }
}

// Muted (greyed) text
.muted {
  font-size: .9em;
  opacity: .66;
}

.clickable {
  cursor: pointer;
  outline: none;
}


//
// Molecule level styles
//

main {
  background-color: $white;
  margin: $u * 4 0 auto;
}

// Icons in buttons
.md-button {
  .material-icons {
    margin-top: -($u * .25);
    vertical-align: middle;
  }
}

.md-text-icon-button {
  padding-right: $u;
}

//make the chat window appear behind notifcation slide out
#conversejs {
  z-index: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}


.drop-box {
  border: 5px dashed $gray-85;
  height: 65px;
  margin: 10px;
  padding-top: 25px;
  text-align: center;
}

.dragover {
  border: 5px dashed $primary-color;
}


.md-icon--large {
  font-size: 96px !important;
  height: 96px;
  margin-top: 34px;
  width: 96px;
}

.fileInput {
  display: none;
}

.od-filter-sidebar {
  overflow: hidden;

  button {
    top: 0 !important;
  }

  md-card-title {
    max-height: 40px;
  }

  md-card-content,
  md-autocomplete {
    min-width: 150px;
  }

  md-input-container {
    height: $u * 3.5;

    label {
      color: $gray-text-color;
    }
  }

  .show-all {
    color: $gray-text-color;
    height: auto;
    padding-left: $u * .2;
    text-overflow: ellipsis;

    md-checkbox {
      margin-bottom: $u * 2;
    }
  }
}
