:root {
  --light-gray: rgba(0, 0, 0, 0.1);
  --lighter-gray: rgba(0, 0, 0, 0.05);
  --lightest-gray: rgba(0, 0, 0, 0.025);
  --bar-heading-color: rgba(0, 0, 0, 0.75);

  --meter-background-color: var(--light-gray);
  --meter-border-radius: 3px;
  --meter-color: rgba(39, 174, 96, 0.9);
  --meter-height: 2em;
  --meter-label-font-size: 0.8em;
}

//
// Element level (atom) styles
//

a {
  &,
  &:link,
  &:visited {
    color: $gray-text-color;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $dark-gray-text-color;
    text-decoration: underline;
  }
}

body {
  background: $gray-85;
  background-color: $white;
  color: $primary-text-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


md-icon {
  color: $primary-text-color;
}

.md-chip-input-container {
  width: 100%;
}

.no-styling {
  appearance:none;
  border:none;
  margin:0;
  padding:0;
  background:transparent;
}

md-toast {
  .md-error-toast-theme {
    .md-toast-content {
      color: $error;
      font-weight: bold;
    }
  }
}

// Muted (greyed) text
.muted {
  // font-size: .9em;
  opacity: .66;
}

.clickable {
  cursor: pointer;
  outline: none;
}


//
// Molecule level styles
//

main {
  // background-color: $white;
  margin: $u * 4 0 auto;
}

// Icons in buttons
.md-button {
  .material-icons {
    margin-top: -($u * .25);
    vertical-align: middle;
  }
}

.md-text-icon-button {
  padding-right: $u;
}

//make the chat window appear behind notifcation slide out
#conversejs {
  z-index: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}


.drop-box {
  border: 5px dashed $gray-85;
  height: 65px;
  margin: 10px;
  padding-top: 25px;
  text-align: center;
}

.dragover {
  border: 5px dashed $primary-color;
}

.md-icon--large {
  font-size: 96px !important;
  height: 96px;
  margin-top: 34px;
  width: 96px;
}

.fileInput {
  display: none;
}

.od-filter-sidebar {
  overflow: hidden;

  button {
    top: 0 !important;
  }

  md-card-title {
    max-height: 40px;
  }

  md-card-content,
  md-autocomplete {
    min-width: 150px;
  }

  md-input-container {
    height: $u * 3.5;

    label {
      color: $gray-text-color;
    }
  }

  .show-all {
    color: $gray-text-color;
    height: auto;
    padding-left: $u * .2;
    text-overflow: ellipsis;

    md-checkbox {
      margin-bottom: $u * 2;
    }
  }
}

.osflow-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  &__tbody {
      .osflow-table__tr {}
  }

  &__tr {
      &:hover {
          .osflow-table__td {
              background-color: var(--lighter-gray);
          }
      }

      &[ng-click] {
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
      }

      &--open {
          .osflow-table__td,
          + .osflow-table__tr .osflow-table__td {
              background-color: var(--lighter-gray);
          }

          .osflow-table__td {
              border-top: 1px solid var(--light-gray);
              font-weight: bold;
          }

          + .osflow-table__tr .osflow-table__td {
              border-bottom: 1px solid var(--light-gray);
          }
      }
  }

  &__th {
      background-color: var(--light-gray);
      font-weight: bold;
      padding: 1em;
      text-align: left;

      &--right {
          text-align: right;
      }
  }

  &__td {
      padding: 1em;
      vertical-align: top;
      transition: background-color 0.2s ease-in-out;

      &--right {
          text-align: right;
      }
  }
}

// OSflow Bar consists of both .osflow-bar and .osflow-meter
// OSflow Bar is everything currently used in "Previous Funds" (heading, link and meter)
.osflow-bar {
  margin-top: 1em;

  &__heading {
      color: var(--bar-heading-color);
      font-size: 0.8rem;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;

      span {
          font-family: monospace;
      }
  }

  &__heading-link {
      color: inherit;
  }
}

// OSflow Meter is a bar that consists of two elements:
// A "meter" and a "progress"
.osflow-meter {
  background-color: var(--meter-background-color);
  box-sizing: border-box;
  display: block;
  height: var(--meter-height);
  overflow: hidden;
  position: relative;
  width: 100%;

  *,
  &::before,
  &::after {
      box-sizing: border-box;
  }

  &__label {
      font-size: var(--meter-label-font-size);
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
      right: 1em;
      white-space: nowrap;
  }

  &__progress {
      background-color: var(--meter-color);
      border-top-right-radius: var(--meter-border-radius);
      border-bottom-right-radius: var(--meter-border-radius);
      display: inline-block;
      height: 100%;
      position: relative;
      transition: width 0.2s ease-in-out;
  }

  &__progress-label {
      font-size: var(--meter-label-font-size);
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
      left: 1em;
      white-space: nowrap;
  }
}

.osflow-assign {
  margin-top: 1rem;
}

.dummydata {
  background-color: #c00;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: 0.01em;
  opacity: 0.5;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  user-select: none;
}