.od-fund-app-wrapper {
  column-count:2;
  column-gap:0;
  margin:0 -8px;
  application-block {
    md-card {
      margin-top:0;
      margin-bottom:16px;
    }
  }
}
md-dialog-content {
  width: 17em;
  padding: 1.5rem;
}
.selection-container {
  padding: 0.5em;
}
.selection-container md-select {
  margin: 0.7em 0;
}


