<md-nav-bar md-selected-nav-item="currentAppPage">
  <md-nav-item md-nav-sref="fund.application" name="application">{{ 'FUNDS.NAVIGATION.APPLICATION' | translate }}</md-nav-item>
  <md-nav-item md-nav-sref="fund.application.contact" name="contact">{{ 'FUNDS.NAVIGATION.CONTACTINFO' | translate }}</md-nav-item>
  <md-nav-item md-nav-sref="fund.application.history" name="history">{{ 'FUNDS.NAVIGATION.HISTORY' | translate }}</md-nav-item>

  <span flex></span>

  <md-nav-item md-nav-click="vm.paginateApps(vm.prevAppId)" ng-if="vm.prevAppId" aria-label="{{ 'FUNDS.NAVIGATION.GOTO_PREVIOUS_APPLICATION' | translate }}">
    <md-icon>keyboard_arrow_left</md-icon>
    {{ 'FUNDS.NAVIGATION.GOTO_PREVIOUS_APPLICATION' | translate }}
  </md-nav-item>

  <md-nav-item md-nav-click="vm.paginateApps(vm.nextAppId)" ng-if="vm.nextAppId" aria-label="{{ 'FUNDS.NAVIGATION.GOTO_NEXT_APPLICATION' | translate }}">
    {{ 'FUNDS.NAVIGATION.GOTO_NEXT_APPLICATION' | translate }}
    <md-icon>keyboard_arrow_right</md-icon>
  </md-nav-item>
</md-nav-bar>

<osflow-header>
  <h1>
    <md-input-container>
      <input class="md-headline" ng-model="application.title" ng-if="isEditing.get()">
      <span class="md-headline" ng-if="!isEditing.get()">{{ application.title }}</span>
    </md-input-container>
  </h1>

  <div class="fund-actions" layout="row" layout-align="start end">

    <div class="md-subhead" flex style="line-height: 48px;">
      <code>{{ application.nodeID }}</code>
    </div>

    <div flex style="text-align: right;">
      <md-button ng-if="!isEditing.get()" ng-click="vm.editApplication()" class="md-raised md-primary">{{ 'FUNDS.NAVIGATION.EDIT_APPLICATION' | translate }}</md-button>
      <md-button ng-if="isEditing.get()"  ng-click="vm.saveApplication()" class="md-raised md-primary">{{ 'FUNDS.NAVIGATION.SAVE_APPLICATION' | translate }}</md-button>
      <md-button ng-if="isEditing.get()"  ng-click="vm.cancelEditApplication()">{{ 'FUNDS.NAVIGATION.CANCEL_EDIT_APPLICATION' | translate }}</md-button>    
    </div>

  </div>
</osflow-header>

<md-content class="od-fund-app-wrapper">
  <ng-template ui-view="application" layout="row" layout-wrap></ng-template>

  <md-card style="margin: 0; margin-top: 1rem; padding: 1rem;">
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary">{{ 'FUNDS.NAVIGATION.SUBMIT_TO_NEXT_STEP' | translate }}</md-button>
    </md-card-actions>
  </md-card>
</md-content>

