<application-block ng-repeat="(block, idx) in application" block="application[block]"></application-block>
<md-card>
  <md-card-title>
    <label for="od-fund-approved-amount"><strong>Indstil beløb</strong></label>
  </md-card-title>
  <md-card-content>
    kr. <input type="number" id="od-fund-approved-amount" ng-model="application.approved_amount"/>
    {{application.approved_amount}}
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>
    <label for="od-fund-approved-amount"><strong>Udvælg til bestyrelsesmøde</strong></label>
  </md-card-title>
  <md-card-content>
    <div class="od-fund-board-meeting-switch" flex layout="row" layout-align="start center" layout-margin>
    <span>nej</span><md-switch ng-model="application.board_meeting_include"></md-switch><span>ja</span>
    </div>
  </md-card-content>
</md-card>
