.od-fund-app-wrapper {
  [ui-view="application"] {
    // display: grid;
    // grid-gap: $u;
    // grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    // grid-auto-flow: dense;
    // grid-auto-rows: minmax(8em, 33vh); // roughly one block heading

    md-card {
      // overflow: auto;
      // margin: 0;
      // height: 100%;

      &-title {
        flex-grow: 0;
      }
    }

    application-block {
      &.expanded {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        md-card {
          .rotate-arrow {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  input {
    background-color: #f4f4f4
  }

  md-input-container {
    input,
    span {
      padding: 2px 2px 1px;
      margin: 0 -2px;
      display: block;
      line-height: 26px;
      height: auto;
    }

    span {
      border-bottom: 1px solid transparent;
    }

    .md-errors-spacer {
      display: none;
    }
  }

  .application-title {
    md-input-container {
      input,
      span {
        line-height: 32px;
      }
    }

    .md-subhead {
      color: #808080;
    }
  }

  .od-discussion {
    overflow-y: visible;
    max-height: none;

    .avatar-container {
      padding-right: 2em;
      text-align: center;

      .avatar {
        width: 4em;
      }

      h3 {
        font-size: 1em;
      }
    }

    .comment {
      padding-right: 0;

      > .ng-binding {
        &:first-child {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}

.od-fund-board-meeting-switch {
  margin-top:0;
  margin-bottom:0;

  &,
  :first-child {
    margin-left:0;
  }

  &,
  :last-child {
    margin-right:0;
  }
}

.od-fund-app-wrapper {
  padding: $u;
}

.od-fund-view {
  osflow-header {
    background-color: $gray-90;
    padding: $u * 2 $u;

    h1,
    p {
      margin: 0;
    }
  }
}
