.od-fund-app-wrapper {
  [ui-view="application"] {
    display:grid;
    grid-column-gap:16px;
    grid-row-gap:16px;
    grid-template-columns:repeat(auto-fill, minmax(32em, 1fr));
    grid-auto-flow:dense;
    grid-auto-rows:minmax(8em, 25vh); // roughly one block heading
    md-card {
      overflow:auto;
      margin:0;
      height:100%;
      &-title {
        flex-grow:0;
      }
    }
    application-block {
      &.expanded {
        grid-column-start: 1;
        grid-column-end:-1;
        grid-row-start:1;
        grid-row-end:span 2;
        md-card {
          .rotate-arrow {
            transform:rotate(180deg);
          }
        }
      }
    }
  }
  input {
    background-color:#f4f4f4
  }
  md-input-container {
    input,
    span {
      padding: 2px 2px 1px;
      margin:0 -2px;
      display:block;
      line-height:26px;
      height:auto;
    }
    span {
      border-bottom:1px solid transparent;
    }
    .md-errors-spacer {
      display:none;
    }
  }
  .application-title {
    md-input-container {
      input,
      span {
        line-height: 32px;
      }
    }
    .md-subhead {
      color:#808080;
    }
  }
  .od-discussion {
    overflow-y:visible;
    max-height:none;
    .avatar-container {
      padding-right:2em;
      text-align:center;
      .avatar {
        width:4em;
      }
      h3 {
        font-size:1em;
      }
    }
    .comment {
      padding-right:0;
      > .ng-binding {
        :first-child {
          margin-top:0;
          padding-top:0;
        }
      }
    }
  }
}
.od-fund-board-meeting-switch {
  margin-top:0;
  margin-bottom:0;
  &,
  :first-child {
    margin-left:0;
  }
  &,
  :last-child {
    margin-right:0;
  }
}
md-dialog-content {
  width: 17.5em;
  padding: 1.5rem;
}
.selection-container {
  padding: 0.5em;
}
.selection-container md-select {
  margin: 0.7em 0;
  max-width: 9em;
}


