<md-nav-bar md-selected-nav-item="currentAppPage">
  <md-nav-item md-nav-sref="fund.application" name="application">Ansøgning</md-nav-item>
  <md-nav-item md-nav-sref="fund.application.contact" name="contact">Kontaktinfo</md-nav-item>
  <md-nav-item md-nav-sref="fund.application.history" name="history">Historik</md-nav-item>
  <span flex></span>
  <md-nav-item md-nav-click="vm.paginateApps(vm.prevAppId)" ng-if="vm.prevAppId" aria-label="Gå til forrige ansøgning">
    <md-tooltip>Gå til forrige ansøgning</md-tooltip>
    <md-icon>keyboard_arrow_left</md-icon>
  </md-nav-item>
  <md-nav-item md-nav-click="vm.paginateApps(vm.nextAppId)" ng-if="vm.nextAppId" aria-label="Gå til næste ansøgning">
    <md-tooltip>Gå til næste ansøgning</md-tooltip>
    <md-icon>keyboard_arrow_right</md-icon>
  </md-nav-item>
</md-nav-bar>

<osflow-header>
  <h1>
    <md-input-container>
      <input class="md-headline" ng-model="application.title" ng-if="isEditing.get()">
      <span class="md-headline" ng-if="!isEditing.get()">{{ application.title }}</span>
    </md-input-container>
  </h1>

  <div class="fund-actions" layout="row" layout-align="start end">

    <div class="md-subhead" flex style="line-height: 48px;">
      <code>{{ application.nodeID }}</code>
    </div>

    <div flex style="text-align: right;">
      <md-button ng-if="!isEditing.get()" ng-click="vm.editApplication()" class="md-raised md-primary">Ret ansøgning 2</md-button>
      <md-button ng-if="isEditing.get()"  ng-click="vm.saveApplication()">Gem ansøgning</md-button>
      <md-button ng-if="isEditing.get()"  ng-click="vm.cancelEditApplication()">Annuller redigering</md-button>    
    </div>

  </div>
</osflow-header>

<md-content class="od-fund-app-wrapper">
  <ng-template ui-view="application" layout="row" layout-wrap></ng-template>
</md-content>
