<view:view xmlns:view="http://www.alfresco.org/view/repository/1.0"
           xmlns:cm="http://www.alfresco.org/model/content/1.0"
           xmlns:app="http://www.alfresco.org/model/application/1.0"
           xmlns:od="http://www.magenta-aps.dk/model/content/1.0">

    <cm:folder view:childName="cm:opendesk_extension">
        <app:uifacets />
        <cm:name>OpenDesk Extension</cm:name>
        <app:icon>space-icon-default</app:icon>
        <cm:title>OpenDesk Extension</cm:title>
        <cm:description></cm:description>
        <cm:contains>
            <od:settings view:childName="cm:settings.xml">
                <view:aspects>
                    <cm:author />
                </view:aspects>
                <view:properties>
                    <cm:description>This file contains the settings for OpenDesk frontend.</cm:description>
                    <cm:author>admin</cm:author>
                    <cm:name>settings.xml</cm:name>
                    <od:ssoLoginEnabled>true</od:ssoLoginEnabled>
                    <od:enableProjects>true</od:enableProjects>
                    <od:enableESDH>true</od:enableESDH>
                    <od:enableChat>true</od:enableChat>
                    <od:appName>OpenDesk</od:appName>
                    <od:logoSrc>./app/assets/images/logo-light.svg</od:logoSrc>
                    <od:landingPage>projects</od:landingPage>
                </view:properties>
                <view:associations></view:associations>
            </od:settings>
        </cm:contains>
    </cm:folder>
</view:view>