<h1 class="od-title">
	<span ng-if="vm.type == vm.strings.templateProject">{{'COMMON.TEMPLATEPROJECT' | translate}} :</span>
	<span ng-if="vm.type == 'PD-Project'">{{'PROJECT.PROJECT' | translate}} :</span>
	<span ng-if="vm.type == 'Project'">{{'PROJECT.GROUPROOM' | translate}} :</span> {{ vm.title }}
</h1>
<div class="od-projects">
	<div layout-gt-sm="row">
		<md-card flex-gt-sm="75">
			<md-content class="od-content-height" layout="column" layout-padding>
				<div layout="row">
					<div>
						<h1 class="md-headline">
							{{ vm.doc.fileName }}
						</h1>
					</div>
					<span flex></span>
					<div ng-show="vm.canEdit" style="position: relative; top: 10px;">
						<md-button ng-click="vm.goToLOEditPage()" class="md-text-icon-button md-primary">
							<i class='material-icons'>edit</i>
							<span>{{'DOCUMENT.EDIT_DOCUMENT' | translate}}</span>
						</md-button>
					</div>
				</div>

				<breadcrumb paths="vm.paths"></breadcrumb>

				<div layout-sm="column" layout-gt-sm="row">
					<div style="max-width:1500px;max-height:610px; overflow: auto;" flex-gt-sm="66">
						<ng-include src="viewerTemplateUrl"></ng-include>
					</div>
				</div>
			</md-content>
		</md-card>


		<md-card flex-gt-sm="25">
			<md-content>

				<div flex-gt-sm="33" style="padding: 0 1rem; background-color: #f9f9f9;">
					<h4 ng-click="vm.showArchived = !vm.showArchived" class="group-toggle" ng-class="vm.showArchived ? 'open' : 'closed'"
					    layout="row">
						<i class="material-icons header">history</i>&nbsp;<span style="position: relative; top: 3px;">{{'COMMON.HISTORY' | translate}}</span>
						<span flex></span>
						<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
					</h4>
					<ul ng-show="vm.showArchived">
						<p class="pHeader">
							<span style="width: 164px;">{{'COMMON.LAST_MODIFIED' | translate}}</span>
							<span>{{'COMMON.LAST_MODIFIED_BY' | translate}}</span>
							<br>
						</p>
						<p class="pContent">
							<span id="{{h.nodeRef}}" ng-repeat="h in history">
						<a class="od-secondary" href="#!/dokument/{{h.nodeRef}}?archived=true&parent={{h.parent_nodeRef}}&version={{h.version}}">
							<span style="width: 138px;">{{ h.created | openeDate }}</span>{{ h.modifier }}
							</a>
							</span>
						</p>
					</ul>
					<dl>
						<div class="od-notifylist--item--nolink">
							<br>
							<md-divider></md-divider>
							<h4 ng-if="vm.wfr || vm.wf">Review</h4>

							<dd ng-if="vm.wfr">
								<div layout="row" style="margin: 10px 0 20px 0;">
									<span style="position:relative; top: 4px;">
								{{vm.notificationFrom.firstName}} {{vm.notificationFrom.lastName}} har svaret: 
								<p><i>{{wf_comment}}</i></p>
							</span>
								</div>
							</dd>

							<dd ng-if="vm.wf">
								<div layout="row" style="margin: 10px 0 20px 0;">
									<span style="position:relative; top: 4px;">
								{{vm.notificationFrom.firstName}} {{vm.notificationFrom.lastName}} har bedt dig om at reviewe: 
								<p><i>{{wf_comment}}</i></p>
							</span>
								</div>

								Du kan
								<md-button class="md-primary" style="padding: 2px 0 2px 0; margin: 2px 0 2px 0; min-width: 0;" ng-click="vm.goToLOEditPage()">
									Redigere
								</md-button>
								dokumentet, inden du godkender eller afviser.

								<div style="margin-top: 20px" ng-controller="DocumentController as dc">

									<md-button class="md-raised md-primary" ng-click="dc.godkendDialog($event)">
										Godkend
									</md-button>

									<md-button class="md-raised" ng-click="dc.afvisDialog($event)">
										Afvis
									</md-button>
								</div>
							</dd>
						</div>
					</dl>
				</div>
			</md-content>
		</md-card>
	</div>
</div>