<div layout="row" layout-align="space-between center">

	    <h1 class="od-title">
        <span ng-if="vm.type == vm.strings.templateProject">{{'COMMON.TEMPLATEPROJECT' | translate}} :</span>
        <span ng-if="vm.type == 'PD-Project'">{{'PROJECT.PROJECT' | translate}} :</span>
        <span ng-if="vm.type == 'Project'">{{'PROJECT.GROUPROOM' | translate}} :</span>
        {{ vm.title }}</h1>

	<!--<a class="md-button" href="#!/projekter"><i class="material-icons">arrow_back</i> Tilbage til projekter</a>-->

	<!--<a class="md-button" style="font-size: 14px" href="{{vm.project.type == vm.strings.templateProject ? '#!/indstillinger/systemopsætning/skabeloner' : '#!/projekter'}}"><i class="material-icons">arrow_back</i>-->
	<a class="md-button" style="font-size: 14px" href="#!/projekter"><i class="material-icons">arrow_back</i>
            {{'COMMON.BACK' | translate }} {{'COMMON.TO' | translate | lowercase }}
            <span ng-if="vm.type == 'Template-Project'">{{'COMMON.TEMPLATES' | translate | lowercase}}</span>
            <span ng-if="vm.type != 'Template-Project'">{{'PROJECT.PROJECTS' | translate | lowercase}}</span>  
            <!--{{vm.project.type == vm.strings.templateProject ? "skabeloner" : "projekter"}}-->
        </a>

	<div ng-include="'app/src/sites/view/search.tmpl.html'" style="margin-top:15px;"></div>
</div>


<md-content layout="column" layout-padding>

	<breadcrumb paths="vm.paths"></breadcrumb>

	<div layout="row">
		<div flex="55">
			<h1 class="md-headline">
				{{ vm.doc.fileName }}
			</h1>
		</div>
		<div ng-show="vm.canEdit" flex="45" style="position: relative; top: 10px;">
			<md-button ng-click="vm.goToLOEditPage()" class="md-text-icon-button md-primary">
				<i class='material-icons'>edit</i>
				<span>{{'DOCUMENT.EDIT_DOCUMENT' | translate}}</span>
			</md-button>
		</div>
	</div>

	<div layout-sm="column" layout-gt-sm="row">
		<div style="max-width:1500px;max-height:610px; overflow: auto;" flex-gt-sm="66">
			<ng-include src="viewerTemplateUrl"></ng-include>
		</div>

		<div flex-gt-sm="33" style="padding: 0 1rem; background-color: #f9f9f9;">
			<h4 ng-click="vm.showArchived = !vm.showArchived" class="pd-group-toggle" ng-class="vm.showArchived ? 'open' : 'closed'"
			    layout="row">
				<i class="material-icons header">history</i>&nbsp;<span style="position: relative; top: 3px;">{{'COMMON.HISTORY' | translate}}</span>
				<span flex></span>
				<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
			</h4>
			<ul ng-show="vm.showArchived">
				<p class="transition pHeader">
					<span style="width: 164px;">{{'COMMON.LAST_MODIFIED' | translate}}</span>
					<span>{{'COMMON.LAST_MODIFIED_BY' | translate}}</span>
					<br>
				</p>
				<p class="transition pContent">
					<span id="{{h.nodeRef}}" ng-repeat="h in history">
						<a class="od-secondary" href="/#!/dokument/{{h.nodeRef}}?archived=true&parent={{h.parent_nodeRef}}&version={{h.version}}">
							<span style="width: 138px;">{{ h.created | openeDate }}</span>{{ h.modifier }}
					</a>
					</span>
				</p>
			</ul>
			<dl>
				<!--div>
					<dt>
						Oprettet
					</dt>
					<dd>
						{{ vm.doc.createdOn }}
					</dd>
					<dt>
						Oprettet af
					</dt>
					<dd>
						{{ vm.doc.createdBy }}
					</dd>
					<dt>
						Senest ændret
					</dt>
					<dd>
						{{ vm.doc.modifiedOn }}
					</dd>
					<dt>
						Senest ændret af
					</dt>
					<dd>
						{{ vm.doc.modifiedBy }}
					</dd>
				</div-->



				<div class="od-notifylist--item--nolink">
					<br>
					<md-divider></md-divider>
					<!--dt-->
					<h4 ng-if="vm.wfr || vm.wf">Review</h4>
					<!--/dt-->

					<!--{{vm.getPerson(vm.wf_from)}}-->

					<dd ng-if="vm.wfr">
						<div layout="row" style="margin: 10px 0 20px 0;">
							<span style="position:relative; top: 4px;">
								{{vm.notificationFrom.firstName}} {{vm.notificationFrom.lastName}} har svaret: 
								<p><i>{{wf_comment}}</i></p>
							</span>
						</div>
					</dd>

					<dd ng-if="vm.wf">
						<div layout="row" style="margin: 10px 0 20px 0;">
							<span style="position:relative; top: 4px;">
								{{vm.notificationFrom.firstName}} {{vm.notificationFrom.lastName}} har bedt dig om at reviewe: 
								<p><i>{{wf_comment}}</i></p>
							</span>
						</div>

						<!--<div layout="row" style="margin: 10px 0 20px 0;">
							<i class="material-icons">info_outline</i>&nbsp;&nbsp;<span style="position:relative; top: 4px;">Du er blevet bedt om at reviewe dette dokument af {{vm.wf_from}} med følgende kommentar: {{wf_comment}} </span>
						</div>-->

						Du kan
						<md-button class="md-primary" style="padding: 2px 0 2px 0; margin: 2px 0 2px 0; min-width: 0;" ng-click="vm.goToLOEditPage()">
							Redigere
						</md-button>
						dokumentet, inden du godkender eller afviser.

						<div style="margin-top: 20px" ng-controller="DocumentController as dc">

							<md-button class="md-raised md-primary" ng-click="dc.godkendDialog($event)">
								Godkend
							</md-button>

							<md-button class="md-raised" ng-click="dc.afvisDialog($event)">
								Afvis
							</md-button>
						</div>
					</dd>
				</div>
			</dl>
		</div>
	</div>

</md-content>