<md-dialog aria-label="New folder" ng-cloak>
    <form name="reviewForm" ng-submit="vm.createWFNotification(comment);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Afvis dokument</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">

            <div style="margin-top: 20px;">
                <md-input-container>
                    <label>Kommentar</label>
                    <input type="text" name="comment" required ng-model="comment">

                    <div ng-messages="createSiteForm.newSiteName.$error">
                        <div ng-message="required">Dette felt skal udfyldes</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-click="vm.cancel()">Fortryd</md-button>
            <md-button type="submit" class="md-primary">Afvis</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>