/*
 * Search styles
 */

od-search-bar {

  .od-search {

    form {
      min-width: 350px;
      width: 35%;
    }

    md-icon {
      color: $gray-60;
      left: $u * 2;
      position: relative;
      z-index: 1;
    }

    input {
      padding-left: $u * 2;
    }
  }

}

.autocomplete-custom-template {
  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;

    &:last-child {
      border-bottom-width: 0;
    }

    .item-title,
    .item-metadata {
      display: block;
      line-height: 2;
    }

    .item-title md-icon {
      height: 18px;
      width: 18px;
    }
}
}

.custom-container {
  min-width: 300px !important;
}
