<div class="pdf-wrapper" style="min-height: {{ $ctrl.plugin.height }};">
    <!-- <embed src="{{ $ctrl.plugin.contentUrl }}" type="application/pdf" width="100%" height="100%" /> -->

    <object data="{{ $ctrl.plugin.contentUrl }}" type="application/pdf" width="100%" height="100%">
        <iframe src="{{ $ctrl.plugin.contentUrl }}" style="border: none;" width="100%" height="100%">
        This browser does not support PDFs. Please download the PDF to view it: 
        <a href="{{ $ctrl.plugin.contentUrl }}">Download PDF</a>
        </iframe>
    </object>

</div>

<style>
    .pdf-wrapper {
        background-color: #f0a;
        display: block;
        position: relative;
        width: 100%;
    }

    .pdf-wrapper > object {
        display: block;
        height: 100%;
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        width: 100%;
    }
</style>
