<md-dialog aria-label="{{ 'DOCUMENT.PREVIEW_DOCUMENT' | translate }}" style="min-width:50vw">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'DOCUMENT.PREVIEW_DOCUMENT' | translate }} "{{vm.plugin.fileName}}"</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <preview-manager plugin="vm.plugin"></preview-manager>
    </md-dialog-content>
</md-dialog>
