<md-dialog aria-label="{{ 'DOCUMENT.PREVIEW_DOCUMENT' | translate }}" style="min-width:50vw">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'DOCUMENT.PREVIEW_DOCUMENT' | translate }} "{{config.fileName}}"</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <ng-include src="viewerTemplateUrl"></ng-include>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
        <md-button ng-click="vm.goToLOEditPage()" class="md-text-icon-button md-primary">
            <md-icon md-menu-align-target>edit</md-icon>
            {{'DOCUMENT.EDIT_DOCUMENT' | translate }}
        </md-button>

        <md-button ng-show="vm.canEdit" ng-click="vm.editInMSOffice()" class="md-text-icon-button md-primary">
            <md-icon md-menu-align-target>edit</md-icon>
            {{'DOCUMENT.EDIT_DOCUMENT_SHAREPOINT' | translate }}
        </md-button>

        <md-button ng-click="vm.downloadDocument()" class="md-text-icon-button md-primary">
            <md-icon md-menu-align-target>get_app</md-icon>
            {{'COMMON.DOWNLOAD' | translate }}
        </md-button>

        <md-button ng-click="vm.uploadNewVersionDialog($event)" class="md-text-icon-button md-primary">
            <md-icon md-menu-align-target>file_upload</md-icon>
            {{'COMMON.NEWVERSION' | translate }}
        </md-button>

        <md-button ng-click="vm.reviewDocumentsDialog($event)" class="md-text-icon-button md-primary">
            <md-icon md-menu-align-target>playlist_add_check</md-icon>
            {{'COMMON.SEND' | translate }} {{'COMMON.TO' | translate | lowercase }} {{'COMMON.REVIEW' | translate | lowercase }}
        </md-button>
    </md-dialog-actions> -->
</md-dialog>