<form name="EmailForm" ng-submit="$ctrl.sendEmail()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'COMMON.SEND_EMAIL' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancelDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding" layout='column'>
        <md-input-container class="md-input-invalid">
            <label>{{'COMMON.SUBJECT' | translate}}</label>
            <input name="{{'COMMON.SUBJECT' | translate}}"
                   required=""
                   ng-model="$ctrl.email.subject"
                   type="text">
            <div class="md-errors-spacer"></div>
        </md-input-container>

        <ng-ckeditor ng-model="$ctrl.email.body"
                     skin="moono-lisa"
                     remove-buttons="Image"
                     remove-plugins="iframe,flash"
                     required>
        </ng-ckeditor>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="$ctrl.cancelDialog()"
                   type="button"
                   class="md-primary">{{'COMMON.SKIP' | translate}}
        </md-button>
        <md-button ng-disabled="EmailForm.$invalid"
                   type="submit"
                   class="md-primary">{{'COMMON.SEND' | translate}}
        </md-button>
    </md-dialog-actions>
</form>