<md-menu ng-controller="SitesController as vm">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>dehaze</md-icon>
    </md-button>
    <md-menu-content width="6">
        <md-menu-item>
            <md-button ng-click="vm.infoSiteDialog(ctrl.project)">
                <md-icon md-menu-align-target>info_outline</md-icon>
                Information
            </md-button>
        </md-menu-item>
        <md-menu-item>											
            <md-button ng-click="vm.renameSiteDialog($event, ctrl.project.shortName, ctrl.project.title, ctrl.project.description)">
                <md-icon md-menu-align-target>create</md-icon>
                Redigér
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="vm.deleteSiteDialog(ctrl.project.shortName)">
                <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                Slet
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>