



<section  class="od-notifications" ng-controller="NotificationsController as vm">

    <button ng-click="vm.toggleNotices()" class="od-btn od-notifications--toggle">
        <i class="material-icons">notifications</i>
        <span class="od-notifications--counter">{{ notifications.length }}</span>
    </button>

    <div class="od-flyout right" ng-class="{ open: vm.on }" ng-click="vm.toggleNotices()">
        <div class="od-flyout--body" ng-click="$event.stopPropagation()">
            <h2 class="od-flyout--title">Beskeder</h2>
            <button ng-click="vm.toggleNotices()" class="od-btn od-flyout--close">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>

            <ul class="od-notifylist">

                <li ng-repeat="notice in notifications" class="od-notifylist--item" ng-class="(notice.read) ? 'od-notifylist--item--read' : ''">
                    <a ng-show="notice.link" ui-sref="notice.link" class="od-notifylist--item--link">
                        <h3 class="od-notifylist--item--notice">{{ notice.subject }}</h3>
                        <p  class="od-notifylist--item--desc">{{ notice.message }}</p>
                    </a>
                    <span ng-show="!notice.link" class="od-notifylist--item--nolink">
                        <h3 class="od-notifylist--item--notice">{{ notice.subject }}</h3>
                        <p  class="od-notifylist--item--desc">{{ notice.message }}</p>
                        <h3 class="od-notifylist--item--notice">
                            <a href="/#/dokument/{{ notice.document }}?dtype={{notice.type}}&from={{notice.creator}}&doc={{notice.document}}">{{ notice.nodeRef }}</a>
                        </h3>


                    </span>
										<div class="od-notify-btns">
                    	<button class="od-notifylist--item--read-btn" ng-click="vm.setRead(notice.nodeRef)"><i class="material-icons">done</i></button>
                    	<button class="od-notifylist--item--close" ng-click="vm.rmNotice(notice.nodeRef)"><i class="material-icons">delete</i></button>
										</div>

                </li>
            </ul>



        </div>
    </div>



</section>

