<section  class="od-notifications" ng-controller="NotificationsController as vm">

    <button ng-click="vm.toggleNotices()" class="od-btn od-notifications--toggle">
        <i class="material-icons">notifications</i>
    </button>
    
    <div class="od-flyout right" ng-class="{ open: vm.on }" ng-click="vm.toggleNotices()">
        <div class="od-flyout--body" ng-click="$event.stopPropagation()">
            <button ng-click="vm.toggleNotices()" class="od-btn od-user--close">
                <i class="material-icons">close</i>
            </button>
        
            <ul class="od-notifylist">
                <li><a href="#">Besked 1 sefliahs efælijas eflæijas eæflihas elæfijhas leæfh </a><hr></li>
                <li><a href="#">Besked 1 sefliahs efælijas eflæijas eæflihas elæfijhas leæfh </a><hr></li>
                <li><a href="#">Besked 1 sefliahs efælijas eflæijas eæflihas elæfijhas leæfh </a><hr></li>
                <li><a href="#">Besked 1 sefliahs efælijas eflæijas eæflihas elæfijhas leæfh </a><hr></li>
                <li><a href="#">Besked 1 sefliahs efælijas eflæijas eæflihas elæfijhas leæfh </a><hr></li>
                <li><a href="#">Besked 1 sefliahs efælijas eflæijas eæflihas elæfijhas leæfh </a><hr></li>
            </ul>
        
        </div>
    </div>
        
</section>
