/**
 * SASS constants
 */

//$main-color: rgb(63, 81, 181);
// Main color. We use lighten() and darken() to make variations of this color
$black: #000;
$white: #fff;

$gray-90: #eee;
$gray-85: #ddd;
$gray-80: #ccc;
$gray-60: #999;
$gray-40: #666;
$gray-20: #333;

$primary-color: rgb(63, 81, 181);
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: rgb(255, 215, 89);
$secondary-color-light: lighten($secondary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

$primary-text-color: rgba($black, .87);
$secondary-text-color: $white;
$gray-text-color: rgba($black, .38);
$dark-gray-text-color: rgba($black, .54);

$headline-color: $white;

$overlay: rgba($black, .4);
$card-shadow: rgba($black, .2);

$u: 16px;
// Unit of measurement - usually default font size
$br-sm-md: $u * 40;
// Breakpoint between small and medium screens

/**
 * Mixins
 */

@mixin fade-in {
  opacity: 1;
  transition: opacity .25s ease-in;
}

@mixin fade-out {
  opacity: 0;
  transition: opacity .15s ease-out;
}


/**
 * Element level (atom) styles
 */

a {
  &,
  &:link,
  &:visited {
    color: $gray-text-color;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $dark-gray-text-color;
    text-decoration: underline;
  }
}

body {
  background: $gray-85;
  color: $primary-text-color;
}

img {
  height: auto;
  width: 100%;
}

dl {
  dt {
    color: $primary-color-light, 20%;
    font-size: $u * .9;
  }
  dd {
    margin: 0;
    padding: 0 0 $u;
  }
}

// Muted (greyed) text
.muted {
  font-size: .9em;
  opacity: .66;
}


/*
 * Molecule level styles
 */

.od-app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.od-body {
  margin: $u * 3 0 auto;
}

// Title that is placed in the header
.od-title {
  color: $headline-color;
  font-size: $u * 1.5;
  font-weight: normal;
  left: $u * 3;
  line-height: 1;
  right: $u * 6;
  position: fixed;
  width: 30%;
  top: 0;
  margin: 0;
  padding: $u * .75 $u;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Simple button class can be added to <a> or <button> elements
.od-btn {
  outline: none;
  &,
  &:link,
  &:visited {
    border: none;
    display: inline-block;
    box-sizing: border-box;
    background-color: $primary-color-dark;
    color: $secondary-text-color;
    padding: $u * .5;
    min-width: $u * 3;
    min-height: $u * 3;
    text-align: center;
  }
  &:hover,
  &:active {
    background-color: $primary-color-dark;
    text-decoration: none;
  }
  &.disabled {
    background-color: $gray-60;
    cursor: inherit;
  }
  .material-icons {
    font-size: $u * 2;
  }
}

// Sliding sidebar
.od-flyout {
  background-color: $overlay;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 5;
  .od-flyout--body {
    background-color: $white;
    color: $primary-text-color;
    width: $u * 20;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
  }
  &.right .od-flyout--body {
    right: 0;
  }
  &.left .od-flyout--body {
    left: 0;
  }
  &.open {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);
    .od-flyout--body {
      transition: all .5s;
      transform: translateX(0);
    }
  }
  &.closed {
    opacity: 0;
    .od-flyout--body {
      transition: all .5s;
      transform: translateX(1);
    }
  }
  .od-flyout--title {
    font-size: $u * 1.5;
    background-color: $primary-color;
    color: $headline-color;
    padding: $u * .625 $u;
    margin: 0;
    height: $u * 3;
    box-sizing: border-box;
  }
  .od-flyout--close {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    &:hover,
    &:active {
      background-color: $overlay;
    }
  }
}

.od-breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: $gray-90;
  border-radius: 4px;
  li {
    display: inline-block;
    &:not(:last-child):after {
      content: '/';
      padding: 0 4px;
    }
  }
}

// Icons in buttons
.md-button .material-icons {
  vertical-align: middle;
  margin-top: -($u * .25);
}

.md-text-icon-button {
  padding-right: $u;
}

/*
 * General media queries 
 */

// Screens larger than small (breaks between small and medium screens)
@media screen and (min-width: $br-sm-md) {}

//make the chat window appear behind notifcation slide out
#conversejs {
  z-index: 0 !important;
}

//Search results
.search-documents {
  width: 400px;
  li {
    border-bottom: 1px solid $gray-80;
    height: auto;
    min-width: 200px;
    padding-bottom: $u * .5;
    padding-top: $u * .5;
    white-space: normal;
    &:last-child {
      border-bottom-width: 0;
    }
  }
  .item-title,
  .item-metadata {
    display: block;
    line-height: 2;
    md-icon {
      height: 18px;
      width: 18px;
    }
  }
}
