/*
 * Sass constants
 */

$main-color: rgb(63,81,181);
$u: 16px;


/*
 * Element level (atom) styles
 */

a,
a:link,
a:visited {
    text-decoration: none;
    color: $main-color;
}

a:hover,
a:active {
    color: darken($main-color, 20%);
    text-decoration: underline;
}

article {
    padding: $u $u*2;
}

hr {
    padding: 0;
}

footer {
    padding: $u $u*2;
    background-color: #eee; 
}
