//
// SASS constants
//

$black: #000;
$white: #fff;

$gray-90: #eee;
$gray-85: #ddd;
$gray-80: #ccc;
$gray-60: #999;
$gray-40: #666;
$gray-20: #333;

$primary-color: rgb(63, 81, 181);
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: rgb(255, 215, 89);
$secondary-color-light: lighten($secondary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

$primary-text-color: rgba($black, .87);
$secondary-text-color: $white;
$gray-text-color: rgba($black, .38);
$dark-gray-text-color: rgba($black, .54);

$headline-color: $white;

$overlay: rgba($black, .4);
$card-shadow: rgba($black, .2);

$u: 16px;
// Unit of measurement - usually default font size
$br-sm-md: $u * 40;
// Breakpoint between small and medium screens

//
// Mixins
//

@mixin fade-in {
  opacity: 1;
  transition: opacity .25s ease-in;
}

@mixin fade-out {
  opacity: 0;
  transition: opacity .15s ease-out;
}


//
// Element level (atom) styles
//

a {
  &,
  &:link,
  &:visited {
    color: $gray-text-color;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $dark-gray-text-color;
    text-decoration: underline;
  }
}

body {
  background: $gray-85;
  color: $primary-text-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

img {
  height: auto;
}

dl {
  dt {
    color: $primary-color-light, 20%;
    font-size: $u * .9;
  }

  dd {
    margin: 0;
    padding: 0 0 $u;
  }
}

// md-switch .md-thumb-container adds z-index: 1 per default which we don't want.
md-switch .md-thumb-container {
  z-index: 0;
}

md-icon {
  color: $primary-text-color;
}

.md-chips .md-chip-input-container {
  width: 100%;
}

md-card md-card-content {
  padding: 16px 16px 0px 16px;
}

md-toast.md-error-toast-theme .md-toast-content {
  color: #ff645f;
  font-weight: bold;
}

// Muted (greyed) text
.muted {
  font-size: .9em;
  opacity: .66;
}

.clickable {
  cursor: pointer;
}


//
// Molecule level styles
//

main {
  margin: $u * 4 0 auto;
}

.od-breadcrumb {
  background-color: $gray-90;
  border-radius: 4px;
  list-style: none;
  margin: $u 0;
  min-height: 40px;
  padding: 0;

  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: '/';
      padding: 0 4px;
    }
  }
}

// Icons in buttons
.md-button {
  .material-icons {
    margin-top: -($u * .25);
    vertical-align: middle;
  }
}

.md-text-icon-button {
  padding-right: $u;
}

//make the chat window appear behind notifcation slide out
#conversejs {
  z-index: 0;
}

//Search results
.search-documents {
  width: 400px;

  li {
    border-bottom: 1px solid $gray-80;
    height: auto;
    min-width: 200px;
    padding-bottom: $u * .5;
    padding-top: $u * .5;
    white-space: normal;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .item-title,
  .item-metadata {
    display: block;
    line-height: 2;

    md-icon {
      height: 18px;
      width: 18px;
    }
  }
}
