<md-dialog aria-label="{{'MEMBER.ADD_REMOVE_MEMBERS' | translate}}" class="site-dialog">
    <form name="membersForm" ng-submit="vm.updateMembers()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'MEMBER.ADD_REMOVE_MEMBERS' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-chips ng-model="vm.group.members" md-autocomplete-snap md-require-match="true"
                  md-on-remove="vm.removeMember($chip, vm.group.shortName)"
                  md-on-add="vm.addMember($chip, vm.group.shortName)">
            <md-autocomplete md-selected-item="selectedProjGrpItem"
                             md-search-text="searchText"
                             md-items="pgitem in vm.search(searchText)"
                             md-item-text="pgitem.displayName"
                             placeholder="{{'PROJECT.MEMBER' | translate}}">
                <span md-highlight-text="searchText" md-highlight-flags="gi">
                    {{ pgitem.displayName }}
                </span>
                <span class="od-secondary">({{ vm.group.type === 'USER' ? pgitem.userName : pgitem.shortName }})</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{ $chip.displayName }}</span>
            </md-chip-template>
        </md-chips>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-primary">{{'COMMON.SAVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>