<application-block>
    <md-card>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Kort beskrivelse af projektet</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div class="opendesk-dl">

                <span class="opendesk-dl__term">{{ vm.applicationDateStart.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicationDateStart.value | date:'yyyy' }}</span>

                <span class="opendesk-dl__term">{{ vm.applicationDateEnd.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicationDateEnd.value | date:'yyyy' }}</span>

                <span class="opendesk-dl__term">{{ vm.applicationTitle.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.applicationTitle.value"></span>

                <span class="opendesk-dl__term">{{ vm.applicationProjectDescription.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.applicationProjectDescription.value"></span>

                <span class="opendesk-dl__term">{{ vm.applicationProjectArgument.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.applicationProjectArgument.value"></span>

                <span class="opendesk-dl__term">{{ vm.applicationProjectOutput.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.applicationProjectOutput.value"></span>

                <span class="opendesk-dl__term">{{ vm.applicationProjectNewsworthy.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.applicationProjectNewsworthy.value"></span>

                <span class="opendesk-dl__term">{{ vm.applicationProjectBenefit.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.applicationProjectBenefit.value"></span>

                <span class="opendesk-dl__term">{{ vm.applicationProjectSustainability.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.applicationProjectSustainability.value"></span>

            </div>
        </md-card-content>

    </md-card>
</application-block>
