<application-block>
    <md-card>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Basic Info</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div class="opendesk-dl">

                <span class="opendesk-dl__term">{{ vm.applicantName.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicantName.value }}</span>

                <span class="opendesk-dl__term">{{ vm.applicationAmount.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicationAmount.value | currency:'DKK':0 }}</span>

                <span class="opendesk-dl__term">{{ vm.applicationTotalBudget.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicationTotalBudget.value | currency:'DKK':0 }}</span>

                <span class="opendesk-dl__term">{{ vm.projectTitle.label }}:</span>
                <span class="opendesk-dl__description" ng-bind-html="vm.projectTitle.value"></span>

            </div>
        </md-card-content>
    </md-card>
</application-block>
