:root {
    --light-gray: rgba(0, 0, 0, 0.1);
    --lighter-gray: rgba(0, 0, 0, 0.05);
    --bar-heading-color: rgba(0, 0, 0, 0.75);

    --meter-background-color: var(--light-gray);
    --meter-border-radius: 2px;
    --meter-color: rgba(39, 174, 96, 0.9);
    --meter-height: 2em;
    --meter-label-font-size: 0.8em;
}

hidden,
.hidden {
    display: none;
}

.osflow-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    &__thead {}

    &__tbody {}

    &__tr {
        &:hover {
            .osflow-table__td {
                background-color: var(--lighter-gray);
            }
        }

        &--open {
            .osflow-table__td,
            + .osflow-table__tr .osflow-table__td {
                background-color: var(--lighter-gray);
            }

            .osflow-table__td {
                border-top: 1px solid var(--light-gray);
                font-weight: bold;
            }

            + .osflow-table__tr .osflow-table__td {
                border-bottom: 1px solid var(--light-gray);
            }
        }
    }

    &__th {
        background-color: var(--light-gray);
        font-weight: normal;
        padding: 1em;
        text-align: left;

        &--right {
            text-align: right;
        }
    }

    &__td {
        padding: 1em;

        &--right {
            text-align: right;
        }
    }
}

.osflow-bar {
    margin-top: 1em;

    &__heading {
        color: var(--bar-heading-color);
        font-size: 0.8rem;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase;

        span {
            font-family: monospace;
        }
    }

    &__heading-link {
        color: inherit;
    }
}

.osflow-meter {
    background-color: var(--meter-background-color);
    // border-radius: var(--meter-border-radius);
    box-sizing: border-box;
    display: block;
    height: var(--meter-height);
    overflow: hidden;
    position: relative;
    width: 100%;

    *,
    &::before,
    &::after {
        box-sizing: border-box;
    }

    &__label {
        font-size: var(--meter-label-font-size);
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        right: 1em;
        white-space: nowrap;
    }

    &__progress {
        background-color: var(--meter-color);
        display: inline-block;
        height: 100%;
        position: relative;
        transition: width 0.2s ease-in-out;
    }

    &__progress-label {
        font-size: var(--meter-label-font-size);
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        left: 1em;
        white-space: nowrap;
    }
}
