<application-block class="osflow-partners">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Project Partners:</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div ng-repeat="partner in vm.applicationProjectPartners">
                <application-field ng-repeat="field in partner.fields" field="field"></application-field>
            </div>
        </md-card-content>
    </md-card>
</application-block>
