<application-block>
    <md-card>
        <md-card-content>
            <div class="opendesk-dl">

                <div class="opendesk-dl__term">{{ vm.phoneNumber.label }}:</div>
                <div class="opendesk-dl__description">{{ vm.phoneNumber.value }}</div>

                <div class="opendesk-dl__term">{{ vm.amount.label }}:</div>
                <div class="opendesk-dl__description">{{ vm.amount.value }}</div>

                <div class="opendesk-dl__term">{{ vm.phoneNumber.label }}:</div>
                <div class="opendesk-dl__description">{{ vm.phoneNumber.value }}</div>

                <div class="opendesk-dl__term">{{ vm.phoneNumber.label }}:</div>
                <div class="opendesk-dl__description">{{ vm.phoneNumber.value }}</div>

            </div>
        </md-card-content>
    </md-card>
</application-block>
