<application-block>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Project Partners:</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div class="opendesk-dl">

                <span class="opendesk-dl__term">{{ vm.applicationProjectPartnerName.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicationProjectPartnerName.value }}</span>

                <span class="opendesk-dl__term">{{ vm.applicantProjectPartnerCvr.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicantProjectPartnerCvr.value }}</span>

                <span class="opendesk-dl__term">{{ vm.applicantProjectPartnerContactPerson.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicantProjectPartnerContactPerson.value }}</span>

                <span class="opendesk-dl__term">{{ vm.applicantProjectPartnerRoll.label }}:</span>
                <span class="opendesk-dl__description">{{ vm.applicantProjectPartnerRoll.value }}</span>

            </div>
        </md-card-content>
    </md-card>
</application-block>
