<application-block>
    <md-card>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Basic Info</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div class="opendesk-dl">

                <div class="opendesk-dl__term" ng-if="vm.applicantName.label">{{ vm.applicantName.label }}</div>
                <div class="opendesk-dl__description">
                  <md-input-container>
                    <span ng-if="!isEditing.get()" ng-bind-html="vm.applicantName.value"></span>
                    <input ng-if="isEditing.get()" type="text" ng-model="vm.applicantName.value" aria-label="{{ vm.applicantName.label }}" data-fieldrule="toggle inverseToggle"/>
                  </md-input-container>
                </div>

                <div class="opendesk-dl__term" ng-if="vm.applicationAmount.label">{{ vm.applicationAmount.label }}</div>
                <div class="opendesk-dl__description">
                  <md-input-container>
                    <span ng-if="!isEditing.get()" ng-bind-html="vm.applicationAmount.value"></span>
                    <input ng-if="isEditing.get()" type="text" ng-model="vm.applicationAmount.value" aria-label="{{ vm.applicationAmount.label }}" data-fieldrule="toggle inverseToggle"/>
                  </md-input-container>
                </div>

                <div class="opendesk-dl__term" ng-if="vm.applicationTotalBudget.label">{{ vm.applicationTotalBudget.label }}</div>
                <div class="opendesk-dl__description">
                  <md-input-container>
                    <span ng-if="!isEditing.get()" ng-bind-html="vm.applicationTotalBudget.value"></span>
                    <input ng-if="isEditing.get()" type="text" ng-model="vm.applicationTotalBudget.value" aria-label="{{ vm.applicationTotalBudget.label }}" data-fieldrule="toggle inverseToggle"/>
                  </md-input-container>
                </div>

                <div class="opendesk-dl__term" ng-if="vm.projectTitle.label">{{ vm.projectTitle.label }}</div>
                <div class="opendesk-dl__description">
                  <md-input-container>
                    <span ng-if="!isEditing.get()" ng-bind-html="vm.projectTitle.value"></span>
                    <input ng-if="isEditing.get()" type="text" ng-model="vm.projectTitle.value" aria-label="{{ vm.projectTitle.label }}" data-fieldrule="toggle inverseToggle"/>
                  </md-input-container>
                </div>

            </div>
        </md-card-content>
    </md-card>
</application-block>
