<application-block>
    <md-card>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Kort beskrivelse af projektet</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptate tenetur neque, ullam porro ratione, laudantium debitis suscipit soluta, excepturi aliquid fugiat obcaecati laborum est sit modi beatae placeat culpa.</p>

            <h3 class="md-headline">Uddybende projektbeskrivelse</h3>

            <ul class="osflow-filelist">
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">Filnavn #1</a>
                </li>
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">LængereFilnavn #2</a>
                </li>
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">Filnavn #4</a>
                </li>
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">Filnavn #5</a>
                </li>
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">Filnavn #6</a>
                </li>
            </ul>

            <h3 class="md-headline">CV for centrale personer</h3>

            <ul class="osflow-filelist">
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">Filnavn #1</a>
                </li>
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">Filnavn #2</a>
                </li>
                <li class="osflow-filelist__item">
                    <a href="#" class="osflow-filelist__link">Filnavn #3</a>
                </li>
            </ul>
    
            <div layout="row">
                <div flex>
                    <h3>Projektstart</h3>
                    <md-icon>access_time</md-icon>
                    <time style="display: inline-block; line-height: 24px; vertical-align: middle;">03/10-2019</time>
                </div>
                <div flex>
                    <h3>Projektslut</h3>
                    <md-icon>access_time</md-icon>
                    <time style="display: inline-block; line-height: 24px; vertical-align: middle;">03/10-2021</time>
                </div>
            </div>
        </md-card-content>

    </md-card>
</application-block>
