<application-block>
    <md-card>
        <md-card-content>
            <h2>Tidligere ansøgninger</h2>

            <span 
                class="osflow-meter"
                aria-label="Ansøgt beløb (100.000)"
                title="Ansøgt beløb (100.000)">

                <span 
                    class="osflow-meter__progress"
                    aria-label="Tildelt beløb (80.000)"
                    title="Tildelt beløb (80.000)"
                    style="width: 80%;"></span>
            </span>

            <span 
                class="osflow-meter" 
                aria-label="Ansøgt beløb (15.000)" 
                title="Ansøgt beløb (15.000)">
                
                <span 
                    class="osflow-meter__progress" 
                    aria-label="Tildelt beløb (9.000)" 
                    title="Tildelt beløb (9.000)" 
                    style="width: 60%;"></span>
            </span>

        </md-card-content>
    </md-card>
</application-block>
