<md-dialog aria-label="{{'COMMON.CREATE' | translate }} {{'PROJECT.PROJECTLINK' | translate | lowercase }}" ng-cloak>
    <form name="createLink" ng-submit="vm.createProjectLink(project)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.CREATE' | translate }} {{'PROJECT.PROJECTLINK' | translate | lowercase }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>
        <md-autocomplete
                md-autofocus
                required
                md-input-name="addProjectAutocomplete"
                md-selected-item="project"
                md-search-text="searchProjectText"
                md-items="site in vm.searchProjects(searchProjectText)"
                md-item-text="site.title"
                md-min-length="1"
                md-floating-label="{{'COMMON.CHOOSE' | translate }} {{'PROJECT.PROJECT' | translate | lowercase}}">
            <md-item-template>
                <span md-highlight-text="searchProjectText">{{site.title}}</span>
            </md-item-template>
            <md-not-found>
                Ingen projekter matcher "{{ searchProjectText }}".
            </md-not-found>
            <div ng-messages="autocompleteForm.autocomplete.$error">
                <div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
            </div>
        </md-autocomplete >

        <md-dialog-actions>
            <md-button ng-disabled="createLink.$invalid" type="submit" class="md-primary">{{'COMMON.CREATE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>