.od-site-list {

  .od-filter-sidebar {
    overflow: hidden;

    button {
      top: 0 !important;
    }

    md-card-title {
      max-height: 40px;
    }

    md-card-content,
    md-autocomplete {
      min-width: 150px;
    }

    md-input-container {
      height: $u * 3.5;

      label {
        color: $gray-text-color;
      }
    }

    .show-all {
      color: $gray-text-color;
      height: auto;
      padding-left: $u * .2;
      text-overflow: ellipsis;

      md-checkbox {
        margin-bottom: $u * 2;
      }
    }
  }
}
