<md-list-item 
    class="back-item"
    ng-class="model === vm.currentNode[0].currentNodeRef_nodeRef ? 'picked' : ''" 
    ng-click="vm.pickNode(vm.currentNode[0].currentNodeRef_nodeRef)" 
    ng-if="vm.currentNode[0].currentNodeRef_nodeRef !== undefined"
>
    <md-button ng-show="vm.currentNode[0].primaryParent_nodeRef != undefined" class="md-icon-button back" ng-click="vm.browseParent();">
        <md-icon>arrow_back</md-icon>
    </md-button>
   <p style="font-size: 1.25rem; color: #444"><strong>{{ vm.currentNode[0].currentNodeRef_name }}</strong></p>
</md-list-item>

<md-list class="picker-list">
    <md-list-item ng-class="model === dir.nodeRef ? 'picked' : ''" ng-repeat="dir in vm.currentNode[1]"
                  ng-click="vm.pickNode(dir.nodeRef)" ng-if="dir.nodeRef !== undefined">
        <p>{{ dir.name }}</p>
        <md-button class="md-icon-button md-raised"
                   ng-click="vm.browseChild(dir.nodeRef); $event.stopPropagation();">
            <md-icon>navigate_next</md-icon>
        </md-button>
    </md-list-item>
</md-list>