<section class="od-settings" ng-controller="SettingsController as vm">

    <!--button ng-click="vm.openMenu($mdOpenMenu, $event)" class="od-btn od-settings--toggle">
        <i style="font-size: 24px" class="material-icons">settings</i>
    </button-->
    <a class="od-btn od-settings--toggle" title="Indstillinger" ui-sref="administration.systemsettings"><i class="material-icons">settings</i></a>


    <!--md-menu>
        <button ng-click="vm.openMenu($mdOpenMenu, $event)" class="od-btn od-settings--toggle">
                <i style="font-size: 24px" class="material-icons">settings</i>
        </button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="vm.infoSiteDialog(project)">
                    Administrér skabeloner
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu-->

</section>
