<md-card ng-if="vm.block">

  <md-card-title ng-if="vm.block.label">
    <md-card-title-text class="md-title">
      <h2 class="md-title">{{ vm.block.label }}</h2>
    </md-card-title-text>
    <button type="button" ng-click="vm.toggleExpand($event)" class="no-styling">
      <md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>
    </button>
  </md-card-title>

  <md-card-content>
    <dl class="od-fund-app-block-field" ng-controller="ApplicationBlockController" ng-include="vm.getTemplate(field.type)"></dl>
  </md-card-content>

</md-card>
<ng-transclude></ng-transclude>
