<md-card>
  <md-card-title ng-if="vm.block.label">
    <md-card-title-text class="md-title">{{ vm.block.label }}</md-card-title-text>
    <button type="button" ng-click="vm.toggleExpand($event)" class="no-styling">
      <md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>
    </button>
  </md-card-title>
  <md-card-content>
    <div ng-repeat="field in vm.block.fields" ng-include="vm.getTemplate(field.type)" class="od-fund-app-block-field"></div>
    <!-- @TODO: this should probably be moved inside the specific field template -->
    <!-- <div>
      <md-input-container class="od-fund-edit-field">
        <input ng-if="$parent.isEditing" ng-model="vm.block" type="text">
        <span ng-if="!$parent.isEditing">{{ vm.block }}</span>
      </md-input-container>
    </div> -->
  </md-card-content>
</md-card>
