<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout-gt-sm="row">
    <md-card flex-gt-sm="70">
        <md-card-content>
            <h2 class="od-title-icon"><i class="material-icons">library_books</i>Dokumenter</h2>

            <breadcrumb paths="vm.paths"></breadcrumb>

            <md-list class="sortHead">

                <table class="od-members od-members-row">
                    <thead fix-head>
                    <tr>
                        <th sort-table="name" sort-default="!reverse" title="Sortér kolonne">Navn</th>
                        <th colspan="3" sort-table="lastChanged" title="Sortér kolonne">Historik</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-show="content.contentType === 'cmis:document'"
                        ng-repeat="content in contents | orderObjectBy:orderByAttribute:reverseOrder">

                        <td><a class="od-filebrowser-link" ng-href="#!/dokument/{{content.shortRef}}">
                            <i class="material-icons" ng-show="content.contentType === 'cmis:document'">insert_drive_file</i>
                            {{content.name}}</a></td>
                        <td>
                            <table>
                                <tr>
                                    <td style="border: none; margin: 0; padding: 0">
                                        <a class="od-filebrowser-link" ng-href="#!/dokument/{{content.shortRef}}">{{content.lastChanged
                                            | openeDate}}&nbsp;-&nbsp;{{content.lastChangedBy}}</a>
                                    </td>
                                    <td ng-show="content.hasHistory" style="border: none; margin: 0; padding: 0">
                                        <md-menu md-position-mode="left bottom">
                                            <md-button class="md-icon-button" aria-label="Se historik"
                                                       ng-click="$mdMenu.open(); vm.loadHistory(content.shortRef)">
                                                <md-icon md-menu-origin
                                                " title="Se historik" style="font-size: 22px; position: relative;
                                                top: 5px">history</md-icon>
                                            </md-button>
                                            <md-menu-content>
                                                <md-menu-item class="menuListHead">
                                                    Ændret
                                                    <span style="width: 70px;"></span>
                                                    Ændret af
                                                </md-menu-item>
                                                <md-menu-item ng-repeat="h in history" class="menuList">
                                                    <a href="/#!/dokument/{{h.nodeRef}}?archived=true&parent={{h.parent_nodeRef}}">
                                                        {{ h.created | openeDate }}&nbsp;&nbsp;&nbsp;&nbsp;{{
                                                        h.modifier }}</a>
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                    <md-icon md-menu-origin>more_vert</md-icon>
                                </md-button>

                                <md-menu-content width="6">
                                    <md-menu-item>
                                        <md-button ng-click="vm.downloadDocument(content.nodeRef, content.name)">
                                            <md-icon md-menu-align-target>get_app</md-icon>
                                            Download
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <md-button ng-click="vm.previewDocument(content.nodeRef)">
                                            <md-icon md-menu-align-target>search</md-icon>
                                            Preview
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.deleteFileDialog($event, content.nodeRef)">
                                            <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                                            Slet
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.renameDocumentDialog($event, content.nodeRef)">
                                            <md-icon md-menu-align-target>create</md-icon>
                                            Omdøb
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.goToLOEditPage(content.nodeRef)">
                                            <md-icon md-menu-align-target>library_books</md-icon>
                                            Rediger dokument
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.goToLOEditPage(content.nodeRef)">
                                            <md-icon md-menu-align-target>unarchive</md-icon>
                                            Gem til ESDH
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.copyFileDialog($event, content.nodeRef, content.parentNodeRef)">
                                            <md-icon md-menu-align-target>content_copy</md-icon>
                                            Kopiér
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.moveFileDialog($event, content.nodeRef, content.parentNodeRef)">
                                            <md-icon md-menu-align-target>compare_arrows</md-icon>
                                            Flyt
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.reviewDocumentsDialog($event, content.nodeRef)">
                                            <md-icon md-menu-align-target>playlist_add_check</md-icon>
                                            Send til godkendelse
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    <tr ng-show="content.contentType === 'cmis:folder'"
                        ng-repeat="content in contents | orderObjectBy:orderByAttribute:reverseOrder">

                        <td><a class="od-filebrowser-link"
                               ng-href="#!/projekter/{{vm.project.shortName}}{{vm.path}}/{{content.name}}">
                            <i class="material-icons" ng-show="content.contentType === 'cmis:folder'">folder</i>
                            {{content.name}}
                        </a></td>
                        <td>
                            <a class="od-filebrowser-link"
                               ng-href="#!/projekter/{{vm.project.shortName}}{{vm.path}}/{{content.name}}">{{content.lastChanged
                                | openeDate}}&nbsp;-&nbsp;{{content.lastChangedBy}}</a>
                        </td>
                        <td>
                            <md-menu ng-if="vm.canEdit">
                                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                    <md-icon md-menu-origin>more_vert</md-icon>
                                </md-button>

                                <md-menu-content width="6">
                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.deleteFoldereDialog($event, content.nodeRef)">
                                            <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                                            Slet
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    <tr ng-show="content.contentType === 'cmis:link'"
                        ng-repeat="content in contents | orderObjectBy:orderByAttribute:reverseOrder">

                        <td><a class="od-filebrowser-link" ng-href="#!/projekter/{{ content.destination_link }}">
                            <i class="material-icons"
                               ng-show="content.contentType === 'cmis:link'">content_paste</i>
                            {{content.name}}
                        </a></td>
                        <td>&nbsp;</td>
                        <td>
                            <md-menu ng-if="vm.canEdit">
                                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                    <md-icon md-menu-origin>more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="6">
                                    <md-menu-item ng-if="vm.canEdit">
                                        <md-button ng-click="vm.deleteLink(content.nodeid, content.destination_nodeid)">
                                            <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                                            Slet
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-list>
            <p ng-show="contents.length === 0">
                Denne mappe er tom
            </p>
            <md-divider></md-divider>
            <div layout="row" layout-align="start center" class="btnAlign">
                <md-button class="md-raised md-primary"
                           ng-click="vm.uploadDocumentsDialog($event)"><i class="material-icons">file_upload</i>
                    Upload dokumenter
                </md-button>
                <md-button ng-if="vm.canEdit" class="md-raised"
                           ng-click="vm.newFolderDialog($event)"><i class="material-icons">add</i> Opret ny mappe
                </md-button>
                <md-button ng-if="vm.canEdit" class="md-raised"
                           ng-click="vm.newLinkDialog($event)"><i class="material-icons">link</i> Opret projektlink
                </md-button>
                <div layout="column">
                    <md-menu ng-if="vm.canEdit">
                        <md-button ng-click="$mdMenu.open($event)" class="md-raised" aria-label="SBSYS">
                            <i class="material-icons">folder_open</i>
                            <span style="margin-left: 10px; margin-right: 20px;">ESDH</span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="vm.uploadSbsysDialog($event)"><i class="material-icons">unarchive</i> Gem projekt</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.loadSbsysDialog($event)"><i class="material-icons">archive</i> Hent dokumenter</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <div flex-gt-sm="30" ng-if="vm.project.type === 'Project'">

        <div>
            <h3 ng-click="vm.showProjDetails = !vm.showProjDetails"
                class="pd-group-toggle"
                ng-class="vm.showProjDetails ? 'open' : 'closed'"
                layout="row"
                style="margin: 8px;">
                <span>{{ vm.project.title }} <span class="muted">detaljer</span></span>
                <span flex></span>
                <i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
            </h3>
            <md-card ng-show="vm.showProjDetails">
                <md-card-content>
                    <div layout="row" layout-align="space-between">
                        <dl style="margin-bottom: 0;">
                            <dt>Beskrivelse</dt>
                            <dd>{{ vm.project.description }}</dd>
                        </dl>
                        <md-button ng-click="vm.editSiteDialog()" class="md-icon-button md-raised">
                            <i class="material-icons">edit</i>
                        </md-button>
                    </div>
                    <div layout="row">
                        <dl flex="50">
                            <dt>Oprettet af</dt>
                            <dd>{{ vm.project.creator.fullName }} <br><span class="muted">{{ vm.project.created | date }}</span></dd>
                        </dl>
                        <dl flex="50">
                            <dt>Filnavn</dt>
                            <dd>{{ vm.project.shortName }}</dd>
                        </dl>
                    </div>
                </md-card-content>
            </md-card>
        </div>


    </div>


</div>
</body>
</html>
