<div class="od-projects">
    <md-card flex="grow">
        <md-card-content>
            <h2 class="od-title-icon"><i class="material-icons">content_copy</i>Administrér Projektskabeloner</h2>

            <md-list class="sortHead">
                <table class="od-members od-members-row">

                    <thead fix-head>
                    <tr>
                        <th sort-table="title" sort-default="!reverse" title="Sortér kolonne">Projektnavn</th>
                        <th sort-table="created" title="Sortér kolonne">Oprettet</th>
                        <th colspan="2" sort-table="creator" title="Sortér kolonne">Oprettet af</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="project in templateSites | orderObjectBy:orderByAttribute:reverseOrder">

                        <td><a class="od-filebrowser-link" href="#!/projekter/{{project.shortName}}">
                            <i class="material-icons">content_paste</i>
                            {{ project.title }}
                        </a></td>
                        <td><a class="od-filebrowser-link" href="#!/projekter/{{project.shortName}}">{{ project.created | openeDate }}</a></td>
                        <td><a class="od-filebrowser-link" href="#!/projekter/{{project.shortName}}">{{ project.creator.fullName }}</a></td>
                        <td>
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                    <md-icon md-menu-origin>more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="6">
                                    <md-menu-item>
                                        <md-button ng-click="vm.infoSiteDialog(project)">
                                            <md-icon md-menu-align-target>info_outline</md-icon>
                                            Information
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.deleteSiteDialog(project.shortName)">
                                            <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                                            Slet
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </md-list>


            <!--<div class="repeat-table">-->
                <!--<div class="repeat-header" layout="row">-->
                    <!--<div layout="row" flex="100">-->
                        <!--<div class="r" flex>-->
                            <!--<div layout="row" layout-align="space-between center">-->
                                <!--<span>Skabelon navn</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="r" flex="20">-->
                            <!--<div layout="row" layout-align="space-between center">-->
                                <!--<span>Parametre</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="r" flex="20">-->
                            <!--<div layout="row" layout-align="space-between center">-->
                                <!--<span>Dokumenter</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="r" flex="30">-->
                            <!--<div layout="row" layout-align="space-between center">-->
                                <!--<span></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->







                <md-virtual-repeat-container flex-height style="border-bottom:0">
                    <div md-virtual-repeat="template in vm.templates" class="repeat-item" layout="row">
                        <a class="r-rowlink" ui-sref="{{vm.templateUisref}}(vm.tplNodeRefObj(template))" layout="row"
                           flex="100">
                            <span class="r" flex>{{template.properties['cm:name'].displayValue}}</span>
								<span class="r muted" flex="20">
									<div ng-repeat="prop in template.prefilledProps">
                                        {{vm.getPrefilledPropName(prop)}}
                                    </div>
								</span>
								<span class="r muted" flex="20">
									<div ng-repeat="doc in template.templateDocs">
                                        {{doc.title}}
                                    </div>
								</span>
								<span class="r muted" flex="30">
									<div ng-repeat="workflow in template.properties['ct:workflows'].value">
                                        {{vm.getWorkflowDisplayName(workflow)}}
                                    </div>
								</span>
                        </a>
                    </div>
                </md-virtual-repeat-container>
            </div>
            <div layout="row" layout-align="start center" class="btnAlign">
                <md-button class="md-primary md-raised" ng-click="vm.newTemplate()"><i class="material-icons">add</i>
                    Opret ny skabelon&nbsp;&nbsp;</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
