
<md-dialog aria-label="Rediger" ng-cloak>
    <form name="newReplyForm" ng-submit="dc.editReply(postItem,postItem.content)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.EDIT' | translate }} 
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dc.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout='column'>
            <ng-ckeditor ng-model="postItem.content" skin="moono-lisa" remove-buttons="Image" remove-plugins="iframe,flash" required></ng-ckeditor>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-disabled="newReplyForm.$invalid" type="submit" class="md-primary">{{'COMMON.EDIT' | translate}}</md-button>
        </md-dialog-actions>

        
    </form>
</md-dialog>