<div ng-controller="DiscussionController as dc">
<md-list class="sortHead">
    <table class="od-members od-members-row">
        <thead fix-head>
            <tr>
                <th class="od-secondary" colspan="2" sort-table="name" sort-default="!reverse" title="Sortér kolonne">Tråd</th>
                <th class="od-secondary" sort-table="lastChanged" title="Sortér kolonne">Seneste svar</th>
                <th class="od-secondary" colspan="3">
                    Svar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
                <td class="icon">
                    <i class="material-icons">chat_bubble_outline</i>
                </td>
                <td>
                    <a class="od-filebrowser-link od-secondary overflow" ng-href="" ng-click='dc.viewThread()'>
                        <h3 class="od-primary">
                            Et spændende emne
                        </h3>
                        Kim Larsen
                    </a>
                </td>
                <td>
                    <a class="od-filebrowser-link od-secondary" ng-href="">
                                1 time siden af Johnny Madsen
                            </a>
                </td>
                <td>
                    <a class="od-filebrowser-link od-secondary" ng-href="">
                                4
                            </a>
                </td>
                <td style="width:32px">
                    <i class="material-icons od-secondary">notifications_none</i>
                </td>
                <td style="width:32px">
                    <md-menu>
                    <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                        <md-icon md-menu-origin>more_vert</md-icon>
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.previewDocument(content.nodeRef)">
                                <md-icon md-menu-align-target>delete</md-icon>
                                {{'COMMON.DELETE' | translate }}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                </td>
            </tr>
        </tbody>
    </table>
</md-list>

<p ng-show="contents.length === 0">
    {{'COMMON.EMPTY_FOLDER' | translate}}
</p>

<md-divider></md-divider>

<md-card-actions layout="row" layout-align="start center">

    <md-input-container>
          <label>Sorter efter</label>
          <md-select name="type" ng-model="project.type">
            <md-option value="all">Alle</md-option>
            <md-option value="mine">Oprettet af mig</md-option>
            <md-option value="follow">Jeg følger</md-option>
          </md-select>
        </md-input-container>

    <span flex></span>

    <md-button ng-click="dc.newThreadDialog()" class="md-primary" aria-label="SBSYS">
        <span>
                Start ny samtale
            </span>
    </md-button>
</md-card-actions>
</div>