<div ng-if="dc.isLoading" layout="row" layout-sm="column" layout-align="space-around" flex>
    <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
</div>

<md-list class="sortHead">
    <table class="od-members od-members-row">
        <thead fix-head>
            <tr>
                <th class="od-secondary" colspan="2" sort-table="name" sort-default="!reverse" title="Sortér kolonne">{{'DISCUSSIONS.TITLE' | translate}}</th>
                <th class="od-secondary" sort-table="created" title="Sortér kolonne">{{'DISCUSSIONS.CREATED_AT' | translate}}</th>
                <th class="od-secondary" sort-table="lastChanged" title="Sortér kolonne">{{'DISCUSSIONS.LATEST_REPLY' | translate}}</th>
                <th class="od-secondary" colspan="3">{{'DISCUSSIONS.REPLIES' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="discussion in dc.discussions | orderBy: '-lastReplyOn' 
                        | filter:{isSubscribed: dc.searchSubscribed, author: {username: dc.searchUser}}">
                <td class="icon">
                    <i class="material-icons">chat_bubble_outline</i>
                </td>
                <td>
                    <a class="od-filebrowser-link od-secondary overflow" ng-href="{{dc.viewThread(discussion)}}" ng-click="dc.getReplies(discussion)">
                        <h3 class="od-primary">{{discussion.title}}</h3>
                        <span>{{discussion.author.firstName}} {{discussion.author.lastName}}</span>
                    </a>
                </td>
                <td>
                    <a class="od-filebrowser-link od-secondary" ng-href="{{dc.viewThread(discussion)}}">{{discussion.createdOn | customDate}}</a>
                </td>
                <td>
                    <a ng-if="discussion.lastReplyBy" class="od-filebrowser-link od-secondary" ng-href="{{dc.viewThread(discussion)}}">
                                {{discussion.lastReplyOn | customDate}} af {{discussion.lastReplyBy.firstName}} {{discussion.lastReplyBy.lastName}}
                            </a>
                </td>
                <td>
                    <a class="od-filebrowser-link od-secondary" ng-href="">{{discussion.totalReplyCount}}</a>
                </td>
                <td style="width:32px">
                    <i ng-click='dc.changeSubscription(discussion)' class="material-icons od-secondary" style="outline:0;">{{dc.subscriptionIcon(discussion.isSubscribed)}}</i>
                </td>
                <td style="width:32px">
                    <md-menu ng-if="discussion.permissions.delete">
                        <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                            <md-icon md-menu-origin>more_vert</md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="dc.deleteDiscussion(discussion)">
                                    <md-icon md-menu-align-target>delete</md-icon>
                                    {{'COMMON.DELETE' | translate }}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="dc.editTitleDialog(discussion)">
                                    <md-icon md-menu-align-target>edit</md-icon>
                                    {{'COMMON.EDIT' | translate}} {{'DISCUSSIONS.TITLE' | translate | lowercase}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
        </tbody>
    </table>
</md-list>

<p ng-show="dc.discussions.length === 0">{{'COMMON.NO_DISCUSSIONS' | translate}}</p>

<md-divider></md-divider>

<md-card-actions layout="row" layout-align="start center">

    <md-input-container>
        <md-select name="type" ng-model="dc.search" md-on-close='dc.evaluateFilter()'>
            <md-option ng-selected="true" value="all">{{'DISCUSSIONS.SORT.ALL' | translate}}</md-option>
            <md-option value="mine">{{'DISCUSSIONS.SORT.MINE' | translate}}</md-option>
            <md-option value="follow">{{'DISCUSSIONS.SORT.FOLLOW' | translate}}</md-option>
        </md-select>
    </md-input-container>

    <span flex></span>

    <md-button ng-click="dc.newDiscussionDialog()" class="md-primary" aria-label="ny diskussion">
        <span>{{'DISCUSSIONS.NEW' | translate}}</span>
    </md-button>
</md-card-actions>