
<md-dialog aria-label="Besvar" ng-cloak>
    <form name="newReplyForm" ng-submit="dc.reply(replyContent)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Besvar 
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dc.cancel()">
                    <i class="material-icons" aria-label="Luk dialogboks">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout='column'>
                <md-input-container>
                    <label>{{'PROJECT.DESCRIPTION' | translate}}</label>
                    <textarea required name="replyContent" ng-model="replyContent"></textarea>
                </md-input-container>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-primary">{{'COMMON.REPLY' | translate}}</md-button>
        </md-dialog-actions>

        
    </form>
</md-dialog>