<md-dialog>
  <form name="renameForm" ng-submit="vm.rename()">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>{{'COMMON.RENAME' | translate}}</h2>
        <md-button ng-click="vm.cancel()" class="md-icon-button">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content class="md-padding">
      <div layout-margin>
        <md-input-container>
          <label>{{'COMMON.NAME' | translate}}</label>
          <input type="text" name="newName" required ng-model="vm.newName" md-autofocus md-select-on-focus>
          <div ng-messages="renameForm.newName.$error">
            <span ng-message="required">{{'ERROR.REQUIRED' | translate}}</span>
          </div>
        </md-input-container>
      </div>
    </md-content>

    <md-dialog-actions>
      <md-button 
        ng-disabled="renameForm.$invalid" 
        type="submit" 
        class="md-primary" 
        aria-label="{{'COMMON.RENAME' | translate}}"
      >
        {{'COMMON.RENAME' | translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>