<md-dialog aria-label="Copy item" ng-cloak>
	<form name="copyNodeRef" ng-submit="vm.copyNodeRefs(vm.source, destination, vm.parentId);">

		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Where do you want to copy this to?</h2>
			</div>
		</md-toolbar>

		<md-dialog-content class="md-padding">
				<md-radio-group ng-model="destination">
				  <md-radio-button ng-repeat="folder in vm.folders" ng-model="destination" ng-show="folder.contentType === 'cmis:folder'" ng-value="folder.nodeRef" aria-label="destination">
						{{ folder.name }}
				  </md-radio-button>
				</md-radio-group>

		</md-dialog-content>

		<md-dialog-actions>
			<md-button ng-click="vm.cancel()">Annullér</md-button>
			<md-button type="submit" class="md-primary">Copy</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>