
<md-dialog aria-label="Opret projekt" class="site-dialog">
    <form ng-submit="type == 'PD-Project' ? createPdSite() : createSite()" name="pdcreatesite">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.CREATE_NEW' | translate}} {{'SITES.' + type + '.NAME' | translate | lowercase}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{'COMMON.NAME' | translate}} {{'COMMON.AND' | translate}} {{'COMMON.MANAGEMENT' | translate}}">
                    <md-content id="details" class="md-padding" layout="row" layout-padding>
                        <div flex="50">
                            
                            <md-input-container class="template-input" ng-if="type == 'PD-Project'">
                                <label>{{'COMMON.TEMPLATE' | translate}}</label>
                                <md-select ng-model="newSite.template.name">
                                    <md-option ng-repeat="x in templates" value="{{ x.shortName }}">
                                        {{ x.displayName }}
                                    </md-option>
                                    <md-option value="no-template">{{"COMMON.NO_TEMPLATE" | translate}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container style="width: 100%;">
                                <label>{{'PROJECT.NAME' | translate}}</label>
                                <input type="text" ng-model="newSite.siteName" required>
                            </md-input-container>

                            <md-autocomplete ng-if="type == 'PD-Project'" required md-selected-item="newSite.owner" md-search-text="prjownsrchtxt" md-items="own in searchOwners(prjownsrchtxt)"
                                md-item-text="own.displayName" md-min-length="1" md-floating-label="{{'SITES.' + type + '.GROUPS.PD_PROJECTOWNER' | translate}}"
                                placeholder="{{'SITES.' + type + '.GROUPS.PD_PROJECTOWNER' | translate}}">
                                <md-item-template>
                                    <span md-highlight-text="prjownsrchtxt" md-highlight-flags="gi">{{ own.displayName }}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{'ERROR.NO_USERS_MATCHES' | translate}} "{{ prjownsrchtxt }}".
                                </md-not-found>
                            </md-autocomplete>

                            <md-input-container style="width: 100%;">
                                <label>{{'PROJECT.DESCRIPTION' | translate}}</label>
                                <textarea ng-model="newSite.desc" md-maxlength='250' maxlength="250"></textarea>
                            </md-input-container>
                        </div>
                        <div flex="50">
                            <md-input-container ng-if="type == 'PD-Project'" class="org-input">
                                <label>{{'PROJECT.ORG_UNIT' | translate}}</label>
                                <md-select ng-model="newSite.center_id" required>
                                    <md-option ng-repeat="org in availOrgs | orderBy:'+displayName'" value="{{ org.shortName }}">
                                        {{ org.displayName }}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container ng-if="type == 'PD-Project'" style="width: 100%;">
                                <label>{{'ESDH' | translate}} {{'CASE.CASE_NUMBER' | translate | lowercase}}</label>
                                <input type="text" ng-model="newSite.sbsys" required>
                            </md-input-container>

                            <!--searchTextManager-->
                            <md-autocomplete ng-if="type == 'PD-Project'" required md-selected-item="newSite.manager" md-search-text="newSite.presetManager" md-items="man in searchPeople(newSite.presetManager)"
                                md-item-text="man.displayName" md-min-length="1" md-floating-label="{{'SITES.' + type + '.GROUPS.PD_PROJECTMANAGER' | translate}}"
                                placeholder="{{'SITES.' + type + '.GROUPS.PD_PROJECTMANAGER' | translate}}">
                                <md-item-template>
                                    <span md-highlight-text="newSite.presetManager" md-highlight-flags="gi">{{ man.displayName }}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{'ERROR.NO_USERS_MATCHES' | translate}} "{{ newSite.presetManager }}".
                                </md-not-found>
                            </md-autocomplete>

                            <md-checkbox ng-model="newSite.isPrivate" aria-label="Gør projektet privat">
                                {{'COMMON.CLOSED' | translate}} {{'SITES.' + type + '.NAME' | translate | lowercase}}
                            </md-checkbox>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="{{'GROUP.GROUPS' | translate}}">
                    <md-content id="groups" layout="column" style="width:100%">

                        <div ng-repeat="(groupIndex, group) in newSite.groups" ng-if="group.multipleMembers" flex="100">
                            <h4 ng-click="showGroupList[groupIndex] = !showGroupList[groupIndex]" class="group-toggle" layout="row" ng-class="showGroupList[groupIndex] ? 'open' : 'closed'">
                                <span>{{'SITES.' + type + '.GROUPS.' + group.shortName | translate}}</span>
                                <span flex></span>
                                <md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>
                            </h4>
                            <div ng-class="showGroupList[groupIndex] ? 'fold-out' : 'fold-in'">
                                <md-chips ng-model="group.members" md-autocomplete-snap md-require-match="true" md-on-remove="removeMemberFromSite($chip, group.shortName)"
                                    md-on-add="addMemberToSite($chip, group.shortName)">
                                    <md-autocomplete md-selected-item="selectedProjGrpItem" md-search-text="searchTextList[groupIndex]" md-items="pgitem in searchPeople(searchTextList[groupIndex])"
                                        md-item-text="pgitem.displayName" placeholder="{{'PROJECT.MEMBER' | translate}}">
                                        <span md-highlight-text="searchTextList[groupIndex]" md-highlight-flags="gi">{{ pgitem.displayName }}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>{{ $chip.displayName }}</span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </div>

                        <div style="font-weight: bold; font-size: 90%; padding: 15px;">{{'MEMBER.ADD_EXTERNAL_MEMBERS' | translate}}</div>
                        <div style="padding-left: 15px;" layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>{{'USER.FIRST_NAME' | translate}}</label>
                                <input type="text" name="externalUser.firstName" ng-model="externalUser.firstName">
                            </md-input-container>
                            <div flex="5" hide-xs hide-sm>
                                <!-- Spacer //-->
                            </div>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>{{'USER.LAST_NAME' | translate}}</label>
                                <input type="text" name="externalUser.lastName" ng-model="externalUser.lastName">
                            </md-input-container>
                            <div flex="5" hide-xs hide-sm>
                                <!-- Spacer //-->
                            </div>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>{{'COMMON.EMAIL' | translate}}</label>
                                <input type="email" name="externalUser.email" ng-model="externalUser.email" ng-pattern="/^.+@.+\..+$/">
                            </md-input-container>
                            <div flex="5" hide-xs hide-sm>
                                <!-- Spacer //-->
                            </div>
                            <md-input-container>
                                <label>Rolle</label>
                                <md-select ng-model="externalUser.group">
                                    <md-option ng-repeat="group in newSite.groups | filter: groupFilter" ng-value="group">{{'SITES.' + type + '.GROUPS.' + group.shortName | translate}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div style="position: relative; top: -25px;" class="btn-align">
                                <md-button class="md-primary" ng-click="addExternalUserToGroup (externalUser.firstName, externalUser.lastName, externalUser.email, externalUser.group)">
                                    <md-icon>add</md-icon> {{'COMMON.ADD' | translate}}
                                </md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" aria-label="{{'COMMON.CREATE' | translate}}" ng-disabled="pdcreatesite.$invalid" class="md-raised md-primary">
                {{'COMMON.CREATE' | translate}}
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>