
<md-dialog aria-label="Slet projekt" ng-cloak>
    <form name="deleteProjectForm" ng-submit="vm.deleteSite(project.shortName);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.REMOVE' | translate}} 
                    <span ng-show="project.type == 'PD-Project'">{{'PROJECT.PROJECT' | translate | lowercase}}</span>
                    <span ng-show="project.type == 'Project'">{{'PROJECT.GROUPROOM' | translate | lowercase}}</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <p>{{'COMMON.SURETOREMOVE' | translate}} <em>{{project.title}}</em>?</p>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-primary" aria-label="remove">{{'COMMON.REMOVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>