<td>
    <a class="od-filebrowser-link od-primary" ng-href="{{vm.getLink(content)}}">
        <i class="material-icons">
                                    {{content.contentType == 'cmis:folder' ? 'folder_open' : ''}}
                                    {{content.contentType == 'cmis:link' ? 'link' : ''}}
                                    <img class="md-avatar" 
                                         ng-show="content.contentType === 'cmis:document'" 
                                         ng-src="app/assets/images/filetypes/{{content.thumbNailURL}}"
                                         onerror="this.src='app/assets/images/filetypes/generic-file-24.png'">
                                    </i> {{content.name}}
    </a>
</td>
<td>
    <table>
        <tr>
            <td style="border: none; margin: 0; padding: 0">
                <a class="od-filebrowser-link" ng-href="{{vm.getLink(content)}}">
                                            {{content.lastChanged | openeDate}}&nbsp;-&nbsp;{{content.lastChangedBy}}</a>
            </td>

            <td ng-show="content.contentType === 'cmis:document' && content.hasHistory" style="border: none; margin: 0; padding: 0">
                <md-menu md-position-mode="left bottom">
                    <md-button class="md-icon-button" aria-label="Se historik" ng-click="$mdMenu.open(); vm.loadHistory(content.shortRef)">
                        <md-icon md-menu-origin title="Se historik " style="font-size: 22px; position: relative; top: 5px ">history</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item class="menuListHead ">
                            {{'COMMON.MODIFIED' | translate}}
                            <span style="width: 70px; "></span> {{'COMMON.MODIFIED_BY' | translate}}
                        </md-menu-item>
                        <md-menu-item ng-repeat="h in history" class="menuList">
                            <a href="/#!/dokument/{{h.nodeRef}}?archived=true&parent={{h.parent_nodeRef}}&version={{h.version}} ">
                                                            {{ h.created | openeDate }}&nbsp;&nbsp;&nbsp;&nbsp;{{
                                                            h.modifier }}</a>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
    </table>
</td>
<td class="od-esdh-checkbox">
    <input type="checkbox" name="to-esdh" ng-model="vm.sendToEsdh" ng-if="content.contentType!='cmis:link' " aria-label="Vælg">
</td>
<td style="width:32px">
    <div ng-include=" 'app/src/sites/view/siteActionMenu.html' "></div>
</td>