<md-dialog aria-label="Info on project" flex="35">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'COMMON.INFORMATION' | translate}} {{'COMMON.ABOUT' | translate | lowercase}} {{'PROJECT.PROJECT' | translate | lowercase}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
        <div layout="row" layout-xs="column" layout-margin>
            <div flex="25">
                {{'PROJECT.NAME' | translate}}:
            </div>
            <div flex class="data">
                {{ vm.currentDialogSite.title }}
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-margin>
            <div flex="25">
                {{'PROJECT.CREATED' | translate}}:
            </div>
            <div flex class="data">
                {{ vm.currentDialogSite.created | openeDate}}
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-margin>
            <div flex="25">
                {{'PROJECT.CREATED' | translate}} {{'COMMON.BY' | translate}}:
            </div>
            <div flex class="data">
                {{ vm.currentDialogSite.creator.fullName }}
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-margin>
            <div flex="25">
                {{'PROJECT.DESCRIPTION' | translate}}:
            </div>
            <div flex class="data">
                {{ vm.currentDialogSite.description }}
            </div>
        </div>
    </md-dialog-content>


    <md-dialog-actions>
        <md-button ng-click="vm.cancel()">Luk</md-button>
    </md-dialog-actions>

</md-dialog>