<md-dialog aria-label="Move item" ng-cloak>
	<form name="moveNodeRef" ng-submit="vm.moveNodeRefs(vm.source, destination, vm.parentId);">

		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Flyt til ...</h2>
			</div>
		</md-toolbar>

		<md-dialog-content class="md-padding">

			<node-picker root="vm.parentId" model="destination"></node-picker>
			<md-divider></md-divider>
			
		</md-dialog-content>

		<md-dialog-actions>
			<md-button ng-click="vm.cancel()">Annullér</md-button>
			<md-button ng-disabled="!destination" type="submit" class="md-primary md-raised">Flyt hertil</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>