<md-dialog aria-label="New folder" ng-cloak>
    <form name="createFolderForm" ng-submit="vm.createFolder(newFolderName);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Opret ny mappe</h2>
                <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="material-icons" aria-label="Luk dialogboks">close</i>
            </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>
                <md-input-container>
                    <label>{{'COMMON.NAME' | translate}}</label>
                    <input type="text" name="newFolderName" required ng-model="newFolderName">

                    <div ng-messages="createSiteForm.newSiteName.$error">
                        <div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <!--<md-button ng-click="vm.cancel()">Annullér</md-button>-->
            <md-button type="submit" class="md-primary">{{'COMMON.ADD' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>