<md-dialog aria-label="New folder" ng-cloak>
    <form name="createFolderForm" ng-submit="vm.createLink(project);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Opret link</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>
                <!--<md-input-container>-->
                    <!--<label>Navn</label>-->
                    <!--<input type="text" name="newFolderName" required ng-model="project">-->

                    <!--<div ng-messages="createSiteForm.newSiteName.$error">-->
                        <!--<div ng-message="required">Dette felt skal udfyldes</div>-->
                    <!--</div>-->
                <!--</md-input-container>-->
            <!--</div>-->
        <!--</md-dialog-content>-->

        <md-autocomplete
                autofocus
                required
                md-input-name="addMemberAutocomplete"
                md-selected-item="project"
                md-search-text="searchMemText"
                md-items="site in searchProjects(searchMemText)"
                md-item-text="site.title"
                md-min-length="1"
                md-floating-label="Vælg projekt">
            <md-item-template>
                <span md-highlight-text="searchMemText">{{ site.title}}</span>
            </md-item-template>
            <md-not-found>
                Ingen projekter matcher "{{ prjownsrchtxt }}".
            </md-not-found>
            <div ng-messages="autocompleteForm.autocomplete.$error">
                <div ng-message="required">Dette felt skal udfyldes</div>
            </div>
        </md-autocomplete >



        <md-dialog-actions>
            <md-button ng-click="vm.cancel()">Annullér</md-button>
            <md-button type="submit" class="md-primary">Tilføj</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>