
<md-dialog aria-label="New member">
    <form name="addMemberForm" ng-submit="vm.addMemberToSite(vm.project.shortName, newMember, newMemberRole);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'MEMBER.ADD_MEMBER' | translate}} {{'COMMON.TO' | translate | lowercase}} {{'PROJECT.GROUPROOM' | translate | lowercase}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="material-icons" aria-label="Luk dialogboks">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>

                <md-autocomplete required md-input-name="addMemberAutocomplete" md-selected-item="newMember" md-search-text="searchMemText"
                    md-items="user in vm.getAllUsers(searchMemText)" md-item-text="user.displayName" md-floating-label="{{'MEMBER.WHO_TO_ADD' | translate}}">
                    <md-item-template>
                        <span md-highlight-text="searchMemText" md-highlight-flags="i">{{ user.displayName }}</span>
                    </md-item-template>
                    <div ng-messages="autocompleteForm.autocomplete.$error">
                        <div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
                    </div>
                </md-autocomplete>

                <md-input-container>
                    <label>{{'MEMBER.ROLE' | translate}}</label>
                    <md-select required ng-model="newMemberRole">
                        <md-option ng-repeat="r in roles" ng-value="r">{{ role_mapping[r] }}</md-option>
                    </md-select>
                    <div ng-messages="vm.addMemberForm.newMemberRole.$error">
                        <div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <!--<md-button ng-click="vm.cancel()">Annullér</md-button>-->
            <md-button type="submit" class="md-primary">{{'COMMON.ADD' | translate}}</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>