<md-dialog aria-label="New member" ng-controller="SiteController as siteCtrl" ng-cloak>
	<form name="addMemberForm" ng-submit="siteCtrl.addMemberToSite(siteCtrl.projekt, newMemberName, newMemberRole); siteCtrl.reload();">
	
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Tilføj medlem til projekt</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content class="md-padding">
			<div>
				
				<md-autocomplete
					required
					md-input-name="autocomplete"
					md-selected-item="selectedItem"
					md-search-text="searchText"
					md-items="user in siteCtrl.getAllUsers(searchText)"
					md-item-text="user.firstName + ' ' + user.lastName"
					md-floating-label="Hvem vil du tilføje?">
					<md-item-template>
					  <span md-highlight-text="searchText">{{ user.firstName }} {{ user.lastName }}</span>
					</md-item-template>
					<div ng-messages="autocompleteForm.autocomplete.$error">
					  <div ng-message="required">Dette felt skal udfyldes</div>
					</div>
				</md-autocomplete>
					  
				<md-input-container class="od-select-wrap">
				  <label>Rolle</label>
				  <!-- <select required name="newMemberRole" ng-model="newMemberRole"> -->
				  <md-select ng-model="newMemberRole">
					  <md-option>Foobar</md-option>
					  <md-option>Foobar</md-option>
					  <md-option>Foobar</md-option>
					  <md-option>Foobar</md-option>
					  <md-option>Foobar</md-option>
				  </md-select>
				  <div ng-messages="siteCtrl.addMemberForm.newMemberRole.$error">
					  <div ng-message="required">Dette felt skal udfyldes</div>
				  </div>
				</md-input-container>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="siteCtrl.cancel()">Annullér</md-button>
			<md-button type="submit" class="md-primary">Tilføj</md-button>
		</md-dialog-actions>
		
	</form>
</md-dialog>