<md-dialog aria-label="New site" ng-cloak>
    <form name="createSiteForm" ng-submit="vm.createSite(newSiteName, newSiteDescription, newSiteIsPrivate);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'COMMON.CREATE_NEW' | translate}} {{'PROJECT.GROUPROOM' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="material-icons" aria-label="Luk dialogboks">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div layout='column'>
                <md-input-container>
                    <label>{{'PROJECT.NAME' | translate}}</label>
                    <input type="text" name="newSiteName" required ng-model="newSiteName" md-autofocus>
                </md-input-container>
                <md-input-container>
                    <label>{{'PROJECT.DESCRIPTION' | translate}}</label>
                    <textarea required name="newSiteDesc" md-maxlength='250' maxlength="250" ng-model="newSiteDescription"></textarea>
                </md-input-container>

                <md-checkbox ng-model="newSiteIsPrivate" aria-label="Gør grupperummet privat">
                    {{'COMMON.CLOSED' | translate}} {{'PROJECT.PROJECT' | translate | lowercase}}
                </md-checkbox>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <!--<md-button ng-click="vm.cancel()">Annullér</md-button>-->
            <md-button type="submit" class="md-primary" aria-label="create group room">{{'COMMON.CREATE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>