<md-dialog aria-label="New site" ng-controller="SitesController as vm" ng-cloak>
	<form>
	
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create new site</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content class="md-padding">
			<p>Here goes name and description of the new site.</p>
				<div>
				  <md-input-container>
					<label>Name</label>
					<input type="text" ng-model="newSiteName">
				  </md-input-container>
				  <md-input-container>
					<label>Description</label>
					<textarea ng-model="newSiteDescription"></textarea>
				  </md-input-container>
				</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="vm.cancel()">Cancel</md-button>
			<md-button ng-click="vm.createSite(newSiteName, newSiteDescription)" class="md-primary">Create</md-button>
		</md-dialog-actions>
		
	</form>
</md-dialog>