<md-dialog>
    <form name="renameFolderForm"
          ng-submit="vm.updateSiteName();">
        <div>
            <md-toolbar>
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2>Redigér projekt</h2>
                    <md-button ng-click="vm.cancel()" class="md-icon-button">
                        <i class="material-icons">close</i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                <div layout-margin>
                    <md-input-container>
                        <label>Navn</label>
                        <input type="text" name="newSiteName" required ng-model="vm.project.title" md-autofocus>
                        <div ng-messages="renameFolderForm.newSiteName.$error">
                            <div ng-message="required">Dette felt skal udfyldes</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-margin>
                    <md-input-container class="md-block">
                        <label>Beskrivelse</label>
                        <textarea ng-model="vm.project.description" md-maxlength="250"></textarea>
                    </md-input-container>
                </div>
            </md-content>

            <md-dialog-actions>
                <md-button ng-click="vm.cancel()">Annullér</md-button>
                <md-button type="submit" class="md-primary">Opdatér</md-button>
            </md-dialog-actions>
        </div>
    </form>
</md-dialog>
