<md-dialog aria-label="New member" ng-cloak>
    <form name="addMemberForm"
          ng-submit="vm.createReviewNotification(nodeRef, newMemberName.userName, subject, comment);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Tilføj reviewer</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>

                <md-autocomplete
                        required
                        md-input-name="autocomplete"
                        md-selected-item="newMemberName"
                        md-search-text="searchTextUser"
                        md-items="user in vm.getAllUsers(searchTextUser)"
                        md-item-text="user.firstName + ' ' + user.lastName"
                        md-floating-label="Hvem vil du tilføje?">
                    <md-item-template>
                        <span md-highlight-text="searchTextUser">{{ user.firstName }} {{ user.lastName }}</span>
                    </md-item-template>
                    <div ng-messages="autocompleteForm.autocomplete.$error">
                        <div ng-message="required">Dette felt skal udfyldes</div>
                    </div>
                </md-autocomplete>

                <md-dialog-content class="md-padding">
                    <div>
                        <md-input-container>
                            <label>Emne</label>
                            <input type="text" name="subject" required ng-model="subject">

                            <div ng-messages="createSiteForm.newSiteName.$error">
                                <div ng-message="required">Dette felt skal udfyldes</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <!--<input type="hidden" name="subject" ng-model="subject" ng-value="test overskrift" />-->

                <md-dialog-content class="md-padding">
                    <div>
                        <md-input-container class="md-block">
                            <label>Kommentar</label>
                            <!--<input type="text" name="comment" required ng-model="comment">-->

                            <textarea name='comment' required ng-model="comment" md-maxlength="250" rows="2" md-select-on-focus=""></textarea>

                            <div ng-messages="createSiteForm.newSiteName.$error">
                                <div ng-message="required">Dette felt skal udfyldes</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-dialog-content>


            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-click="vm.cancel()">Annullér</md-button>
            <md-button type="submit" class="md-primary">Tilføj</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>