<h1 class="od-title">
    <span class="od-back-btn" ui-sref="projects"><md-icon>arrow_back</md-icon> {{'COMMON.BACK' | translate}}</span>
    <span ng-if="vm.project.type == vm.strings.templateProject">{{'COMMON.TEMPLATEPROJECT' | translate}} :</span>
    <span ng-if="vm.project.type == 'PD-Project'">{{'PROJECT.PROJECT' | translate}} :</span>
    <span ng-if="vm.project.type == 'Project'">{{'PROJECT.GROUPROOM' | translate}} :</span> {{ vm.project.title }}
</h1>

<div layout="row" class="od-projects" ng-show="vm.isMember || vm.project.visibility == 'PUBLIC'">
    <div layout="column" flex="75">
        <md-card>
            <md-card-content>
                <md-tabs md-selected="tab.selected" md-dynamic-height md-border-bottom flex-gt-sm="vm.project.type != vm.strings.templateProject ? 75 : 100">
                    <md-tab ui-sref="project.filebrowser({ path: '' })">
                        <md-tab-label>
                            <md-icon class="icon-small">library_books</md-icon> {{'DOCUMENT.DOCUMENTS' | translate}}
                        </md-tab-label>
                        <md-tab-body>
                            <div ui-view='filebrowser'></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab ui-sref="project.discussions">
                        <md-tab-label>
                            <md-icon class="icon-small">chat_bubble_outline</md-icon> {{'DISCUSSIONS.DISCUSSIONS' | translate}}
                        </md-tab-label>
                        <md-tab-body>
                            <div ui-view='discussions'></div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column" flex="25">
        <div ng-if="vm.project.type != vm.strings.templateProject">
            <div ng-include="'app/src/sites/view/siteDetails.html'"></div>
            <div ng-controller="SiteGroupController as sgc" ng-include="'app/src/sites/view/siteMembers.html'"></div>
        </div>
    </div>
</div>
<div class="od-projects" ng-if="vm.isMember != null && !vm.isMember && vm.project.visibility == 'PRIVATE'">
    <span ng-if="vm.project.type == 'PD-Project'">{{'PROJECT.NO_ACCESS_PROJECT' | translate}}</span>
    <span ng-if="vm.project.type == 'Project'">{{'PROJECT.NO_ACCESS_GROUPROOM' | translate}}</span>
</div>