<md-card>
	<md-card-content>
		<h3 class="od-title-icon od-primary"><i class="material-icons">group</i> {{'MEMBER.MEMBERS' | translate }}</h3>

			<md-list class="od-members">
				<div ng-repeat="(groupIndex, group) in groups.list">

					<div ng-if="group[0].collapsed" flex="100" flex-gt-lg="100">
						<h4 ng-click="group[0].open = !group[0].open" class="group-toggle" ng-class="group[0].open ? 'open' : 'closed'"
							layout="row">
							<span >{{'PROJECT.GROUPS.' + group[0].shortName | translate}}</span>
							<span flex></span>
							<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
						</h4>

						<md-list-item ng-class="group[0].open ? '' : 'ng-hide'" ng-repeat="member in group[1] | orderBy: 'displayName'">
							<ul>
								<div class="member" layout="row">
										<a class="od-primary" ng-click="vm.openMemberInfo(member, $event)">{{ member.displayName }}</a>
								</div>
							</ul>
						</md-list-item>
					</div>

					<md-list-item ng-if="!group[0].collapsed" ng-repeat="member in group[1] | orderBy: 'displayName'">
						<div class="md-no-style md-list-item-inner">
							<div flex="50" flex-gt-lg="60">
								<a class="od-primary" ng-click="vm.openMemberInfo(member)">{{ member.displayName }}</a>
							</div>
							<div flex="30" class="od-secondary">
								{{'PROJECT.GROUPS.' + group[0].shortName | translate}}
							</div>
						</div>
					</md-list-item>

				</div>
			</md-list>

		<md-card-actions layout="row" layout-align="start center" class="btnAlign">
			<md-button ng-if="vm.project.type == 'PD-Project'" class="md-primary md-icon-button" ng-style="vm.isManager ? 'margin-left: 30px;' : ''"
				ng-click="doPDF()" aria-label="Download PDF med grupper">
				<md-tooltip md-direction="top">{{'MEMBER.DOWNLOAD_PDF' | translate}}</md-tooltip>
				<i class='material-icons'>picture_as_pdf</i>
			</md-button>

			<span flex></span>

			<md-button ng-if="vm.isManager" class="md-primary md-icon-button" ng-click="editSiteGroups($event)"
				aria-label="Tilføj gruppemedlemmer">
				<md-tooltip md-direction="top">{{vm.project.type == 'PD-Project' ? 'MEMBER.ADD_REMOVE_MEMBERS' : 'MEMBER.ADD_MEMBER'| translate}}</md-tooltip>
				<i class="material-icons">person_add</i>
			</md-button>
		</md-card-actions>
	</md-card-content>
</md-card>