<h1 class="od-title">
    <span ng-if="vm.project.type == vm.strings.templateProject">{{'COMMON.TEMPLATEPROJECT' | translate}} :</span>
    <span ng-if="vm.project.type == 'PD-Project'">{{'PROJECT.PROJECT' | translate}} :</span>
    <span ng-if="vm.project.type == 'Project'">{{'PROJECT.GROUPROOM' | translate}} :</span> {{ vm.project.title }}
</h1>

<div class="od-projects" ng-show="vm.isMember || vm.project.visibility == 'PUBLIC'">

    <div layout-gt-sm="row">
        <md-card flex-gt-sm="vm.project.type != vm.strings.templateProject ? 75 : 100">
            <md-card-content>
        <md-tabs md-selected="tabs.selected" md-dynamic-height md-border-bottom flex-gt-sm="vm.project.type != vm.strings.templateProject ? 75 : 100">
            <md-tab ui-sref="projects">
                <md-tab-label>
                    <i class="material-icons">arrow_back</i> Projekter
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="project.filebrowser({path:''})">
                <md-tab-label>
                    <i class="material-icons">library_books</i>{{'DOCUMENT.DOCUMENTS' | translate }}
                </md-tab-label>
                <md-tab-body>
                    <div ui-view='filebrowser'></div>
                </md-tab-body>
            </md-tab>
            <md-tab ui-sref="project.discussions">
                <md-tab-label>
                    <i class="material-icons">chat_bubble_outline</i>{{'DISCUSSIONS.DISCUSSIONS' | translate }}
                </md-tab-label>
                <md-tab-body>
                    <div ui-view='discussions'></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        </md-card-content>
                    </md-card>
        <div flex-gt-sm="25" ng-if="vm.project.type != vm.strings.templateProject">
            <div ng-include="'app/src/sites/modules/pd_sites/view/groups_overview.html'"></div>
        </div>
    </div>
</div>
<div class="od-projects" ng-if="vm.isMember != null && !vm.isMember && vm.project.visibility == 'PRIVATE'">
    <span ng-if="vm.project.type == 'PD-Project'">{{'PROJECT.NO_ACCESS_PROJECT' | translate}}</span>
    <span ng-if="vm.project.type == 'Project'">{{'PROJECT.NO_ACCESS_GROUPROOM' | translate}}</span>
</div>