<div class="od-projects">


    <h1 class="od-title">Projekter</h1>
		
<div layout="row" layout-align="space-between">
    <button class="md-button" ng-click="vm.newSite($event)"><i class="material-icons">folder_special</i> Nyt Projekt</button>
		<!-- <br> -->
		<md-input-container>
			<label>Søg</label>
			<input type="text" ng-model="query" ng-change="vm.querySites(query)">
		</md-input-container>
	</div>

    <md-list>
        <md-list-item ng-repeat="project in vm.sites" flex="100">
            <md-divider></md-divider>
            <a class="od-filebrowser-link" href="#/projekter/{{project.shortName}}">
                <i class="material-icons">folder_special</i>
                {{ project.title }}
            </a>
        </md-list-item>
    </md-list>




</div>
