<div class="od-projects">

	<h1 class="od-title">Projekter</h1>
		
	<div class="od-search" layout="row">
		<span flex></span>
		<form name="doSearch" ng-submit="vm.getSearchresults(searchText);">
            <i class="material-icons">search</i>
            <md-autocomplete
                    md-input-name="autocomplete"
                    md-selected-item="searchQuery"
                    md-search-text="searchText"
                    md-items="r in vm.getAutoSuggestions(searchText)"
                    md-item-text="r.name"
                    md-floating-label="Søg dokumenter">
                <md-item-template>
                    <span md-highlight-text="searchText" ng-click="vm.gotoPath(r.nodeRef);">{{r.name}}</span>
                </md-item-template>
                <div ng-messages="autocompleteForm.autocomplete.$error">
                    <div ng-message="required">Dette felt skal udfyldes</div>
                </div>
            </md-autocomplete>		
		</form>
	</div>	
	<md-card>
		<md-card-content>
			<div layout="row" layout-align="space-between center">
				<md-input-container>
					<label>Find projekt</label>
					<input type="text" ng-model="vm.search.title">
				</md-input-container>
				<md-input-container>
					<md-checkbox ng-model="vm.memberonly">Vis kun mine projekter</md-checkbox>
				</md-input-container>

				<div ng-init="states = [
				{key:'ACTIVE', name:'Igang'},
				{key:'CLOSED', name:'Afsluttet'},
				{key:'', name:'Alle'}]"></div>

				<md-input-container>
					<label>Status</label>
					<md-select ng-model="vm.search.state">
						<md-option ng-repeat="x in states" value="{{x.key}}">{{x.name}}</md-option>
					</md-select>
				</md-input-container>

				<md-input-container>
					<label>Center</label>
					<md-select ng-model="vm.search.center_id">
						<md-option ng-repeat="x in vm.organizationalCenters" value="{{ x.shortName }}">
							{{ x.displayName }}
						</md-option>
					</md-select>
				</md-input-container>

			</div>
			<md-list class="sortHead">						
				<table class="od-members od-members-row">
					
					<thead fix-head>
						<tr>
							<th sort-table="title" sort-default="!reverse" title="Sortér kolonne">Projektnavn</th>
							<th sort-table="created" title="Sortér kolonne">Oprettet</th>
							<th colspan="2" sort-table="creator" title="Sortér kolonne">Oprettet af</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="project in vm.memberonly ? vm.sitesPerUser : vm.sites | orderObjectBy:orderByAttribute:reverseOrder | filter: vm.search">
							<td><a class="od-filebrowser-link" href="#!/projekter/{{project.shortName}}">
								<i class="material-icons">content_paste</i>
								{{ project.title }}
							</a></td>
							<td><a class="od-filebrowser-link" href="#!/projekter/{{project.shortName}}">{{ project.created | openeDate }}</a></td>
							<td><a class="od-filebrowser-link" href="#!/projekter/{{project.shortName}}">{{ project.creator.fullName }}</a></td>
							<td>
                                <md-menu>
                                    <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                        <md-icon md-menu-origin>dehaze</md-icon>
                                    </md-button>
                                    <md-menu-content width="6">
                                        <md-menu-item>
                                            <md-button ng-click="vm.infoSiteDialog(project)">
                                                <md-icon md-menu-align-target>info_outline</md-icon>
                                                Information
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="project.current_user_role == vm.ownerRole">
                                            <md-button ng-click="vm.deleteSiteDialog(project.shortName)">
                                                <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                                                Slet
                                            </md-button>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
							</td>
						</tr>
					</tbody>
				</table>

			</md-list>

			<md-divider></md-divider>
			
            <div layout="row" layout-align="start center" class="btnAlign">
            
                <md-menu>
                    <md-button ng-click="$mdMenu.open()" class="md-text-icon-button md-raised md-primary" aria-label="Opret nye projekter">
                        <i class="material-icons">add</i>
                        <span>Opret nyt projekt</span>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="vm.newSite($event)"><i class="material-icons">add</i> Alm. Projekt</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-controller="PdSiteCreateController as pdc" ng-click="pdc.openPdSiteCreateDialog($event)"><i class="material-icons">add</i> Projekt m. styring</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                
			</div>
            
		</md-card-content>		
	</md-card>
</div>