<md-dialog>
    <form name="renameFolderForm"
          ng-submit="vm.updateSite();">
        <div>
            <md-toolbar>
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2>{{'COMMON.EDIT' | translate}} {{'PROJECT.GROUPROOM' | translate | lowercase}}</h2>
                    <md-button ng-click="vm.cancel()" class="md-icon-button">
                        <i class="material-icons">close</i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>{{'COMMON.NAME' | translate}}</label>
                        <input type="text" name="newSiteName" required ng-model="vm.project.title" md-autofocus>
                        <div ng-messages="renameFolderForm.newSiteName.$error">
                            <div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>{{'COMMON.DESCRIPTION' | translate}}</label>
                        <textarea ng-model="vm.project.description" md-maxlength="250" maxlength="250"></textarea>
                    </md-input-container>

                <md-checkbox ng-model="vm.project.visibility" ng-true-value="'PRIVATE'" ng-false-value="'PUBLIC'" aria-label="Gør grupperummet privat">
                    {{'COMMON.CLOSED' | translate}} {{'PROJECT.PROJECT' | translate | lowercase}}
                </md-checkbox>
            </md-content>

            <md-dialog-actions>
                <!--<md-button ng-click="vm.cancel()">Annullér</md-button>-->
                <md-button type="submit" class="md-primary">{{'COMMON.UPDATE' | translate}}</md-button>
            </md-dialog-actions>
        </div>
    </form>
</md-dialog>
