<md-dialog aria-label="Edit member role">

    <form name="editRoleForm" ng-submit="vm.updateRoleOnSiteMember(vm.project.shortName, vm.currentDialogUser,
    vm.currentDialogRole, vm.currentParentIndex, vm.currentIndex);">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Redigér {{vm.currentDialogUser.displayName}}'s rolle </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="material-icons" aria-label="Luk dialogboks">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>
                <md-input-container>
                    <label>Rolle</label>
                    <md-select required ng-model="vm.currentDialogRole">
                        <md-option ng-repeat="r in roles" ng-value="r">{{'PROJECT.GROUPS.' + r | translate}}</md-option>
                    </md-select>
                    <div ng-messages="vm.editRoleForm.newMemberRole.$error">
                        <div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <!--<md-button ng-click="vm.cancel()">Annullér</md-button>-->
            <md-button type="submit" class="md-primary">Opdatér</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>