<md-dialog aria-label="upload-files" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="material-icons" aria-label="Luk dialogboks">close</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
        <input id="upload" file-model="files" multiple="" type="file">
    </md-dialog-content>

    <md-dialog-actions>
        <button class="md-button md-primary" ng-click="vm.upload(files)"><i class="material-icons">file_upload</i>{{'COMMON.UPLOAD' | translate}} {{'DOCUMENT.DOCUMENTS' | translate | lowercase}}
        </button>
    </md-dialog-actions>
    </form>
</md-dialog>