<md-card ng-if="vm.groups" ng-repeat="group in vm.groups" class="od-site-members" style="display: inline-block;">
    <md-card-title>
        <h3 class="md-title od-title-icon">
            <md-icon>group</md-icon>
            {{group.displayName}}
        </h3>
    </md-card-title>
    <md-card-content>

        <md-list>
            <md-list-item ng-repeat="member in group.members | orderBy: 'displayName'">
                <div layout="row" flex>
                    <img class="od-avatar od-avatar-small" http-src="{{member.avatar}}">

                    <div layout="column" style="margin-left:8px" flex>
                        <a class="member" ng-click="vm.openMemberInfo(member)">{{ member.displayName }}</a>
                    </div>
                </div>
            </md-list-item>
        </md-list>

        <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-primary md-icon-button" ng-click="vm.editMembers(group)" aria-label="Tilføj gruppemedlemmer">
                <md-tooltip md-direction="top">{{'MEMBER.ADD_REMOVE_MEMBERS' | translate}}</md-tooltip>
                <md-icon>person_add</md-icon>
            </md-button>
        </md-card-actions>
    </md-card-content>
</md-card>
