<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{vm.branch.title}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>

    <span>
        <md-card ng-repeat="application in vm.branch.summaries">
            <md-card-title ng-click="vm.openApplication(application.nodeID)">
                <md-card-title-text>
                    <span class="md-headline">{{branch.title}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </span>
    <span>


    </span>
</div>