<od-review-detail ng-repeat="reply in vm.review.posts" reply="reply"></od-review-detail>

<p ng-if="vm.review.status === 'pending'">
    <md-input-container>
        <textarea ng-model="vm.comment" md-maxlength="250" md-select-on-focus placeholder="Kommentar"></textarea>
        <br>
        <md-checkbox ng-if="!vm.checkboxReject" ng-model="vm.checkboxApprove">Godkend</md-checkbox>
        <md-checkbox ng-if="!vm.checkboxApprove" ng-model="vm.checkboxReject">Afvis</md-checkbox>
        <br>
        <md-button class="md-primary" ng-click="vm.respond()">Besvar</md-button>
    </md-input-container>
</p>

<h3 ng-if="vm.review.status === 'approved'">
    GODKENDT
</h3>

<h3 ng-if="vm.review.status === 'rejected'">
    AFVIST
</h3>