<md-dialog aria-label="New member" ng-cloak>
    <form name="sendToReview" ng-submit="vm.create()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'TASK.SEND_TO_REVIEW' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div>
              <member-picker 
              selected="vm.member"
              ></member-picker>

                <md-dialog-content class="md-padding">
                    <div>
                        <md-input-container class="md-block">
                            <label>{{'COMMON.COMMENT' | translate}}</label>

                            <textarea name='comment' required ng-model="vm.comment" md-maxlength="250" maxlength="250" md-select-on-focus=""></textarea>

                            <div ng-messages="createSiteForm.newSiteName.$error">
                                <div ng-message="required">{{'ERROR.REQUIRED' | translate}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-dialog-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-primary">{{'COMMON.ADD' | translate}}</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>