<div class="od-footer--body">

    <p>OpenDesk er udviklet af <a href="http://www.magenta.dk">Magenta ApS</a>. Læs <a
            href="https://github.com/magenta-aps/OpenDESK-UI/tree/develop/documentation" target="_blank">dokumentationen.</a>
    </p>

    <div ng-show="vm.isDevelopmentMode" class="md-caption">
        OpenESDH Server running: <a ng-href="https://github.com/openesdh/openesdh-core/commit/{{ vm.gitCommitId }}"
                                    title="View commit on GitHub">{{ vm.gitCommitId }}</a> on branch {{ vm.gitBranch }}
    </div>

</div>
