header {
  background-color: $primary-color;
  color: $headline-color;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
