<header>
    <md-toolbar class="header-toolbar">
        <span class="md-toolbar-tools" flex layout="row">

            <md-button class="md-icon-button" ng-click="vm.toggleAppDrawer()" aria-label="{{ 'APP' | translate }}">
                <md-icon>apps</md-icon>
                <md-tooltip md-direction="bottom" md-delay="500">{{'APP' | translate}}</md-tooltip>
            </md-button>

            <span class="truncate">{{vm.title}}</span>

            <span flex></span>

            <od-search-bar hide show-gt-sm></od-search-bar>

            <span flex></span>

            <span>
                <md-button class="md-icon-button" ng-click="vm.toggleSystemSettings()" aria-label="{{'ADMIN.SYS_SETTINGS.SETTINGS' | translate}}"
                    ng-if="vm.user.isAdmin">
                    <md-icon>settings</md-icon>
                    <md-tooltip md-direction="bottom" md-delay="500">{{'ADMIN.SYS_SETTINGS.SETTINGS' | translate}}</md-tooltip>
                </md-button>

                <md-button class="md-icon-button" ng-click="vm.toggleNotifications()" aria-label="{{ 'NOTIFICATION.NOTIFICATIONS' | translate }}">
                    <md-icon>notifications</md-icon>
                    <span ng-if="vm.unseenNotifications > 0" class="od-notifications--counter">{{vm.unseenNotifications}}</span>
                    <md-tooltip md-direction="bottom" md-delay="500">{{'NOTIFICATION.NOTIFICATIONS' | translate}}</md-tooltip>
                </md-button>

                <span class="clickable" ng-click="vm.toggleUserPanel()">{{vm.user.firstName}} {{vm.user.lastName}}
                </span>
            </span>

            <img http-src="{{vm.user.avatar}}" class="od-avatar clickable" ng-click="vm.toggleUserPanel()">

        </span>
    </md-toolbar>
</header>
