.text_templates .cke_inner {
  height: 30em !important;
}
.text_templates .cke_contents {
  height: 91% !important;
}

.text_templates md-input-container{
  width: 50%;
}

.text_templates .accordion h4 {
  width: 50%;
}

.text_templates .accordion .placeholders {
  padding: 8px 16px;
}