<md-card class="text_templates" flex="grow">
    <md-card-title>
        <h2 class="od-title-icon">
            <md-icon>edit</md-icon>{{'COMMON.EDIT_TEMPLATE' | translate}}</h2>
    </md-card-title>
    <md-card-content class="md-padding" layout='column'>
    <form name="textEditForm" ng-submit="vm.save()">
        <md-input-container class="md-input-invalid">
            <label>{{'COMMON.SUBJECT' | translate}}</label>
            <input name="{{'COMMON.SUBJECT' | translate}}"
                   required=""
                   ng-model="vm.subject"
                   type="text">
            <div class="md-errors-spacer"></div>
        </md-input-container>

        <ck-editor value="vm.template" callback="vm.ckEditorCallback"></ck-editor>

        <div class="accordion">
            <h4 ng-click="vm.showLegend = !vm.showLegend"
                class="group-toggle"
                layout="row"
                ng-class="vm.showLegend ? 'closed' : 'open'">
                <span>{{'COMMON.PLACEHOLDERS' | translate}}</span>
                <span flex></span>
                <md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>
            </h4>
            <div class="placeholders" ng-show="vm.showLegend">
                <p ng-repeat="placeholder in vm.placeholders">
                    {{placeholder}} - {{'PLACEHOLDERS.' + placeholder.toUpperCase() | translate}}
                </p>
            </div>
        </div>

        <md-dialog-actions>
            <md-button ng-disabled="textEditForm.$invalid" type="submit" class="md-primary">{{'COMMON.SAVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-card-content>
</md-card>
