<md-card ng-controller="FundApplicationHistoryController"
         ng-cloak style=" grid-column: 1/-1">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{'FUNDS.COMMON.HISTORY' | translate }}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <table class="osflow-table">
            <colgroup width="50"></colgroup>
            <colgroup width="170"></colgroup>
            <colgroup width="170"></colgroup>
            <thead class="osflow-table__thead">
            <tr class="osflow-table__tr">
                <th class="osflow-table__th">{{'FUNDS.COMMON.TYPE' | translate }}</th>
                <th class="osflow-table__th">{{'FUNDS.COMMON.TIMESTAMP' | translate }}</th>
                <th class="osflow-table__th">{{'FUNDS.COMMON.USER' | translate }}</th>
                <th class="osflow-table__th">{{'FUNDS.COMMON.CONTENT' | translate }}</th>
            </tr>
            </thead>
            <tbody class="osflow-table__tbody">
            <tr class="osflow-table__tr"
                ng-repeat="appChange in vm.appChangeList | orderBy:'-timesStamp'">
                <td class="osflow-table__td">
                    <md-icon ng-if="appChange.changeType === 'applicationUpdate'">
                        update
                    </md-icon>
                    <md-icon ng-if="appChange.changeType === 'applicationCreation'">
                        assignment
                    </md-icon>
                    <md-icon ng-if="appChange.changeType === 'applicationDeletion'">
                        delete
                    </md-icon>
                </td>
                <td class="osflow-table__td">
                    {{vm.convertTimeStamp(appChange.timesStamp)}}
                </td>
                <td class="osflow-table__td">
                    {{appChange.modifier}}
                </td>
                <td class="osflow-table__td">
                    <table class="osflow-content-table"
                           ng-if="appChange.changeType === 'applicationUpdate'">
                        <tr class="osflow-content-table__tr"
                            ng-repeat="appChangeUnit in appChange.changes">
                            <td class="osflow-content-table__td">
                                <!--TODO: Find a way to translate this-->
                                {{ appChangeUnit.changedField }}
                            </td>
                            <td class="osflow-content-table__td">
                                {{ appChangeUnit.oldValue}}
                            </td>
                            <td class="osflow-content-table__td">
                                <md-icon>arrow_right_alt</md-icon>
                            </td>
                            <td class="osflow-content-table__td">
                                {{appChangeUnit.newValue}}
                            </td>
                        </tr>
                    </table>
                    <table class="osflow-content-table"
                           ng-if="appChange.changeType === 'applicationCreation'">
                        <tr class="osflow-content-table__tr">
                            <td class="osflow-content-table__td">
                                {{'FUNDS.COMMON.APPLICATION_CREATED' | translate}}
                            </td>
                        </tr>
                    </table>
                    <table class="osflow-content-table"
                           ng-if="appChange.changeType === 'applicationDeletion'">
                        <tr class="osflow-content-table__tr">
                            <td class="osflow-content-table__td">
                                {{'FUNDS.COMMON.APPLICATION_DELETED' | translate}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>

