<div class="od-search" layout="row" layout-align='center center'>
	<md-icon>search</md-icon>
	<form name="doSearch" ng-submit="vm.goToSearchPage(searchText);">
		<md-autocomplete md-selected-item="searchQuery" md-selected-item-change="vm.goToDocument(result.nodeRef)" md-search-text="searchText"
		    md-items="result in vm.getLiveSearch(searchText)" md-item-text="result.name" md-min-length="1" placeholder="{{'SEARCH.DOCUMENTS' | translate }}"
		    flex>
			<md-item-template>
				<div>
					<md-icon>
						<img class="md-avatar" ng-src="app/assets/img/filetypes/{{result.thumbNailURL}}" onerror="this.src='app/assets/img/filetypes/generic-file-24.png'">
					</md-icon>
					<span class="item-title">
					 <span><strong>{{result.name}}</strong></span>
					<span class="item-metadata">
						<span style="font-variant:small-caps"> {{result.site.title}}</span>
					</span>
					</span>
				</div>
			</md-item-template>
		</md-autocomplete>
	</form>
</div>