<div class="picker-header">
    <md-button ng-show="currentNode[0].primaryParent_nodeRef != undefined" class="md-icon-button" ng-click="browseParent();">
        <md-icon>navigate_before</md-icon>
    </md-button>
    <strong>{{ currentNode[0].currentNodeRef_name }}</strong>
</div>
<md-list class="picker-list">
    <md-list-item ng-class="model === dir.nodeRef ? 'picked' : ''" ng-repeat="dir in currentNode[1]"
                  ng-click="pickNode(dir.nodeRef)">
        <p>{{ dir.name }}</p>
        <md-button class="md-icon-button"
                   ng-click="browseChild(dir.nodeRef); $event.stopPropagation();" class="md-raised">
            <md-icon>navigate_next</md-icon>
        </md-button>
    </md-list-item>
</md-list>
