<td style="width:40%">
    <a class="od-filebrowser-link" ui-sref="{{getLink(content)}}" ui-sref-active="active">
        <i class="material-icons">
                                    {{content.contentType == 'cmis:folder' ? 'folder_open' : ''}}
                                    {{content.contentType == 'cmis:link' ? 'link' : ''}}
                                    <img class="md-avatar" 
                                         ng-show="content.contentType === 'cmis:document'" 
                                         ng-src="app/assets/images/filetypes/{{content.thumbNailURL}}"
                                         onerror="this.src='app/assets/images/filetypes/generic-file-24.png'">
                                    </i> 
                                    <span class='content-name'>{{content.name}}</span>
    </a>
</td>
<td style="width:40%">
    <table style="width:100%">
        <tr>
            <td style="border: none; margin: 0; padding: 0">
                <a class="od-filebrowser-link" ui-sref="{{getLink(content)}}" ui-sref-active="active">
                                            {{content.lastChanged | openeDate}}&nbsp;-&nbsp;{{content.lastChangedBy}}</a>
            </td>

            <td ng-show="content.contentType === 'cmis:document' && content.hasHistory" style="border: none; margin: 0; padding: 0">
                <md-menu md-position-mode="left bottom">
                    <md-button style="float: left" class="md-icon-button" aria-label="Se historik" ng-click="$mdMenu.open(); loadHistory(content.shortRef)">
                        <md-icon md-menu-origin title="Se historik " style="font-size: 22px; position: relative; top: 5px">history</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item class="menu-list-head ">
                            {{'COMMON.MODIFIED' | translate}}
                            <span style="width: 70px; "></span> {{'COMMON.MODIFIED_BY' | translate}}
                        </md-menu-item>
                        <md-menu-item ng-repeat="h in history" class="menu-list">
                            <a href="#!/dokument/{{h.nodeRef}}?archived=true&parent={{h.parent_nodeRef}}&version={{h.version}} ">
                                                            {{ h.created | openeDate }}&nbsp;&nbsp;&nbsp;&nbsp;{{
                                                            h.modifier }}</a>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
    </table>
</td>
<td style="width:10%" ng-if="isSite" class="od-esdh-checkbox">
    <input type="checkbox" name="to-esdh" ng-model="primitives.sendToSbsys" ng-if="content.contentType!='cmis:link' " aria-label="Vælg">
</td>
<td style="width:10%">
    <div ng-include=" 'app/src/filebrowser/view/actions/actionMenu.html' "></div>
</td>