<md-card id="details">
	<md-card-header>
		<md-card-avatar>
			<md-icon>info_outline</md-icon>
		</md-card-avatar>
		<md-card-header-text>
			<span class="md-title">{{'PROJECT.GROUPROOM' | translate }}:</span>
			<span class="md-subhead">{{ vm.site.title }}</span>
		</md-card-header-text>
	</md-card-header>

	<md-card-title>
		<md-card-title-text ng-controller="InlineEdit">
			<h3 class="md-title">{{'PROJECT.DESCRIPTION' | translate }}: </h3>
			<p editable-textarea="vm.site.description" e-rows="7" e-cols="40">{{ vm.site.description }}</p>
		</md-card-title-text>
	</md-card-title>

	<md-card-content>
		<div layout="row">
			<dl flex="50">
				<dt>{{'COMMON.CREATEDBY' | translate }}</dt>
				<dd>{{ vm.site.creator.displayName }}</dd>
					<dt ng-if="vm.site.type === 'PD-Project'">{{'PROJECT.ORG_UNIT' | translate }}</dt>
					<dd ng-if="vm.site.type === 'PD-Project'">{{ vm.site.center_name }}</dd>
				<dt>{{'CASE.VISIBILITY' | translate }}</dt>
				<dd>{{ 'CASE.VISIBILITY.'+ vm.site.visibility | translate }}</dd>
				<dt ng-if="vm.site.type === 'PD-Project'">{{'ESDH' | translate }} {{'CASE.CASE_NUMBER' | translate }}</dt>
				<dd ng-if="vm.site.type === 'PD-Project'">{{ vm.site.sbsys }}</dd>
				<dt ng-if="vm.site.type === 'PD-Project'">{{'COMMON.STATUS' | translate }}</dt>
				<dd ng-if="vm.site.type === 'PD-Project'">{{'PROJECT.STATUS.' + vm.site.state | translate}}</dd>
			</dl>

			<dl flex="50">
				<dt>{{'COMMON.CREATED_ON' | translate }}</dt>
				<dd>{{ vm.site.created | date }}</dd>
			</dl>
		</div>
	</md-card-content>

	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-icon-button md-primary" aria-label="{{ 'PROJECT.EDIT_DETAILS' | translate }}" ng-if="vm.permissions.isManager" ng-click="vm.editSiteDialog($event)">
			<md-tooltip md-direction="top">{{ 'PROJECT.EDIT_DETAILS' | translate }}</md-tooltip>
			<md-icon>edit</md-icon>
		</md-button>
	</md-card-actions>
</md-card>
