<md-card class="dropdown-card" id="details">
	<md-card-title ng-click="showProjDetails = !showProjDetails" class="clickable" ng-class="showProjDetails ? 'open' : 'closed'">
		<h3 class="md-title od-title-icon "><md-icon>info_outline</md-icon> {{'COMMON.DETAILS' | translate }}</h3>
		<span flex></span>
		<md-icon class="rotate-arrow">keyboard_arrow_down</md-icon>
	</md-card-title>

	<md-card-content ng-class="showProjDetails ? 'fold-out' : 'fold-in'">
		<div layout="row" layout-align="space-between">
			<dl style="margin-bottom: 0;">
				<dt >{{'PROJECT.DESCRIPTION' | translate }}</dt>
				<dd ng-if="vm.hasDescription" style="white-space: pre-wrap">{{ vm.site.description }}</dd>
				<dd ng-if="!vm.hasDescription"><i>{{'COMMON.NODESCRIPTION' | translate}}</i></dd>
			</dl>
		</div>
		<div layout="row">
			<dl flex="55">
				<dt>{{'COMMON.CREATEDBY' | translate }}</dt>
				<dd>
					{{ vm.site.creator.displayName }} <br>
					<span class="muted">{{ vm.site.created | date }}</span>
				</dd>
				<span ng-if="vm.site.type === 'PD-Project'">
					<dt>{{'PROJECT.ORG_UNIT' | translate }}</dt>
					<dd>{{ vm.site.center_name }}</dd>
				</span>
			</dl>
			<dl flex="30">
				<dt>{{'CASE.VISIBILITY' | translate }}</dt>
				<dd>{{ 'CASE.VISIBILITY.'+ vm.site.visibility | translate }}<br></dd>
				<dt ng-if="vm.site.type === 'PD-Project'">{{'ESDH' | translate }} {{'CASE.CASE_NUMBER' | translate }}</dt>
				<dd ng-if="vm.site.type === 'PD-Project'">{{ vm.site.sbsys }}</dd>
			</dl>
			<dl flex="15" ng-if="vm.site.type === 'PD-Project'">
				<dt>{{'COMMON.STATUS' | translate }}</dt>
				<dd>{{'PROJECT.STATUS.' + vm.site.state | translate}}</dd>
			</dl>
		</div>
		<md-card-actions layout="row" layout-align="start center">
			<span flex></span>
			<md-button ng-if="vm.permissions.isManager" class="md-primary md-icon-button" ng-click="vm.editSiteDialog($event)" aria-label="Redigér site">
				<md-icon>edit</md-icon>
			</md-button>
		</md-card-actions>
	</md-card-content>
</md-card>