<div>
    <md-card flex="grow">
        <md-card-title>
            <h2 class="od-title-icon">
                <md-icon>dashboard</md-icon>Dashboard</h2>
        </md-card-title>
        <md-card-content>
            <div class="types-demo">
                <ul dnd-list="vm.config.dashboardLink">
                    <li ng-repeat="item in vm.config.dashboardLink" dnd-draggable="item" dnd-moved="vm.config.dashboardLink.splice($index, 1)" dnd-effect-allowed="move"
                        dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                        <dnd-nodrag>
                            <div dnd-handle class="handle">
                                <md-icon>reorder</md-icon>
                            </div>
                            <div layout="row">
                                <span flex></span>
                                <icon-picker selected-icon="item.icon" class="margin-fix"></icon-picker>
                                <span flex></span>
                                <md-input-container>
                                    <input type="text" ng-model="item.label" placeholder="Navn">
                                </md-input-container>
                                <span flex></span>
                                <md-input-container>
                                    <input type="text" ng-model="item.url" placeholder="URL">
                                </md-input-container>
                                <span flex></span>
                                <md-input-container>
                                    <md-switch md-invert ng-model="item.newWindow">
                                        Åbn i nyt vindue
                                    </md-switch>
                                </md-input-container>
                                <span flex></span>
                                <md-button class="md-icon-button margin-fix" ng-click="vm.removeDashboardLink($index)">
                                    <md-icon>remove</md-icon>
                                </md-button>
                            </div>
                        </dnd-nodrag>
                    </li>
                </ul>
                <div layout="row">
                    <span flex></span>
                    <md-button class="" ng-click="vm.addNewDashboardLink()">
                        <md-icon>add</md-icon>
                        Nyt dashboard link
                    </md-button>
                </div>
            </div>
        </md-card-content>
        <md-card-actions>
            <div layout="row">
                <span flex></span>
                <md-button class="md-primary md-raised" ng-click="vm.updateSettings()">
                    <md-icon>save</md-icon>
                    Gem
                </md-button>
            </div>
        </md-card-actions>
    </md-card>
    <md-card flex="grow">
        <md-card-title>
            <h2 class="od-title-icon">
                <md-icon>settings</md-icon>Konfiguration</h2>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item ng-repeat="(key, value) in vm.config.public">
                    <p>{{'CONFIGURATION.public.' + key | translate}}</p>
                    <md-input-container>
                        <input ng-if="isString(value)" class="md-secondary" ng-model="vm.config.public[key]" title="value">
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-repeat="(key, value) in vm.config" ng-if="!isObject(value)">
                    <p>{{'CONFIGURATION.ENABLE' | translate}} {{'CONFIGURATION.' + key | translate}}</p>
                    <md-input-container>
                        <md-switch ng-if="isBoolean(value)" class="md-secondary" ng-model="vm.config[key]"></md-switch>
                    </md-input-container>
                </md-list-item>

                <!-- Editors -->
                <md-list-item ng-repeat="(key, value) in vm.config.editors" ng-if="vm.editors[key].installed">
                    <p>{{'CONFIGURATION.ENABLE' | translate}} {{'EDITORS.' + key.toUpperCase() | translate}}</p>
                    <md-input-container>
                        <md-switch ng-if="isBoolean(value)" class="md-secondary" ng-model="vm.config.editors[key]"></md-switch>
                    </md-input-container>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-actions>
            <div layout="row">
                <span flex></span>
                <md-button class="md-primary md-raised" ng-click="vm.updateSettings()">
                    <md-icon>save</md-icon>
                    Gem
                </md-button>
            </div>
        </md-card-actions>
    </md-card>
</div>