    <md-card-content ng-controller="PdSiteController as pd">
        <h3 class="od-title-icon"><i class="material-icons">group</i> Styret projekt, projektgrupper</h3>

	<div flex="100" flex-gt-lg="100">     
		<p>
			<span style="font-weight: bold;">Projektleder<span><br>
			<span style="font-weight: normal">{{ pd.site.members.pd_projectmanager.fullName }}</span>
			<span style="float:right; position: relative; top: -15px;">
				<!--<md-menu ng-controller="SiteController as vm">-->
					<!--<md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">-->
						<!--<md-icon md-menu-origin>dehaze</md-icon>-->
					<!--</md-button>-->
					<!--&lt;!&ndash;<md-menu-content width="5">&ndash;&gt;-->
						<!--&lt;!&ndash;<md-menu-item>&ndash;&gt;-->
							<!--&lt;!&ndash;<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.updateMemberRoleDialog($event, member.authority)">&ndash;&gt;-->
								<!--&lt;!&ndash;<md-icon md-menu-align-target>create</md-icon>&ndash;&gt;-->
								<!--&lt;!&ndash;Redigér rolle&ndash;&gt;-->
							<!--&lt;!&ndash;</md-button>&ndash;&gt;-->
						<!--&lt;!&ndash;</md-menu-item>&ndash;&gt;-->
						<!--&lt;!&ndash;<md-menu-item>&ndash;&gt;-->
							<!--&lt;!&ndash;<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.deleteMemberDialog(vm.project, member.authority.userName)">&ndash;&gt;-->
								<!--&lt;!&ndash;<md-icon md-menu-align-target>remove_circle_outline</md-icon>&ndash;&gt;-->
								<!--&lt;!&ndash;Slet&ndash;&gt;-->
							<!--&lt;!&ndash;</md-button>&ndash;&gt;-->
						<!--&lt;!&ndash;</md-menu-item>&ndash;&gt;-->
					<!--&lt;!&ndash;</md-menu-content>&ndash;&gt;-->
				<!--</md-menu>-->
			</span>
		</p>
		<p>
			<span style="font-weight: bold;">Projektejer<span><br>
			<span style="font-weight: normal;">{{ pd.site.members.pd_projectowner.fullName }}</span>
			<span style="float:right; position: relative; top: -15px;">
				<!--<md-menu ng-controller="SiteController as vm">-->
					<!--<md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">-->
						<!--<md-icon md-menu-origin>dehaze</md-icon>-->
					<!--</md-button>-->
					<!--<md-menu-content width="5">-->
						<!--<md-menu-item>-->
							<!--<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.updateMemberRoleDialog($event, member.authority)">-->
								<!--<md-icon md-menu-align-target>create</md-icon>-->
								<!--Redigér rolle-->
							<!--</md-button>-->
						<!--</md-menu-item>-->
						<!--<md-menu-item>-->
							<!--<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.deleteMemberDialog(vm.project, member.authority.userName)">-->
								<!--<md-icon md-menu-align-target>remove_circle_outline</md-icon>-->
								<!--Slet-->
							<!--</md-button>-->
						<!--</md-menu-item>-->
					<!--</md-menu-content>-->
				<!--</md-menu>-->
			</span>
		</p>
	</div>
	<div flex="100" flex-gt-lg="100">		
        <h4 ng-click="pd.showProjGroupList = !pd.showProjGroupList"
            class="pd-group-toggle"
            ng-class="pd.showProjGroupList ? 'open' : 'closed'"
            layout="row">
            <span>Projektgruppe</span>
            <span flex></span>
            <i class="material-icons">keyboard_arrow_down</i>
        </h4>
        <ul ng-show="pd.showProjGroupList">
            <div layout="row" ng-repeat="mem in pd.site.members.pd_projectgroup">
				<div flex="80">{{ mem.displayName }}</div>
				<div flex="20" style="position: relative; top: -10px">
					<md-menu ng-controller="SiteController as vm">
						<md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
							<md-icon md-menu-origin>dehaze</md-icon>
						</md-button>
						<md-menu-content width="5">
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.updateMemberRoleDialog($event, member.authority)">
									<md-icon md-menu-align-target>create</md-icon>
									Redigér rolle
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.deleteMemberDialog(vm.project, member.authority.userName)">
									<md-icon md-menu-align-target>remove_circle_outline</md-icon>
									Fjern medlem
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
            </div>
        </ul>
        
        <h4 ng-click="pd.showSteerGroupList = !pd.showSteerGroupList"
            class="pd-group-toggle"
            ng-class="pd.showSteerGroupList ? 'open' : 'closed'"
            layout="row">
            <span>Styregruppe</span>
            <span flex></span>
            <i class="material-icons">keyboard_arrow_down</i>
        </h4>
        <ul ng-show="pd.showSteerGroupList">
			<div layout="row" ng-repeat="mem in pd.site.members.pd_steering_group">
				<div flex="80">{{ mem.displayName }}</div>
				<div flex="20" style="position: relative; top: -10px">
					<md-menu ng-controller="SiteController as vm">
						<md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
							<md-icon md-menu-origin>dehaze</md-icon>
						</md-button>
						<md-menu-content width="5">
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.updateMemberRoleDialog($event, member.authority)">
									<md-icon md-menu-align-target>create</md-icon>
									Redigér rolle
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.deleteMemberDialog(vm.project, member.authority.userName)">
									<md-icon md-menu-align-target>remove_circle_outline</md-icon>
									Fjern medlem
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
        </ul>
        
        <h4 ng-click="pd.showWorkGroupList = !pd.showWorkGroupList"
            class="pd-group-toggle"
            ng-class="pd.showWorkGroupList ? 'open' : 'closed'"
            layout="row">
            <span>Arbejdsgruppe</span>
            <span flex></span>
            <i class="material-icons">keyboard_arrow_down</i>
        </h4>
        <ul ng-show="pd.showWorkGroupList">
			<div layout="row" ng-repeat="mem in pd.site.members.pd_workgroup">
				<div flex="80">{{ mem.displayName }}</div>
				<div flex="20" style="position: relative; top: -10px">
					<md-menu ng-controller="SiteController as vm">
						<md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
							<md-icon md-menu-origin>dehaze</md-icon>
						</md-button>
						<md-menu-content width="5">
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.updateMemberRoleDialog($event, member.authority)">
									<md-icon md-menu-align-target>create</md-icon>
									Redigér rolle
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.deleteMemberDialog(vm.project, member.authority.userName)">
									<md-icon md-menu-align-target>remove_circle_outline</md-icon>
									Fjern medlem
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
        </ul>
        
        <h4 ng-click="pd.showMonitorsList = !pd.showMonitorsList"
            class="pd-group-toggle"
            ng-class="pd.showMonitorsList ? 'open' : 'closed'"
            layout="row">
            <span>Følgegruppe</span>
            <span flex></span>
            <i class="material-icons">keyboard_arrow_down</i>
        </h4>
        <ul ng-show="pd.showMonitorsList">
			<div layout="row" ng-repeat="mem in pd.site.members.pd_monitors">
				<div flex="80">{{ mem.displayName }}</div>
				<div flex="20" style="position: relative; top: -10px">
					<md-menu ng-controller="SiteController as vm">
						<md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
							<md-icon md-menu-origin>dehaze</md-icon>
						</md-button>
						<md-menu-content width="5">
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.updateMemberRoleDialog($event, member.authority)">
									<md-icon md-menu-align-target>create</md-icon>
									Redigér rolle
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-disabled="vm.userRole === 'SiteConsumer'" ng-click="vm.deleteMemberDialog(vm.project, member.authority.userName)">
									<md-icon md-menu-align-target>remove_circle_outline</md-icon>
									Fjern medlem
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
        </ul>
		<br>
        <div layout="row" layout-align="start center" class="btnAlign">
			<div flex="15">
				<md-button class="md-raised md-icon-button" ng-click="pd.editPDSite($event)" aria-label="Redigér gruppemedlemmer"><i class="material-icons">add</i></md-button>
			</div>
			<div flex="85">
				<md-button class="md-raised md-icon-button"></md-button>
			</div>
        </div>
	</div>
    </md-card-content>