<div ng-controller="PdSiteController as pd">
    <h3 ng-click="pd.showProjDetails = !pd.showProjDetails"
        class="pd-group-toggle white"
        ng-class="pd.showProjDetails ? 'open' : 'closed'"
        layout="row"
        style="margin: 8px;">
		<span><i class="material-icons" style="vertical-align: bottom; margin-right: 10px;">info_outline</i>Detaljer</span>
        <span flex></span>
        <i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
    </h3>
	<md-card ng-show="pd.showProjDetails">
		<md-card-content>
            <div layout="row" layout-align="space-between">
                <dl style="margin-bottom: 0;">
                    <dt>Beskrivelse</dt>
                    <dd ng-if="pd.hasDescription">{{ pd.site.description }}</dd>
					<dd ng-if="!pd.hasDescription"><i>Ingen beskrivelse</i></dd>
                </dl>
                <md-button ng-if="vm.isManager" class="md-raised md-icon-button"
                           ng-click="pd.editPdSite($event)" aria-label="Redigér site">
                    <i class="material-icons">edit</i>
                </md-button>
            </div>
            <div layout="row">
                <dl flex="55">
                    <dt>Oprettet af</dt>
                    <dd>{{ pd.site.creator.fullName }} <br><span class="muted">{{ pd.site.created | date }}</span></dd>
                    <!--dt>Filnavn</dt>
                    <dd>{{ pd.site.shortName }}</dd-->                    
					<dt>Org. enhed</dt>
                    <dd>{{ pd.site.center_name }}</dd>
                </dl>
                <dl flex="30">
					<dt>Synlighed</dt>
                    <dd>{{ pd.visibilityStr }}<br><span class="muted">&nbsp;</span></dd>    
					<dt>ESDH sagsnr.</dt>
                    <dd>{{ pd.site.sbsys }}</dd>
                    
                </dl>
				<dl flex="15">
					<dt>Status</dt>
                    <dd>{{ pd.stateStr }}</dd>
                    
                </dl>
            </div>
        
		</md-card-content>
	</md-card>

	<md-card ng-controller="SiteController as sc">
		<md-card-content>

			<h3 class="od-title-icon"><i class="material-icons">group</i> Medlemmer</h3>
			<div flex="100" flex-gt-lg="100">
				<p>
				<div style="font-weight: bold;">Projektleder</div>
				<div layout="row">
					<div flex="85" class="pd-manager">
						<span ng-click="sc.openMemberInfo(pd.site.groups['PD_PROJECTMANAGER'].members[0])">
						{{ pd.site.groups['PD_PROJECTMANAGER'].members[0].displayName }}
						</span>
					</div>
					<div flex="15" hide-xs hide-sm><!-- Spacer //--></div>
				</div>
				</p>
				<p>
				<div style="font-weight: bold;">Projektejer</div>
				<div layout="row">
					<div flex="85" class="pd-owner">
						<span ng-click="sc.openMemberInfo(pd.site.groups['PD_PROJECTOWNER'].members[0])">
							{{ pd.site.groups['PD_PROJECTOWNER'].members[0].displayName }}
						</span>
					</div>
					<div flex="15" hide-xs hide-sm><!-- Spacer //--></div>
				</div>
				</p>
			</div>

			<div flex="100" flex-gt-lg="100">
				<h4 ng-click="pd.showProjGroupList = !pd.showProjGroupList"
					class="pd-group-toggle"
					ng-class="pd.showProjGroupList ? 'open' : 'closed'"
					layout="row">
					<span>Projektgruppe</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showProjGroupList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_PROJECTGROUP'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}" >
							 <span ng-click="sc.openMemberInfo(mem)">{{ mem.displayName }}</span>
						</div>

						<!--Remove if ng-if="vm.isManager" if there are more actions that site consumers may do-->
						<div flex="10" style="position: relative; top: -10px" ng-if="vm.isManager">
							<md-menu ng-controller="SiteController as vm">
								<md-button class="md-icon-button" ng-click="vm.openMenu($mdMenu.open, $event)">
									<md-icon md-menu-origin>more_vert</md-icon>
								</md-button>
								<md-menu-content width="5">
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.updateMemberRoleDialog($event, mem)">
											<md-icon md-menu-align-target>create</md-icon>
											Redigér rolle
										</md-button>
									</md-menu-item>
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.removeMemberDialog(mem, 'PD_PROJECTGROUP')">
											<md-icon md-menu-align-target>remove_circle_outline</md-icon>
											Fjern medlem
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
						<div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
					</div>
				</ul>

				<h4 ng-click="pd.showSteerGroupList = !pd.showSteerGroupList"
					class="pd-group-toggle"
					ng-class="pd.showSteerGroupList ? 'open' : 'closed'"
					layout="row">
					<span>Styregruppe</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showSteerGroupList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_STEERING_GROUP'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}">
							<span ng-click="sc.openMemberInfo(mem)">{{ mem.displayName }}</span>
							</div>
						<!--Remove if ng-if="vm.isManager" if there are more actions that site consumers may do-->
						<div flex="10" style="position: relative; top: -10px" ng-if="vm.isManager">
							<md-menu ng-controller="SiteController as vm">
								<md-button class="md-icon-button" ng-click="vm.openMenu($mdMenu.open, $event)">
									<md-icon md-menu-origin>more_vert</md-icon>
								</md-button>
								<md-menu-content width="5">
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.updateMemberRoleDialog($event, mem)">
											<md-icon md-menu-align-target>create</md-icon>
											Redigér rolle
										</md-button>
									</md-menu-item>
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.removeMemberDialog(mem, 'PD_STEERING_GROUP')">
											<md-icon md-menu-align-target>remove_circle_outline</md-icon>
											Fjern medlem
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
						<div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
					</div>
				</ul>

				<h4 ng-click="pd.showWorkGroupList = !pd.showWorkGroupList"
					class="pd-group-toggle"
					ng-class="pd.showWorkGroupList ? 'open' : 'closed'"
					layout="row">
					<span>Arbejdsgruppe</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showWorkGroupList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_WORKGROUP'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}">
							<span ng-click="sc.openMemberInfo(mem)">{{ mem.displayName }}</span>
						</div>
						<!--Remove if ng-if="vm.isManager" if there are more actions that site consumers may do-->
						<div flex="10" style="position: relative; top: -10px" ng-if="vm.isManager">
							<md-menu ng-controller="SiteController as vm">
								<md-button class="md-icon-button" ng-click="vm.openMenu($mdMenu.open, $event)">
									<md-icon md-menu-origin>more_vert</md-icon>
								</md-button>
								<md-menu-content width="5">
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.updateMemberRoleDialog($event, mem)">
											<md-icon md-menu-align-target>create</md-icon>
											Redigér rolle
										</md-button>
									</md-menu-item>
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.removeMemberDialog(mem, 'PD_WORKGROUP')">
											<md-icon md-menu-align-target>remove_circle_outline</md-icon>
											Fjern medlem
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
						<div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
					</div>
				</ul>

				<h4 ng-click="pd.showMonitorsList = !pd.showMonitorsList"
					class="pd-group-toggle"
					ng-class="pd.showMonitorsList ? 'open' : 'closed'"
					layout="row">
					<span>Følgegruppe</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showMonitorsList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_MONITORS'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}">
							<span ng-click="sc.openMemberInfo(mem)">
							{{ mem.displayName }}
							</span>
						</div>
						<!--Remove if ng-if="vm.isManager" if there are more actions that site consumers may do-->
						<div flex="10" style="position: relative; top: -10px" ng-if="vm.isManager">
							<md-menu ng-controller="SiteController as vm">
								<md-button class="md-icon-button" ng-click="vm.openMenu($mdMenu.open, $event)">
									<md-icon md-menu-origin>more_vert</md-icon>
								</md-button>
								<md-menu-content width="5">
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.updateMemberRoleDialog($event, mem)">
											<md-icon md-menu-align-target>create</md-icon>
											Redigér rolle
										</md-button>
									</md-menu-item>
									<md-menu-item ng-if="vm.isManager">
										<md-button ng-click="pd.removeMemberDialog(mem, 'PD_MONITORS')">
											<md-icon md-menu-align-target>remove_circle_outline</md-icon>
											Fjern medlem
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
						<div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
					</div>
				</ul>
				<br>

				<div layout="row" layout-align="start center" class="btnAlign">
					<md-button ng-if="vm.isManager" class="md-raised md-icon-button"
							   ng-click="pd.editPdSiteGroups($event)" aria-label="Tilføj/fjern gruppemedlemmer">
						<md-tooltip md-direction="top">Tilføj/fjern gruppemedlemmer</md-tooltip>
						<i class="material-icons">add</i>
					</md-button>
					<md-button class="md-raised md-icon-button" ng-style="vm.isManager ? 'margin-left: 30px;' : ''"
							   ng-click="pd.doPDF()" aria-label="Download PDF med grupper">
						<md-tooltip md-direction="top">Download medlemsoversigt som PDF</md-tooltip>PDF
					</md-button>
				</div>
			</div>
		</md-card-content>
	</md-card>
</div>
