<!--Remove if ng-if="vm.isManager" if there are more actions that site consumers may do-->
<div flex="10" style="position: relative; top: -10px" ng-if="vm.isManager">
    <md-menu>
        <md-button class="md-icon-button" ng-click="vm.openMenu($mdMenu.open, $event)">
            <md-icon md-menu-origin>more_vert</md-icon>
        </md-button>
        <md-menu-content width="5">
            <md-menu-item ng-if="vm.isManager">
                <md-button ng-click="pd.updateMemberRoleDialog($event, mem)">
                    <md-icon md-menu-align-target>create</md-icon>
                    {{'MEMBER.EDIT_ROLE' | translate}}
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="vm.isManager">
                <md-button ng-click="pd.removeMemberDialog(mem, 'PD_PROJECTGROUP')">
                    <md-icon md-menu-align-target>remove_circle_outline</md-icon>
                    {{'MEMBER.REMOVE_MEMBER' | translate}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>