<span ng-controller="PdSiteController as pd">
<div>
	<md-card>
		<md-card-title class="detail-header-container" ng-click="pd.showProjDetails = !pd.showProjDetails" ng-class="pd.showProjDetails ? 'open' : 'closed'">
			<div class="detail-header">
				<i class="material-icons" style="vertical-align: bottom; margin-right: 10px;">info_outline</i>{{'COMMON.DETAILS' | translate }}
			</div>
			<span flex></span>
				<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
		</md-card-title>
		<md-card-content ng-show="pd.showProjDetails">
			<div layout="row" layout-align="space-between">
				<dl style="margin-bottom: 0;">
					<dt class="od-secondary">{{'PROJECT.DESCRIPTION' | translate }}</dt>
					<dd class="od-primary" ng-if="pd.hasDescription || vm.hasDescription">
						{{ vm.project.type == 'PD-Project' ? pd.site.description : vm.project.description }}
					</dd>
					<dd class="od-primary" ng-if="!pd.hasDescription || !vm.hasDescription"><i>{{'COMMON.NODESCRIPTION' | translate}}</i></dd>
				</dl>
				<md-button ng-if="vm.isManager && vm.project.type == 'PD-Project'" class="md-primary md-icon-button" ng-click="pd.editPdSite($event)"
				    aria-label="Redigér site">
					<i class="material-icons">edit</i>
				</md-button>
				<md-button ng-if="vm.isManager && vm.project.type != 'PD-Project'" class="md-primary md-icon-button" ng-click="vm.editSiteDialog($event)"
				    aria-label="Redigér site">
					<i class="material-icons">edit</i>
				</md-button>
			</div>
			<div layout="row">
				<dl flex="55">
					<dt class="od-secondary">{{'COMMON.CREATEDBY' | translate }}</dt>
					<dd class="od-primary">{{ pd.site.creator.fullName }} <br><span class="muted">{{ pd.site.created | date }}</span></dd>
					<span ng-if="vm.project.type === 'PD-Project'">
						<dt class="od-secondary">{{'PROJECT.ORG_UNIT' | translate }}</dt>
						<dd class="od-primary">{{ pd.site.center_name }}</dd>
					</span>
				</dl>
				<dl flex="30" ng-if="vm.project.type === 'PD-Project'">
					<dt class="od-secondary">{{'COMMON.VISIBILITY' | translate }}</dt>
					<dd class="od-primary">{{ pd.visibilityStr }}<br><span class="muted">&nbsp;</span></dd>
					<dt class="od-secondary">{{'ESDH' | translate }} {{'CASE.CASE_NUMBER' | translate }}</dt>
					<dd class="od-primary">{{ pd.site.sbsys }}</dd>

				</dl>
				<dl flex="15" ng-if="vm.project.type === 'PD-Project'">
					<dt class="od-secondary">{{'COMMON.STATUS' | translate }}</dt>
					<dd class="od-primary">{{ pd.stateStr }}</dd>

				</dl>
			</div>

		</md-card-content>
	</md-card>
</div>

<md-card ng-controller="SiteController as sc">
	<md-card-content>
		<h3 class="od-title-icon od-primary"><i class="material-icons">group</i> {{'MEMBER.MEMBERS' | translate }}</h3>

		<div ng-if="vm.project.type != 'PD-Project'">
			<md-list class="od-members">
				<md-list-item ng-repeat="member in members | orderBy:sc.roleComparator">
					<div flex="50" flex-gt-lg="60">
						<a class="od-primary" ng-click="sc.openMemberInfo(member)">{{ member.authority.firstName }} {{ member.authority.lastName }}</a>
					</div>
					<div flex="30" class="od-secondary">
						{{ role_mapping[member.role] }}
					</div>
					<div flex="10" flex-gt-lg="10" style="text-align: right;">
						<md-menu ng-if="vm.isManager">
							<md-button class="md-icon-button" ng-click="$mdMenu.open()">
								<md-icon md-menu-origin>more_vert</md-icon>
							</md-button>

							<md-menu-content width="5">
								<md-menu-item>
									<md-button ng-click="vm.updateMemberRoleDialog($event, member.authority, member.role)">
										<md-icon md-menu-align-target>create</md-icon>
										{{'MEMBER.EDIT_MEMBER' | translate }}
									</md-button>
								</md-menu-item>

								<md-menu-item>
									<md-button ng-click="vm.deleteMemberDialog($event, vm.project.shortName, member.authority.userName);">
										<md-icon md-menu-align-target>remove_circle_outline</md-icon>
										{{'COMMON.REMOVE' | translate }}
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</div>

		<div ng-if="vm.project.type === 'PD-Project'">
			<div flex="100" flex-gt-lg="100">
				<p>
					<div class="od-secondary" style="font-weight: bold;">{{'PROJECT.PROJECTLEAD' | translate}}</div>
					<div layout="row">
						<div flex="85" class="pd-manager">
							<a class="od-primary" ng-click="sc.openMemberInfo(pd.site.groups['PD_PROJECTMANAGER'].members[0])">
						{{ pd.site.groups['PD_PROJECTMANAGER'].members[0].displayName }}
						</a>
						</div>
					</div>
				</p>
				<p>
					<div class="od-secondary" style="font-weight: bold;">{{'PROJECT.PROJECTOWNER' | translate}}</div>
					<div layout="row">
						<div flex="85" class="pd-owner">
							<a class="od-primary" ng-click="sc.openMemberInfo(pd.site.groups['PD_PROJECTOWNER'].members[0])">
							{{ pd.site.groups['PD_PROJECTOWNER'].members[0].displayName }}
						</a>
						</div>

					</div>
				</p>
			</div>

			<div flex="100" flex-gt-lg="100">
				<h4 ng-click="pd.showProjGroupList = !pd.showProjGroupList" class="pd-group-toggle" ng-class="pd.showProjGroupList ? 'open' : 'closed'"
				    layout="row">
					<span>{{'PROJECT.GROUPS.PROJECT_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showProjGroupList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_PROJECTGROUP'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}">
							<a class="od-primary" ng-click="sc.openMemberInfo(mem)">{{ mem.displayName }}</a>
						</div>

						<div ng-include="'app/src/sites/modules/pd_sites/view/groupsActionMenu.html'"></div>

						</div>
					</div>
				</ul>

				<h4 ng-click="pd.showSteerGroupList = !pd.showSteerGroupList" class="pd-group-toggle" ng-class="pd.showSteerGroupList ? 'open' : 'closed'"
				    layout="row">
					<span>{{'PROJECT.GROUPS.MANAGEMENT_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showSteerGroupList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_STEERING_GROUP'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}">
							<a class="od-primary" ng-click="sc.openMemberInfo(mem)">{{ mem.displayName }}</a>
						</div>
						<div ng-include="'app/src/sites/modules/pd_sites/view/groupsActionMenu.html'"></div>
					</div>
				</ul>

				<h4 ng-click="pd.showWorkGroupList = !pd.showWorkGroupList" class="pd-group-toggle" ng-class="pd.showWorkGroupList ? 'open' : 'closed'"
				    layout="row">
					<span>{{'PROJECT.GROUPS.WORK_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showWorkGroupList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_WORKGROUP'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}">
							<a class="od-primary" ng-click="sc.openMemberInfo(mem)">{{ mem.displayName }}</a>
						</div>
						<div ng-include="'app/src/sites/modules/pd_sites/view/groupsActionMenu.html'"></div>
					</div>
				</ul>

				<h4 ng-click="pd.showMonitorsList = !pd.showMonitorsList" class="pd-group-toggle" ng-class="pd.showMonitorsList ? 'open' : 'closed'"
				    layout="row">
					<span>{{'PROJECT.GROUPS.FOLLOW_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<ul ng-show="pd.showMonitorsList">
					<div class="pd-member" layout="row" ng-repeat="mem in pd.site.groups['PD_MONITORS'].members">
						<div flex="{{vm.canEdit ? 85 : 95}}">
							<a class="od-primary" ng-click="sc.openMemberInfo(mem)">
							{{ mem.displayName }}
							</a>
						</div>
						<div ng-include="'app/src/sites/modules/pd_sites/view/groupsActionMenu.html'"></div>
					</div>
				</ul>
			</div>
		</div>

		<md-card-actions layout="row" layout-align="start center" class="btnAlign">
			<md-button ng-if="vm.project.type == 'PD-Project'" class="md-primary md-icon-button" ng-style="vm.isManager ? 'margin-left: 30px;' : ''"
			    ng-click="pd.doPDF()" aria-label="Download PDF med grupper">
				<md-tooltip md-direction="top">{{'MEMBER.DOWNLOAD_PDF' | translate}}</md-tooltip>
				<i class='material-icons'>picture_as_pdf</i>
			</md-button>

			<span flex></span>

			<md-button ng-if="vm.isManager" class="md-primary md-icon-button" ng-click="vm.project.type == 'PD-Project' ? pd.editPdSiteGroups($event) : vm.newMember($event)"
			    aria-label="Tilføj gruppemedlemmer">
				<md-tooltip ng-if="vm.project.type == 'PD-Project'" md-direction="top">{{'COMMON.ADD' | translate}}/{{'COMMON.REMOVE' | translate | lowercase}} {{'MEMBER.MEMBERS' | translate | lowercase}}</md-tooltip>
				<md-tooltip ng-if="vm.project.type != 'PD-Project'" md-direction="top">{{'MEMBER.ADD_MEMBER' | translate}}</md-tooltip>
				<i class="material-icons">person_add</i>
			</md-button>
		</md-card-actions>
	</md-card-content>
</md-card>
</span>