<md-dialog aria-label="Opret nyt avanceret projekt" class="pd-create-site-diag">
    <form ng-submit="submitNewPDSite()">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Opret nyt projekt med styring og følgegrupper</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons" aria-label="Luk dialogboks">close</i>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Navn og styring">
                    <md-content class="md-padding" layout="column">
                        <md-input-container>
                            <label>Projektnavn</label>
                            <input type="text" ng-model="newSite.siteName" required>
                            </md-input-container>
                        <md-input-container>
                            <label>Beskrivelse</label>
                            <textarea ng-model="newSite.desc"></textarea>
                        </md-input-container>
                            
                        <md-autocomplete
                                    md-selected-item="newSite.owner"
                                    md-search-text="searchText"
                                    md-selected-item-change="selectedItemChange( item )"
                                    md-items="item in querySearchProjectOwners( searchText )"
                                    md-item-text="item.shortName"
                                    md-min-length="2"
                                    placeholder="Projektejer">
                                <md-item-template>
                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{ item.fullName }}</span>
                                </md-item-template>
                                <md-not-found>
                                    Ingen brugere matcher "{{ searchText }}".
                                </md-not-found>
                        </md-autocomplete>
                            
                        <md-input-container>
                            <label>Projektleder</label>
                            <input type="text" ng-model="newSite.manager" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Organisatorisk enhed</label>
                            <input type="text" ng-model="newSite.center_id" required>
                        </md-input-container>
                        <md-input-container>
                            <label>SBSYS sagsnr.</label>
                            <input type="text" ng-model="newSite.sbsys" required>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="Grupper">
                    <md-content class="md-padding" layout="column">
                        
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" >
                Annullér
            </md-button>
            <span flex></span>
            <input type="submit" class="md-button md-raised md-primary" value="Opret">
        </md-dialog-actions>
        
    </form>
</md-dialog>