<md-dialog aria-label="Opret/redigér avanceret projekt" class="pd-create-site-diag">
    <form ng-submit="createPdSite()" class="pd-site-create-form" name="pdcreatesite">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Opret nyt projekt med styring og følgegrupper</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons" aria-label="Luk dialogboks">close</i>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Navn og styring">
                    <md-content class="md-padding" layout="row" layout-padding>
                        <div flex="50">
                            {{ variable }}
                            <md-input-container class="template-input">
                                <label>Skabelon</label>
                                <md-select ng-model="newSite.template.name">
                                    <md-option ng-repeat="x in templates" value="{{ x.shortName }}">
                                        {{ x.displayName }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            
                            <!--
                            <label>Skabelon</label>
                            <select ng-model="newSite.template" ng-options="x.name for x in templates" >
                            </select>
                            -->

                            <md-input-container style="width: 100%;">
                                <label>Projektnavn</label>
                                <input type="text" ng-model="newSite.siteName" required>
                            </md-input-container>

                            <md-autocomplete
									required
                                    md-selected-item="newSite.projectOwner"
                                    md-search-text="prjownsrchtxt"
                                    md-items="own in searchProjectOwners(prjownsrchtxt)"
                                    md-item-text="own.displayName"
                                    md-min-length="1"
                                    md-floating-label="Projektejer"
                                    placeholder="Projektejer">
                                <md-item-template>
                                    <span md-highlight-text="prjownsrchtxt" md-highlight-flags="^i">{{ own.displayName }}</span>
                                </md-item-template>
                                <md-not-found>
                                    Ingen brugere matcher "{{ prjownsrchtxt }}".
                                </md-not-found>
                            </md-autocomplete>
                            
                            <md-input-container style="width: 100%;">
                                <label>Beskrivelse</label>
                                <textarea ng-model="newSite.desc" md-maxlength='250'></textarea>
                            </md-input-container>
                        </div>
                        <div flex="50">
                            <md-input-container class="org-input">
                                <label>Organisatorisk enhed</label>
                                <md-select ng-model="newSite.center_id" required>
                                    <md-option ng-repeat="org in availOrgs" value="{{ org.shortName }}">
                                        {{ org.displayName }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            
                            <md-input-container style="width: 100%;">
                                <label>ESDH sagsnr.</label>
                                <input type="text" ng-model="newSite.sbsys" required>
                            </md-input-container>

                            <md-autocomplete
									required
                                    md-selected-item="newSite.manager"
                                    md-search-text="searchTextManager"
                                    md-items="man in searchPeople(searchTextManager)"
                                    md-item-text="man.firstName + ' ' + man.lastName"
                                    md-min-length="1"
                                    md-floating-label="Projektleder"
                                    placeholder="Projektleder">
                                <md-item-template>
                                    <span md-highlight-text="searchTextManager" md-highlight-flags="^i">{{ man.firstName }} {{ man.lastName }}</span>
                                </md-item-template>
                                <md-not-found>
                                    Ingen brugere matcher "{{ searchTextManager }}".
                                </md-not-found>
                            </md-autocomplete>
                            
                            <md-checkbox ng-model="newSite.isPrivate" aria-label="Gør projektet privat">
                                Privat projekt
                            </md-checkbox>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Grupper">
                    <md-content class="md-padding" layout="row" layout-padding>
                        <div flex="50">
                            <fieldset>
                                <legend>Projektgruppe</legend>
                                <md-chips ng-model="projektGruppe"
                                          md-autocomplete-snap
                                          md-require-match="true">
                                    <md-autocomplete md-selected-item="selectedProjGrpItem"
                                                     md-search-text="srchprjgrptxt"
                                                     md-items="pgitem in searchPeople(srchprjgrptxt)"
                                                     md-item-text="pgitem.firstName"
                                                     placeholder="Angiv et medlem">
                                        <span md-highlight-text="srchprjgrptxt">{{ pgitem.firstName }} {{ pgitem.lastName }}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{ $chip.firstName }}</strong> {{ $chip.lastName }}
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </fieldset>
                            <fieldset>
                                <legend>Styregruppe</legend>
                                <md-chips ng-model="styreGruppe"
                                          md-autocomplete-snap
                                          md-require-match="true">
                                    <md-autocomplete md-selected-item="selectedStyreGrpItem"
                                                     md-search-text="srchstrgrptxt"
                                                     md-items="sgitem in searchPeople(srchstrgrptxt)"
                                                     md-item-text="sgitem.firstName"
                                                     placeholder="Angiv et medlem">
                                        <span md-highlight-text="srchstrgrptxt">{{ sgitem.firstName }} {{ sgitem.lastName }}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{ $chip.firstName }}</strong> {{ $chip.lastName }}
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </fieldset>
                        </div>
                        <div flex="50">
                            <fieldset>
                                <legend>Arbejdsgruppe</legend>
                                <md-chips ng-model="arbejdsGruppe"
                                          md-autocomplete-snap
                                          md-require-match="true">
                                    <md-autocomplete md-selected-item="selectedArbejdsGrpItem"
                                                     md-search-text="srchrbjdgrptxt"
                                                     md-items="agitem in searchPeople(srchrbjdgrptxt)"
                                                     md-item-text="agitem.firstName"
                                                     placeholder="Angiv et medlem">
                                        <span md-highlight-text="srchrbjdgrptxt">{{ agitem.firstName }} {{ agitem.lastName }}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{ $chip.firstName }}</strong> {{ $chip.lastName }}
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </fieldset>
                            <fieldset>
                                <legend>Følgegruppe</legend>
                                <md-chips ng-model="folgeGruppe"
                                          md-autocomplete-snap
                                          md-require-match="true">
                                    <md-autocomplete md-selected-item="selectedFolgeGrpItem"
                                                     md-search-text="srchflggrptxt"
                                                     md-items="fgitem in searchPeople(srchflggrptxt)"
                                                     md-item-text="fgitem.firstName"
                                                     placeholder="Angiv et medlem">
                                        <span md-highlight-text="srchflggrptxt">{{ fgitem.firstName }} {{ fgitem.lastName }}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{ $chip.firstName }}</strong> {{ $chip.lastName }}
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </fieldset>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            <!--<md-button ng-click="cancel()" >
                Annullér
            </md-button>-->
            <span flex></span>
            <input type="submit" ng-disabled="pdcreatesite.$invalid" class="md-button md-raised md-primary" value="Opret">
        </md-dialog-actions>
        
    </form>
</md-dialog>
