<md-dialog aria-label="Opret nyt avanceret projekt" class="pd-create-site-diag">
    <form ng-submit="submitNewPDSite()" class="pd-site-create-form">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Opret nyt projekt med styring og følgegrupper</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons" aria-label="Luk dialogboks">close</i>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Navn og styring">
                    <md-content class="md-padding" layout="column">
                        <md-input-container>
                            <label>Projektnavn</label>
                            <input type="text" ng-model="newSite.siteName" required>
                            </md-input-container>
                        <md-input-container>
                            <label>Beskrivelse</label>
                            <textarea ng-model="newSite.desc" required></textarea>
                        </md-input-container>
                            
                        <md-autocomplete
                                md-selected-item="newSite.owner"
                                md-search-text="searchTextOwner"
                                md-items="item in searchProjectOwners(searchTextOwner)"
                                md-item-text="item.fullName"
                                md-min-length="2"
                                placeholder="Projektejer">
                            <md-item-template>
                                <span md-highlight-text="searchTextOwner" md-highlight-flags="^i">{{ item.fullName }}</span>
                            </md-item-template>
                            <md-not-found>
                                Ingen brugere matcher "{{ searchTextOwner }}".
                            </md-not-found>
                        </md-autocomplete>
                            
                        <md-autocomplete
                                md-selected-item="newSite.manager"
                                md-search-text="searchTextManager"
                                md-items="man in searchPeople(searchTextManager)"
                                md-item-text="man.firstName + ' ' + man.lastName"
                                md-min-length="2"
                                placeholder="Projekleder">
                            <md-item-template>
                                <span md-highlight-text="searchTextManager" md-highlight-flags="^i">{{ man.firstName }} {{ man.lastName }}</span>
                            </md-item-template>
                            <md-not-found>
                                Ingen brugere matcher "{{ searchTextManager }}".
                            </md-not-found>
                        </md-autocomplete>
                        
                        <md-input-container>
                            <label>Organisatorisk enhed</label>
                            <md-select ng-model="newSite.center_id" required>
                                <md-option ng-repeat="org in availOrgs" value="{{ org.shortName }}">
                                    {{ org.displayName }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        
                        <md-input-container>
                            <label>SBSYS sagsnr.</label>
                            <input type="text" ng-model="newSite.sbsys" required>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="Grupper">
                    <md-content class="md-padding" layout="column">
                        
                        <md-chips ng-model="projektGruppe"
                                  md-autocomplete-snap
                                  md-require-match="true">
                            <md-autocomplete md-selected-item="selectedProjGrpItem"
                                             md-search-text="srchprjgrptxt"
                                             md-items="pgitem in searchPeople(srchprjgrptxt)"
                                             md-item-text="pgitem.firstName"
                                             placeholder="Angiv et projektmedlem">
                                <span md-highlight-text="srchprjgrptxt">{{ pgitem.firstName }} {{ pgitem.lastName }}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{ $chip.firstName }}</strong> {{ $chip.lastName }}
                                </span>
                            </md-chip-template>
                        </md-chips>
                        
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" >
                Annullér
            </md-button>
            <span flex></span>
            <input type="submit" class="md-button md-raised md-primary" value="Opret">
        </md-dialog-actions>
        
    </form>
</md-dialog>