<md-dialog aria-label="Opret/redigér avanceret projekt" class="pd-create-site-diag">
    <form ng-submit="updatePdSite()" class="pd-site-create-form" name="pdcreatesite">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>{{'COMMON.EDIT' | translate}} {{'PROJECT.PROJECT' | translate | lowercase}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons" aria-label="Luk dialogboks">close</i>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-dialog-content>
            <md-content class="md-padding" layout="row" layout-padding>
                <div flex="50">
                    <md-input-container style="width: 100%;">
                        <label>{{'COMMON.NAME' | translate}}</label>
                        <input type="text" ng-model="newSite.siteName" required>
                    </md-input-container>
                    <md-input-container style="width: 100%;">
                        <label>{{'COMMON.DESCRIPTION' | translate}}</label>
                        <textarea ng-model="newSite.desc"></textarea>
                    </md-input-container>
                    <md-autocomplete
                        md-selected-item="newSite.owner"
                        md-search-text="searchTextOwner"
                        md-items="own in searchProjectOwners(searchTextOwner)"
                        md-item-text="own.displayName"
                        md-min-length="1"
                        md-floating-label="{{'PROJECT.PROJECTOWNER' | translate}}"
                        md-clear-button=true
                        placeholder="{{'PROJECT.PROJECTOWNER' | translate}}">
                        <md-item-template>
                            <span md-highlight-text="searchTextOwner" md-highlight-flags="^i">{{ own.displayName }}</span>
                        </md-item-template>
                        <md-not-found>
                            {{'ERROR.NO_USERS_MATCHES' | translate}} "{{ searchTextOwner }}".
                        </md-not-found>
                    </md-autocomplete>
                    <md-checkbox ng-model="newSite.isPrivate" aria-label="Gør projektet privat">
                        {{'COMMON.CLOSED' | translate}} {{'PROJECT.PROJECT' | translate | lowercase}}
                    </md-checkbox>
                </div>
                <div flex="50">
                    <md-input-container style="width: 100%;">
                        <label>{{'ESDH' | translate}} {{'CASE.CASE_NUMBER' | translate}}</label>
                        <input type="text" ng-model="newSite.sbsys" required>
                    </md-input-container>
                    <md-input-container class="org-input">
                        <label>{{'PROJECT.ORG_UNIT' | translate}}</label>
                        <md-select ng-model="newSite.center_id" required>
                            <md-option ng-repeat="org in availOrgs" value="{{ org.shortName }}">
                                {{ org.displayName }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-autocomplete
                            md-selected-item="newSite.manager"
                            md-search-text="searchTextManager"
                            md-items="man in searchPeople(searchTextManager)"
                            md-item-text="man.displayName"
                            md-min-length="1"
                            md-floating-label="{{'PROJECT.PROJECTLEAD' | translate}}"
                            md-clear-button=true
                            placeholder="{{'PROJECT.PROJECTLEAD' | translate}}">
                        <md-item-template>
                            <span md-highlight-text="searchTextManager" md-highlight-flags="^i">{{ man.displayName}}</span>
                        </md-item-template>
                        <md-not-found>
                            {{'ERROR.NO_USERS_MATCHES' | translate}} "{{ searchTextManager }}".
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container>
                        <label>{{'PROJECT.STATUS' | translate}}</label>
                        <md-select ng-model="newSite.state">
                            <md-option ng-repeat="state in newSite.availStates" ng-value="state">
                                {{ state.stateStr }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-content>
        
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            <!--<md-button ng-click="cancel()" >
                Annullér
            </md-button>-->
            <span flex></span>
            <input type="submit" class="md-button md-raised md-primary" value="{{'COMMON.SAVE' | translate}}">
        </md-dialog-actions>
        
    </form>
</md-dialog>
