<md-dialog aria-label="{{'MEMBER.ADD_REMOVE_MEMBERS' | translate}}" class="pd-create-site-diag">
	<form name="membersForm" ng-submit="updatePDSiteGroups()" class="pd-site-create-form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'MEMBER.ADD_REMOVE_MEMBERS' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="material-icons" aria-label="Luk dialogboks">close</i>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<md-content class="md-padding" layout="column">
				<h4 ng-click="showProjGroupList = !showProjGroupList" class="pd-group-toggle" layout="row" ng-class="showProjGroupList ? 'open' : 'closed'">
					<span>{{'PROJECT.GROUPS.PROJECT_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<div>
					<md-chips ng-model="groups['PD_PROJECTGROUP']" md-autocomplete-snap md-require-match="true" md-on-remove="removeMember($chip, 'PD_PROJECTGROUP')"
					    md-on-add="addMember($chip, 'PD_PROJECTGROUP')">
						<md-autocomplete 
							md-selected-item="selectedProjGrpItem" 
							md-search-text="srchprjgrptxt" 
							md-items="pgitem in searchPeople(srchprjgrptxt)"
						    md-item-text="pgitem.firstName" 
							placeholder="{{'PROJECT.MEMBER' | translate}}">
							<span md-highlight-text="srchprjgrptxt">{{ pgitem.firstName }} {{ pgitem.lastName }}</span>
						</md-autocomplete>
						<md-chip-template>
							<span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chip.lastName }}</span><br>
						</md-chip-template>
					</md-chips>

					<div style="font-weight: bold; font-size: 90%; padding: 15px;">{{'MEMBER.ADD_EXTERNAL_MEMBERS' | translate}}</div>
					<div style="padding-left: 15px;" layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.FIRST_NAME' | translate}}</label>
							<input type="text" name="pgxfirstname" ng-model="pgxfirstname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.LAST_NAME' | translate}}</label>
							<input type="text" name="pgxlastname" ng-model="pgxlastname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'COMMON.EMAIL' | translate}}</label>
							<input type="email" name="pgxemail" ng-model="pgxemail" ng-pattern="/^.+@.+\..+$/">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<div style="position: relative; top: -25px;" class="btnAlign">
							<md-button class="md-primary" ng-click="addExternalUserToGroup (pgxfirstname, pgxlastname, pgxemail, 'PD_PROJECTGROUP')">
								<i class="material-icons">add</i> {{'COMMON.ADD' | translate}}
							</md-button>
						</div>
					</div>
				</div>

				<h4 ng-click="showSteerGroupList = !showSteerGroupList" class="pd-group-toggle" layout="row" ng-class="showSteerGroupList ? 'open' : 'closed'">
					<span>{{'PROJECT.GROUPS.MANAGEMENT_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<div ng-show="showSteerGroupList">
					<md-chips ng-model="groups['PD_STEERING_GROUP']" md-autocomplete-snap md-require-match="true" md-on-remove="removeMember($chip, 'PD_STEERING_GROUP')"
					    md-on-add="addMember($chip, 'PD_STEERING_GROUP')">
						<md-autocomplete md-selected-item="selectedStyreGrpItem" md-search-text="srchstrgrptxt" md-items="sgitem in searchPeople(srchstrgrptxt)"
						    md-item-text="sgitem.firstName" placeholder="{{'PROJECT.MEMBER' | translate}}">
							<span md-highlight-text="srchstrgrptxt">{{ sgitem.firstName }} {{ sgitem.lastName }}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
                                <!--<span ng-if="$chip.displayName">{{ $chip.displayName }}</span>-->
							<span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chip.lastName }}</span>
							</span>
						</md-chip-template>
					</md-chips>
					<div style="font-weight: bold; font-size: 90%; padding: 15px;">{{'MEMBER.ADD_EXTERNAL_MEMBERS' | translate}}</div>
					<div style="padding-left: 15px;" layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.FIRST_NAME' | translate}}</label>
							<input type="text" name="stxfirstname" ng-model="stxfirstname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.LAST_NAME' | translate}}</label>
							<input type="text" name="stxlastname" ng-model="stxlastname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'COMMON.EMAIL' | translate}}</label>
							<input type="email" name="stxemail" ng-model="stxemail">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<div style="position: relative; top: -25px;" class="btnAlign">
							<md-button class="md-primary" ng-click="addExternalUserToGroup (stxfirstname, stxlastname, stxemail, 'PD_STEERING_GROUP')">
								<i class="material-icons">add</i> {{'COMMON.ADD' | translate}}
							</md-button>
						</div>
					</div>
				</div>

				<h4 ng-click="showWorkGroupList = !showWorkGroupList" class="pd-group-toggle" layout="row" ng-class="showWorkGroupList ? 'open' : 'closed'">
					<span>{{'PROJECT.GROUPS.WORK_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<div ng-show="showWorkGroupList">
					<md-chips ng-model="groups['PD_WORKGROUP']" md-autocomplete-snap md-require-match="true" md-on-remove="removeMember($chip, 'PD_WORKGROUP')"
					    md-on-add="addMember($chip, 'PD_WORKGROUP')">
						<md-autocomplete md-selected-item="selectedArbejdsGrpItem" md-search-text="srchrbjdgrptxt" md-items="agitem in searchPeople(srchrbjdgrptxt)"
						    md-item-text="agitem.firstName" placeholder="{{'PROJECT.MEMBER' | translate}}">
							<span md-highlight-text="srchrbjdgrptxt">{{ agitem.firstName }} {{ agitem.lastName }}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
                                <!--<span ng-if="$chip.displayName">{{ $chip.displayName }}</span>-->
							<span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chip.lastName }}</span>
							</span>
						</md-chip-template>
					</md-chips>
					<div style="font-weight: bold; font-size: 90%; padding: 15px;">{{'MEMBER.ADD_EXTERNAL_MEMBERS' | translate}}</div>
					<div style="padding-left: 15px;" layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.FIRST_NAME' | translate}}</label>
							<input type="text" name="arbxfirstname" ng-model="arbxfirstname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.LAST_NAME' | translate}}</label>
							<input type="text" name="arbxlastname" ng-model="arbxlastname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'COMMON.EMAIL' | translate}}</label>
							<input type="email" name="arbxemail" ng-model="arbxemail">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<div style="position: relative; top: -25px;" class="btnAlign">
							<md-button class="md-primary" ng-click="addExternalUserToGroup (arbxfirstname, arbxlastname, arbxemail, 'PD_WORKGROUP')">
								<i class="material-icons">add</i> {{'COMMON.ADD' | translate}}
							</md-button>
						</div>
					</div>
				</div>

				<h4 ng-click="showMonitorsList = !showMonitorsList" class="pd-group-toggle" layout="row" ng-class="showMonitorsList ? 'open' : 'closed'">
					<span>{{'PROJECT.GROUPS.FOLLOW_GROUP' | translate}}</span>
					<span flex></span>
					<i id="rotateArrow" class="material-icons">keyboard_arrow_down</i>
				</h4>
				<div ng-show="showMonitorsList">
					<md-chips ng-model="groups['PD_MONITORS']" md-autocomplete-snap md-require-match="true" md-on-remove="removeMember($chip, 'PD_MONITORS')"
					    md-on-add="addMember($chip, 'PD_MONITORS')">
						<md-autocomplete md-selected-item="selectedFolgeGrpItem" md-search-text="srchflggrptxt" md-items="fgitem in searchPeople(srchflggrptxt)"
						    md-item-text="fgitem.firstName" placeholder="{{'PROJECT.MEMBER' | translate}}">
							<span md-highlight-text="srchflggrptxt">{{ fgitem.firstName }} {{ fgitem.lastName }}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
                                <!--<span ng-if="$chip.displayName">{{ $chip.displayName }}</span>-->
							<span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chip.lastName }}</span>
							</span>
						</md-chip-template>
					</md-chips>
					<div style="font-weight: bold; font-size: 90%; padding: 15px;">{{'MEMBER.ADD_EXTERNAL_MEMBERS' | translate}}</div>
					<div style="padding-left: 15px;" layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.FIRST_NAME' | translate}}</label>
							<input type="text" name="flgxfirstname" ng-model="flgxfirstname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'USER.LAST_NAME' | translate}}</label>
							<input type="text" name="flgxlastname" ng-model="flgxlastname">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{'COMMON.EMAIL' | translate}}</label>
							<input type="email" name="flgxemail" ng-model="flgxemail">
						</md-input-container>
						<div flex="5" hide-xs hide-sm>
							<!-- Spacer //-->
						</div>
						<div style="position: relative; top: -25px;" class="btnAlign">
							<md-button class="md-primary" ng-click="addExternalUserToGroup (flgxfirstname, flgxlastname, flgxemail, 'PD_MONITORS')">
								<i class="material-icons">add</i> {{'COMMON.ADD' | translate}}
							</md-button>
						</div>
					</div>
				</div>
			</md-content>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button type="submit" class="md-primary">{{'COMMON.UPDATE' | translate}}</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>