<md-dialog aria-label="Opdatér grupper i projekt" class="pd-create-site-diag">
    <form ng-submit="updatePDSiteGroups()" class="pd-site-create-form">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Tilføj og fjern medlemmer i projektgrupper</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons" aria-label="Luk dialogboks">close</i>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-dialog-content>
            <md-content class="md-padding" layout="column">
                
                <fieldset>
                    <legend>Projektgruppe</legend>
                    <md-chips ng-model="projektGruppe"
                              md-autocomplete-snap
                              md-require-match="true"
                              md-on-remove="removeMember($chip, 'PD_PROJECTGROUP')"
                              md-on-add="addMember($chip, 'PD_PROJECTGROUP')">
                        <md-autocomplete md-selected-item="selectedProjGrpItem"
                                         md-search-text="srchprjgrptxt"
                                         md-items="pgitem in searchPeople(srchprjgrptxt)"
                                         md-item-text="pgitem.firstName"
                                         placeholder="Angiv et medlem">
                            <span md-highlight-text="srchprjgrptxt">{{ pgitem.firstName }} {{ pgitem.lastName }}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <span ng-if="$chip.displayName">{{ $chip.displayName }}</span>
                                <span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chipspanlastName }}</span>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </fieldset>
                <fieldset>
                    <legend>Styregruppe</legend>
                    <md-chips ng-model="styreGruppe"
                              md-autocomplete-snap
                              md-require-match="true"
                              md-on-remove="removeMember($chip, 'PD_STEERING_GROUP')"
                              md-on-add="addMember($chip, 'PD_STEERING_GROUP')">
                        <md-autocomplete md-selected-item="selectedStyreGrpItem"
                                         md-search-text="srchstrgrptxt"
                                         md-items="sgitem in searchPeople(srchstrgrptxt)"
                                         md-item-text="sgitem.firstName"
                                         placeholder="Angiv et medlem">
                            <span md-highlight-text="srchstrgrptxt">{{ sgitem.firstName }} {{ sgitem.lastName }}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <span ng-if="$chip.displayName">{{ $chip.displayName }}</span>
                                <span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chipspanlastName }}</span>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </fieldset>
                <fieldset>
                    <legend>Arbejdsgruppe</legend>
                    <md-chips ng-model="arbejdsGruppe"
                              md-autocomplete-snap
                              md-require-match="true"
                              md-on-remove="removeMember($chip, 'PD_WORKGROUP')"
                              md-on-add="addMember($chip, 'PD_WORKGROUP')">
                        <md-autocomplete md-selected-item="selectedArbejdsGrpItem"
                                         md-search-text="srchrbjdgrptxt"
                                         md-items="agitem in searchPeople(srchrbjdgrptxt)"
                                         md-item-text="agitem.firstName"
                                         placeholder="Angiv et medlem">
                            <span md-highlight-text="srchrbjdgrptxt">{{ agitem.firstName }} {{ agitem.lastName }}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <span ng-if="$chip.displayName">{{ $chip.displayName }}</span>
                                <span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chipspanlastName }}</span>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </fieldset>
                <fieldset>
                    <legend>Følgegruppe</legend>
                    <md-chips ng-model="folgeGruppe"
                              md-autocomplete-snap
                              md-require-match="true"
                              md-on-remove="removeMember($chip, 'PD_MONITORS')"
                              md-on-add="addMember($chip, 'PD_MONITORS')">
                        <md-autocomplete md-selected-item="selectedFolgeGrpItem"
                                         md-search-text="srchflggrptxt"
                                         md-items="fgitem in searchPeople(srchflggrptxt)"
                                         md-item-text="fgitem.firstName"
                                         placeholder="Angiv et medlem">
                            <span md-highlight-text="srchflggrptxt">{{ fgitem.firstName }} {{ fgitem.lastName }}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <span ng-if="$chip.displayName">{{ $chip.displayName }}</span>
                                <span ng-if="$chip.firstName">{{ $chip.firstName }} {{ $chipspanlastName }}</span>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </fieldset>
            </md-content>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" >
                Annullér
            </md-button>
            <span flex></span>
            <input type="submit" class="md-button md-raised md-primary" value="Opdatér">
        </md-dialog-actions>
        
    </form>
</md-dialog>