.od-projects {
  padding: $u*2;
}

.projects-wrap {
  width: 90%;
  margin: 1rem auto;
  background: #eee;
  padding-top: 1rem;
  h3 {
    margin: 0 1rem;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      padding: 1rem;
      border-top: 1px solid #ddd;
      md-icon {
        margin-right: 1rem;
      }
    }
  }
}

.project-buttons-wrap {
  width: 90%;
  margin: 1rem auto;
  button {
    border: none;
    background: #eee;
    padding: .5rem;
  }
}

.od-select-wrap {
  md-select {
    width: 174px;
  }
}

.od-filebrowser-link {
  display: block;
  width: 100%;
  padding: $u*0.75 0 $u*0.5;
  .material-icons {
    vertical-align: middle;
    margin-top: -($u*0.25);
  }
}

.od-title-icon {
  @extend .od-filebrowser-link;
  margin-top: 0;
  .material-icons {
    margin-right: $u/2;
  }
}

md-input-container {
  margin: 0;
  padding: 0 !important;
}

md-input-container.md-input-focused label,
md-input-container.md-input-has-value label {
  font-size: 120%;
}

md-list {
  max-height: 350px;
  max-width: 2400px;
  overflow: auto;
}

.md-button {
  font-size: 13px;
  letter-spacing: 0.04em;
}

.od-title {
  font-size: 22px;
  letter-spacing: 0.02em;
  padding-top: 14px;
  right: 145px;
}

.sortHead {
  padding-top: 0px;
}

md-card {
  position: relative;
}

.od-search {
  form {
    width: 190px;
    height: 30px;
    position: relative;
    background: white;
    border-radius: 0.25em;
    margin-right: $u/2;
    margin-bottom: $u;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  i {
    position: absolute;
    left: 5px;
    top: 3px;
    color: rgba(0, 0, 0, 0.25);
  }
  input {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 0.25em;
  }
  label {
    padding-left: $u*2 !important;
    padding-bottom: 3px;
  }
}

md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  z-index: 0;
}

.od-members {
  width: 99%;
  // table-layout: fixed;

  th {
    text-align: left;
    cursor: hand;
    padding: 10px 0 5px 5px;
    // width: 20%;
    i.material-icons {
      font-size: 15px;
    }
  }
  tr {
    td:last-child {
      text-align: right;
      button {
        margin: 0;
      }
    }
  }

  // td:nth-child(1), th:nth-child(1) { min-width: 15% }
  // td:nth-child(2), th:nth-child(2) { min-width: 35% }
  // td:nth-child(3), th:nth-child(3) { min-width: 15% }
  // td:nth-child(4), th:nth-child(4) { min-width: 15% }
  // td:nth-child(5), th:nth-child(5) { min-width: 10% }
  // td:nth-child(6), th:nth-child(6) { min-width: 10% }

  // thead {
  //   display: block;
  //   tr {
  //     // display: block;
  //     // position: relative;
  //     // height: $u * 1.5;
  //   }
  // }

  // tbody {
  //   display: block;
  //   overflow: auto;
  //   width: 100%;
  //   max-height: 300px - $u * 1.5; //match the height of md-list
  // }

  .description-label {
    padding-right: 10px;
  }
}

.od-members-row {
  border-collapse: collapse;
  tr {
    td {
      border-top: 1px solid #ededed;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
  tbody {
    tr:hover {
      background-color: #efefef;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.od-add-member {
  position: absolute;
  bottom: 0;
}

.od-filebrowser-breadcrumb {
  font-size: 16px;
  background-color: #d9d9d9;
  box-shadow: 1px 2px 1px #bdbdbd;
  a {
    padding: 0 0 2px 0;
    color: #333399;
  }
}

.od-filebrowser-breadcrumb a:after {
  content: '';
  position: relative;
  top: 3px;
  left: -8px;
  width: 14px;
  height: 17px;
  transform: scale(0.999) rotate(45deg);
  /*z-index: 1;*/
  box-shadow: 2px -2px 0px #fff;
  border-radius: 0 5px 0 50px;
}

.data {
  color: black;
}

.btnAlign {
  margin-top: 20px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.chosenFile {
  float: left;
  background-color: #fff;
  border: none;
  padding: 0 10px 40px 20px;
  i {
    position: relative;
    top: 5px;
    color: #6b6b6b;
  }
}

.menuListHead {
  padding-left: 15px;
  font-weight: bold;
  color: #5e5e5e;
  font-size: 90%;
  letter-spacing: 0.05em;
}

.menuList {
  position: relative;
  top: -15px;
  border-top: 1px solid #efefef;
  font-size: 90%;
  letter-spacing: 0.04em;
  line-height: 50px;
  a {
    color: #333399;
  }
  a:hover {
    background-color: #efefef;
    text-decoration: none;
  }
}


/*expand collapse*/

.transition {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  /* Safari */
}

.transition.ng-hide {
  opacity: 0;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pHeader {
  line-height: 30px;
  letter-spacing: 1px;
  margin: 12px 0 12px 0;
  span {
    float: left;
    font-size: 90%;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
}

.pContent {
  letter-spacing: 0.05em;
  margin-top: 0;
  max-height: 250px;
  overflow: auto;
  width: 98%;
  span {
    float: left;
    width: 92%;
    padding: 0 10px 0 10px;
    font-size: 90%;
    line-height: 28px;
  }
}

.toolbar-small {
  min-height: 25px;
  background-color: #d9d9d9;
  margin: 10px 0;
  padding: 4px 20px 0;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.md-select-value {
  z-index: 0 !important;
}

.od-filter-sidebar {

  overflow: hidden;

  md-card-content {
    min-width: 200px;
  }

  md-input-container {
    height: 56px;
    label {
      color: rgba(0, 0, 0, 0.38) !important; //38
    }
  }
  .show-all {
    height: auto;
    padding-left: 3px !important;
    color: rgba(0, 0, 0, 0.38) !important; //54
    text-overflow: ellipsis;
    md-checkbox {
      margin-bottom: $u * 2;
    }
  }
}