.od-back-btn {
  cursor: pointer;
  font-size: $u * .88;
  padding-right: $u;
  text-transform: uppercase;

  md-icon {
    color: $secondary-text-color;
  }
}

.icon-small {
  font-size: 14px !important;
}

.od-filebrowser-link {
  color: $gray-text-color;
  display: block;
  width: 100%;

  .material-icons {
    margin-top: -($u * .25);
    vertical-align: middle;
  }

  h3,
  i,
  .content-name {
    color: $primary-text-color;
    line-height: 0;
    padding: 0;
  }
}

.od-secondary {
  color: $dark-gray-text-color;
}

.od-title-icon {
  margin-top: 0;

  .material-icons {
    margin-right: $u * .5;
    margin-top: -($u * .25);
    vertical-align: middle;
  }
}

md-input-container {
  margin: 0;
  padding: 0;

  label:not(.md-no-float):not(.md-container-ignore) {
    z-index: 0;
  }

  .md-input-focused,
  .md-input-has-value {
    label {
      font-size: 120%;
    }
  }
}

md-list {
  max-height: calc(100vh - 400px);
  max-width: 2400px;
  overflow: auto;
}

.md-button {
  font-size: 13px;
  letter-spacing: .04em;
}

.od-title {
  font-size: 22px;
  letter-spacing: .02em;
  padding-top: 14px;
  right: 145px;
}

.sort-head {
  padding-top: 0;
}

md-card {
  position: relative;
}



.od-sbsys-logo {
  display: inline-block;
  max-width: 66px;
}

.od-members {
  width: 99%;

  td {
    max-width: 0;

    .overflow {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 85%;
    }
  }

  th {
    color: $dark-gray-text-color;
    cursor: pointer;
    padding: 10px 0 5px;
    text-align: left;

    .material-icons {
      font-size: 15px;
    }
  }

  tr {

    td {
      &:last-child {
        text-align: right;

        button {
          margin: 0;
        }
      }
    }
  }

  .material-icons {
    font-size: $u * 1.5;
  }

  .icon {
    width: $u * 2;
  }

  .description-label {
    padding-right: 10px;
  }
}

.od-members-row {
  border-collapse: collapse;

  tr {

    td {
      padding-bottom: 2px;
      padding-top: 2px;
    }
  }

  tbody {

    tr {
      &:hover {
        background-color: $gray-90;
      }
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-align {
  margin-top: 20px;
}

.file-upload {
  margin: 10px;
  overflow: hidden;
  position: relative;

  .upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.chosen-file {
  background-color: $white;
  border: 0;
  float: left;
  padding: 0 10px 40px 20px;

  i {
    color: #6b6b6b;
    position: relative;
    top: 5px;
  }
}

.menu-list-head {
  color: #5e5e5e;
  font-size: 90%;
  font-weight: bold;
  letter-spacing: .05em;
  padding-left: $u;
}

.menu-list {
  font-size: 90%;
  letter-spacing: .04em;
  line-height: 50px;
  position: relative;
  top: -$u;

  a {
    color: $dark-gray-text-color;

    &:hover {
      background-color: $gray-90;
      text-decoration: none;
    }
  }
}

//expand collapse

.transition {
  transition: all .4s ease-in-out;
}

.md-select-value {
  z-index: 0 !important;
}

.od-filter-sidebar {
  overflow: hidden;

  button {
    top: 0 !important;
  }

  md-card-title {
    max-height: 40px;
  }

  md-card-content,
  md-autocomplete {
    min-width: 150px;
  }

  md-input-container {
    height: $u * 3.5;

    label {
      color: $gray-text-color;
    }
  }

  .show-all {
    color: $gray-text-color;
    height: auto;
    padding-left: $u * .2;
    text-overflow: ellipsis;

    md-checkbox {
      margin-bottom: $u * 2;
    }
  }
}

md-tooltip {
  font-size: $u * .75 !important;
}

.fold-in {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height .15s ease-out, padding .1s ease-out .15s;
}

.fold-out {
  overflow-y: auto;
  max-height: 500px;
  transition: max-height .25s ease-in;
}

//control arrow for open and closing
.open {
  cursor: pointer;
  .rotate-arrow {
    transform: rotate(180deg);
    transition: transform .25s ease;
  }
}

.closed {
  cursor: pointer;
  .rotate-arrow {
    transform: rotate(0deg);
    transition: transform .15s ease;
  }
}

.group-toggle {
  background-color: $gray-90;
  border-radius: 4px;
  box-shadow: 0 $u * .25 $u * .5 $card-shadow;
  cursor: pointer;
  margin: $u 0 0;
  outline: none;
  padding: $u * .5 $u;
  transition: box-shadow .15s ease-out;

  &:hover {
    box-shadow: 0 $u * .5 $u * .5 $card-shadow;
    transition: box-shadow .25s ease-in;
  }
}

//member list
.od-site-members {
  .member {
    color: $primary-text-color;
    cursor: pointer;
    //margin-left: -20px;
  }
  md-list {
    padding: 0;
  }
}

.dropdown-card {
  md-card-title {
    outline: none;
  }
}

md-card-title {
  h3 {
    margin: 0;
  }
}

#details {
  dl {
    margin-bottom: 0;
    padding-left: .25 * $u;
    padding-right: .25 * $u;

    dd,
    dt {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dt {
      color: $gray-text-color;
    }
  }
}

.site-dialog {
  width: 50vw;

  md-content {
    padding: $u;

    #groups {
      display: inline-block;

      fieldset {
        display: inline-flex;
        margin-left: 40px;
        margin-right: 40px;
      }

      .md-chip-input-container {
        width: 100%;
      }
    }
  }

  md-input-container {
    margin: $u * .5 0;
  }

  .org-input,
  .template-input {
    margin: $u * .5 0 $u * 2;
    width: 100%;
  }
}

.md-icon--large {
  font-size: 96px !important;
  height: 96px;
  margin-top: 34px;
  width: 96px;
}
