.od-back-btn {
  cursor: pointer;
  font-size: $u*0.88;
  text-transform: uppercase;
  padding-right: $u;
  i {
    font-size: $u*0.88;
  }
}

.icon-small {
  font-size: 14px !important;
}

.od-filebrowser-link {
  display: block;
  width: 100%; //padding: $u*0.75 0 $u*0.5;
  color: rgba(0, 0, 0, 0.54) !important;
  .material-icons {
    vertical-align: middle;
    margin-top: -($u*0.25);
  }
  h3,
  p {
    padding: 0;
    line-height: 0;
  }
  p {
    font-size: $u * 0.9;
  }
}

.od-primary {
  color: rgba(0, 0, 0, 0.87) !important;
}

.od-secondary {
  color: rgba(0, 0, 0, 0.54) !important;
}

.od-title-icon {
  @extend .od-filebrowser-link;
  margin-top: 0;
  .material-icons {
    margin-right: $u/2;
  }
}

md-input-container {
  margin: 0;
  padding: 0 !important;
}

md-input-container.md-input-focused label,
md-input-container.md-input-has-value label {
  font-size: 120%;
}

md-list {
  max-height: 350px;
  max-width: 2400px;
  overflow: auto;
}

.md-button {
  font-size: 13px;
  letter-spacing: 0.04em;
}

.od-title {
  font-size: 22px;
  letter-spacing: 0.02em;
  padding-top: 14px;
  right: 145px;
}

.sortHead {
  padding-top: 0px;
}

md-card {
  position: relative;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  z-index: 0;
}

.od-sbsys-logo {
  display: inline-block;
  max-width: 66px;
}

.od-esdh-checkbox {
  width: 92px;
  input {
    float: right;
  }
}

.od-members {
  width: 99%;
  td {
    max-width: 0;
    a.overflow {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 85%;
    }
  }
  th {
    text-align: left;
    cursor: hand;
    padding: 10px 0 5px 0;
    i.material-icons {
      font-size: 15px;
    } // width: 20%;
  }
  tr {
    td:last-child {
      text-align: right;
      button {
        margin: 0;
      }
    }
  }
  i.material-icons {
    font-size: $u*1.5;
  }
  .icon {
    width: $u*2;
  }
  .description-label {
    padding-right: 10px;
  }
}

.od-members-row {
  border-collapse: collapse;
  tr {
    td {
      border-top: 1px solid #ededed;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
  tbody {
    tr:hover {
      background-color: #efefef;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.od-filebrowser-breadcrumb {
  height: 23px;
  line-height: 23px;
  font-size: $u;
  background-color: #d9d9d9;
  box-shadow: 1px 2px 1px #bdbdbd;
  a {
    padding: 0 0 2px 0;
    color: rgba(0, 0, 0, 0.54); //color: #333399;
  }
  a:after {
    content: '';
    position: relative;
    top: 3px;
    left: -8px;
    width: 14px;
    height: 17px;
    transform: scale(0.999) rotate(45deg);
    box-shadow: 2px -2px 0px #fff;
    border-radius: 0 5px 0 50px;
  }
}

.btnAlign {
  margin-top: 20px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.chosenFile {
  float: left;
  background-color: #fff;
  border: none;
  padding: 0 10px 40px 20px;
  i {
    position: relative;
    top: 5px;
    color: #6b6b6b;
  }
}

.menuListHead {
  padding-left: 15px;
  font-weight: bold;
  color: #5e5e5e;
  font-size: 90%;
  letter-spacing: 0.05em;
}

.menuList {
  position: relative;
  top: -15px;
  border-top: 1px solid #efefef;
  font-size: 90%;
  letter-spacing: 0.04em;
  line-height: 50px;
  a {
    color: rgba(0, 0, 0, 0.54);
  }
  a:hover {
    background-color: #efefef;
    text-decoration: none;
  }
}

/*expand collapse*/

.transition {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  /* Safari */
}

.pHeader {
  line-height: 30px;
  letter-spacing: 1px;
  margin: 12px 0 12px 0;
  span {
    float: left;
    font-size: 90%;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
}

.pContent {
  letter-spacing: 0.05em;
  margin-top: 0;
  max-height: 250px;
  overflow: auto;
  width: 98%;
  span {
    float: left;
    width: 92%;
    padding: 0 10px 0 10px;
    font-size: 90%;
    line-height: 28px;
  }
}

.md-select-value {
  z-index: 0 !important;
}

.od-filter-sidebar {
  overflow: hidden;
  button {
    top: 0 !important;
  }
  md-card-content,
  md-autocomplete {
    min-width: 100px;
  }
  md-input-container {
    height: 56px;
    label {
      color: rgba(0, 0, 0, 0.38) !important; //38
    }
  }
  .show-all {
    height: auto;
    padding-left: 3px !important;
    color: rgba(0, 0, 0, 0.38) !important; //54
    text-overflow: ellipsis;
    md-checkbox {
      margin-bottom: $u * 2;
    }
  }
}

md-tooltip {
  font-size: $u * 0.75 !important;
}

.fold-in {
  max-height: 0;
  padding: 0;
  transition: max-height 0.15s ease-out, padding 0.1s ease-out 0.15s;
  overflow: hidden;
}

.fold-out {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

//control arrow for open and closing
.open {
  #rotateArrow {
    transition: transform 0.25s ease;
    transform: rotate(180deg);
  }
}

.closed {
  #rotateArrow {
    transition: transform 0.15s ease;
    transform: rotate(0deg);
  }
}

.group-toggle {
  outline: none;
  background-color: #eaeaea;
  padding: $u*0.5 $u;
  margin: $u 0 0;
  transition: box-shadow 0.15s ease-out;
  box-shadow: 0 $u*0.25 $u*0.5 rgba(125, 125, 125, 0.3);
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    transition: box-shadow 0.25s ease-in;
    box-shadow: 0 $u*0.5 $u*0.5 rgba(125, 125, 125, 0.3);
  }
}

//member list
.od-site-members {
  .member {
    cursor: pointer;
    margin-left: -20px;
  }
}

.dropdown-card {
  md-card-title {
    outline: none;
    padding: 0 8px;
    margin: 8px;
    div {
      display: block;
      width: 100%;
      font-size: 1.17em;
      font-weight: bold;
    }
  }
}

#details {
  md-card-title {
    outline: none;
    padding: 0 8px;
    margin: 8px;
    div {
      display: block;
      width: 100%;
      font-size: 1.17em;
      font-weight: bold;
    }
  }
  dl {
    padding-left: 0.25*$u;
    padding-right: 0.25*$u;
    margin-bottom: 0;
    dd,
    dt {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.site-dialog {
  width: 50vw;
  md-autocomplete {
    margin-bottom: $u;
  }
  md-content {
    padding: $u;
  }
  md-content#groups {
    display: inline-block;
    fieldset {
      display: inline-flex;
      margin-right: 40px;
      margin-left: 40px;
    }
  }
  md-input-container {
    margin: $u*0.5 0;
  }
  md-autocomplete {
    margin: $u*0.5 0 $u;
  }
  .org-input,
  .template-input {
    margin: $u*0.5 0 $u*2;
    width: 100%;
  }
}

.md-icon--large {
  font-size:96px !important;
  height: 96px;
  width: 96px;
  margin-top: 34px;
}