.od-back-btn {
  cursor: pointer;
  font-size: $u * .88;
  text-transform: uppercase;
  padding-right: $u;
  i {
    font-size: $u * .88;
  }
}

.icon-small {
  font-size: 14px !important;
}

.od-filebrowser-link {
  color: $gray-text-color;
  display: block;
  width: 100%;
  .material-icons {
    margin-top: -($u * .25);
    vertical-align: middle;
  }
  h3,
  i,
  .content-name {
    color: $primary-text-color;
    line-height: 0;
    padding: 0;
  }
}

.od-primary {
  color: rgba(0, 0, 0, .87) !important;
}

.od-secondary {
  color: rgba(0, 0, 0, .54) !important;
}

.od-title-icon {
  margin-top: 0;
  .material-icons {
    margin-right: $u / 2;
    margin-top: -($u * .25);
    vertical-align: middle;
  }
}

md-input-container {
  margin: 0;
  padding: 0 !important;
  .md-input-focused label,
  .md-input-has-value label {
    font-size: 120%;
  }
}

md-list {
  max-height: 350px;
  max-width: 2400px;
  overflow: auto;
}

.md-button {
  font-size: 13px;
  letter-spacing: .04em;
}

.od-title {
  font-size: 22px;
  letter-spacing: .02em;
  padding-top: 14px;
  right: 145px;
}

.sortHead {
  padding-top: 0;
}

md-card {
  position: relative;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  z-index: 0;
}

.od-sbsys-logo {
  display: inline-block;
  max-width: 66px;
}

.od-esdh-checkbox {
  width: 92px;
  input {
    float: right;
  }
}

.od-members {
  width: 99%;
  td {
    max-width: 0;
    .overflow {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 85%;
    }
  }
  th {
    cursor: pointer;
    color: $dark-gray-text-color;
    padding: 10px 0 5px;
    text-align: left;
    .material-icons {
      font-size: 15px;
    }
  }
  tr {
    td {
      &:last-child {
        text-align: right;
        button {
          margin: 0;
        }
      }
    }
  }
  .material-icons {
    font-size: $u * 1.5;
  }
  .icon {
    width: $u * 2;
  }
  .description-label {
    padding-right: 10px;
  }
}

.od-members-row {
  border-collapse: collapse;
  tr {
    td {
      border-top: 1px solid #ededed;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
  tbody {
    tr:hover {
      background-color: #efefef;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.btnAlign {
  margin-top: 20px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  .upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.chosenFile {
  background-color: #fff;
  border: 0;
  float: left;
  padding: 0 10px 40px 20px;
  i {
    color: #6b6b6b;
    position: relative;
    top: 5px;
  }
}

.menuListHead {
  color: #5e5e5e;
  font-size: 90%;
  font-weight: bold;
  letter-spacing: .05em;
  padding-left: 15px;
}

.menuList {
  border-top: 1px solid #efefef;
  font-size: 90%;
  letter-spacing: 0.04em;
  line-height: 50px;
  position: relative;
  top: -15px;
  a {
    color: rgba(0, 0, 0, .54);
    &:hover {
      background-color: #efefef;
      text-decoration: none;
    }
  }
}


/*expand collapse*/

.transition {
  transition: all .4s ease-in-out;
}

.pHeader {
  line-height: 30px;
  letter-spacing: 1px;
  margin: 12px 0 12px 0;
  span {
    border-bottom: 1px solid #ccc;
    float: left;
    font-size: 90%;
    font-weight: bold;
  }
}

.pContent {
  letter-spacing: 0.05em;
  margin-top: 0;
  max-height: 250px;
  overflow: auto;
  width: 98%;
  span {
    float: left;
    width: 92%;
    padding: 0 10px 0 10px;
    font-size: 90%;
    line-height: 28px;
  }
}

.md-select-value {
  z-index: 0 !important;
}

.od-filter-sidebar {
  overflow: hidden;
  button {
    top: 0 !important;
  }
  md-card-title{
    max-height: 40px;
  }

  md-card-content,
  md-autocomplete {
    min-width: 150px;
  }

  md-input-container {
    height: 56px;
    label {
      color: $gray-text-color;
    }
  }
  .show-all {
    height: auto;
    padding-left: $u * .2;
    color: $gray-text-color;
    text-overflow: ellipsis;
    md-checkbox {
      margin-bottom: $u * 2;
    }
  }
}

md-tooltip {
  font-size: $u * 0.75 !important;
}

.fold-in {
  max-height: 0;
  padding: 0;
  transition: max-height .15s ease-out, padding .1s ease-out .15s;
  overflow: hidden;
}

.fold-out {
  max-height: 500px;
  transition: max-height .25s ease-in;
}

//control arrow for open and closing
.open {
  #rotateArrow {
    transition: transform .25s ease;
    transform: rotate(180deg);
  }
}

.closed {
  #rotateArrow {
    transition: transform .15s ease;
    transform: rotate(0deg);
  }
}

.group-toggle {
  background-color: $gray-90;
  border-radius: 4px;
  box-shadow: 0 $u * .25 $u * .5 $card-shadow;
  cursor: pointer;
  margin: $u 0 0;
  outline: none;
  padding: $u * .5 $u;
  transition: box-shadow .15s ease-out;

  &:hover {
    box-shadow: 0 $u * .5 $u * .5 $card-shadow;
    transition: box-shadow .25s ease-in;
  }
}

//member list
.od-site-members {
  .member {
    color: $primary-text-color;
    cursor: pointer;
    margin-left: -20px;
  }
}

.dropdown-card {
  md-card-title {
    outline: none;
  }
}

md-card-title h3 {
  margin: 0;
}

#details {
  dl {
    margin-bottom: 0;
    padding-left: .25 * $u;
    padding-right: .25 * $u;

    dd,
    dt {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dt {
      color: $gray-text-color;
    }
  }
}

.site-dialog {
  width: 50vw;

  md-autocomplete {
    margin-bottom: $u;
  }

  md-content {
    padding: $u;
  }

  md-content#groups {
    display: inline-block;

    fieldset {
      display: inline-flex;
      margin-left: 40px;
      margin-right: 40px;
    }

    .md-chip-input-container {
      width: 100%;
    }
  }

  md-input-container {
    margin: $u * .5 0;
  }

  md-autocomplete {
    margin: $u * .5 0 $u;
  }
  
  .org-input,
  .template-input {
    margin: $u * .5 0 $u * 2;
    width: 100%;
  }
}

.md-icon--large {
  font-size: 96px !important;
  height: 96px;
  margin-top: 34px;
  width: 96px;
}